<!DOCTYPE html>

<!--[if IE 8]> <html lang="{{ app.request.locale }}" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="{{ app.request.locale }}" class="ie9"> <![endif]-->  
<!--[if !IE]><!--><html lang="{{ app.request.locale }}" xmlns:fb="http://www.facebook.com/2008/fbml" ><!--<![endif]--> 

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# skaphandrus: http://ogp.me/ns/fb/skaphandrus#">

        <title>{% block page_title %}{% endblock %}</title>
        <link rel="icon" href="{{ app.request.getSchemeAndHttpHost() ~ "/favicon.ico"}}"/>
        <link rel="shortcut icon" href="{{ app.request.getSchemeAndHttpHost() ~ "/favicon.ico"}}"  />


        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="4Tm2ZPRBKI8g1uSYzNSLcRPniZr0ZB-PJAOnU-Glshc" />
        <meta name="msvalidate.01" content="A46E7B6BA16D68E9F871752AAB51389E" />
        <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
        <meta name="keywords" content="{% block page_keywords %}{% endblock %}" />
        <meta name="description" content="{% block page_description %}{% endblock %}" />

        <!-- smart app link -->        
        <meta name="apple-itunes-app" content="app-id=894101166"/>
        <meta name="google-play-app" content="app-id=com.skaphandrus.oceanlifeid">

        <!-- hreflang for language -->
        <meta itemprop="inLanguage" content="{{app.request.locale}}" />

        {% block stylesheets %}
            <link href="{{ asset('bundles/skaphandrusapp/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/skaphandrusapp/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

            <link href="{{ asset('bundles/skaphandrusapp/css/animate.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/skaphandrusapp/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/skaphandrusapp/css/app.css') }}" rel="stylesheet">
            <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
            <link href="{{ asset('bundles/skaphandrusapp/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet">

            <link href="{{ asset('bundles/skaphandrusapp/css/custom.css') }}" rel="stylesheet">

        {% endblock %}
    </head>

    <body class="top-navigation">

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            {{ render(controller('SkaphandrusAppBundle:Common:terms')) }}
        {% endif %}

        <div id="wrapper">
            {#{% include 'SkaphandrusAppBundle:Common:sidebar-menu.html.twig' with {'layout': 'form'} %}#}
            <div id="page-wrapper" class="gray-bg">
                {#<div class="row border-bottom">#}
                {% include 'SkaphandrusAppBundle:Common:navbar-menu.html.twig' with {'bg': 'white-bg'} %}
                {#</div>#}
                <!-- page-heading begin -->
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-6">
                        <h2>
                            {% block heading_title %}
                            {% endblock %}
                        </h2>
                        {% block heading_breadcrumbs %}
                        {% endblock %}
                    </div>
                    <div class="col-sm-6">
                        <div class="title-action">
                            {% block heading_action %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <!-- page-heading end -->
                <div class="wrapper wrapper-content animated ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>{% block form_title_description %}{% endblock %}</h5>
                                    </div>
                                    <div class="ibox-content">

                                        {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <div class="alert alert-success alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                {{ flashMessage|trans }}
                                            </div>
                                        {% endfor %}



                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        

            </div>

            {% include 'SkaphandrusAppBundle:Common:footer.html.twig'%}

        </div>
    </div>



    {% block javascripts %}
        <!-- Mainly scripts -->
        <script src="{{ asset('bundles/skaphandrusapp/js/jquery-2.1.1.js') }}"></script>
        <script src="{{ asset('bundles/skaphandrusapp/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/skaphandrusapp/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
        <script src="{{ asset('bundles/skaphandrusapp/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{{ asset('bundles/skaphandrusapp/js/inspinia.js') }}"></script>
        <script src="{{ asset('bundles/skaphandrusapp/js/plugins/pace/pace.min.js') }}"></script>
        <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>

    {% endblock %}

    {% include 'SkaphandrusAppBundle:Common:analytics.html.twig'%}
</body>

</html>
