{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.tableTools.min.js') }}"></script>
<script>
    $(function(){
      // bind change event to select
      $('#group_id').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
    
    
 
    
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.identification_species.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.identification_species"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block form_title_description %}
    {{ "form.identification_species.text.description"|trans }}
{% endblock %}

{% block heading_action %}
    <select name="group_id" id="group_id" >
        {% for group in groups %}
            <option value="{{ group.id }}" {% if group.id == group_id %} selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select> 




    {#{{ form(modules_form) }}#}
{% endblock %}

{% block body -%}

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }} species
    </div>
  




        <table class="table display table-striped table-bordered table-hover " cellspacing="0" width="100%">
            <thead>
{#                  <tr>
                      <th>{{ "form.identification_species.label.id"|trans }}</th>
                      <th>{{ "form.identification_species.label.name"|trans }}</th>
                      <th>{{ "form.identification_species.label.failed_refs"|trans }}</th>
                      <th>{{ "form.identification_species.label.repeated_refs"|trans }}</th> 
                      <th>{{ "form.common.label.actions"|trans }}</th>
                  </tr>#}

                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'sn.species.id') }}</th>
                    <th{% if pagination.isSorted('sn.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'sn.name') }}</th>
                    <th>{{ "form.common.label.actions"|trans }}</th>
                </tr>

            </thead>
            <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>
                            {{ entity.id }}
                        </td>
                        <td>{{ entity.name }}</td>
                        {# <td></td>
                        <td></td> #}
                        <td>
                            <a class="btn btn-white btn-sm" href="{{ path('identification_species_admin_edit', { 'id': entity.species.id }) }}"><i class="fa fa-pencil"></i> {{ "forms.common.btn.edit"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}
