{% extends 'FOSMessageBundle::layout.html.twig' %}

{% trans_default_domain 'FOSMessageBundle' %}

{% block heading_title %}{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/summernote/summernote.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/summernote/summernote-bs3.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    {# <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>#}
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/skaphandrusapp/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>

    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/summernote/summernote.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });

        $('#submit').click(function () {
            $('#message_body').html($('.summernote').code());
            $('#message').submit();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'FOSMessageBundle::_sidebar.html.twig' %}
                </div>
                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header">
                        <div class="pull-right tooltip-demo">
                            <a href="{{ url('fos_message_inbox') }}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="{{ "form.new_message.btn.discard"|trans }}"><i class="fa fa-times"></i> {{ "form.new_message.btn.discard"|trans }}</a>
                        </div>
                        <h2>
                            {{ "form.new_message.h2.send_new"|trans }}
                        </h2>
                    </div>
                    <div class="mail-box">
                        <div class="mail-body">
                            {{ form_start(form, {'action': url('fos_message_thread_new'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'id': 'message'}}) }}

                            <div class="form-group">
                                {{ form_label(form.recipient, 'form.new_message.label.to'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.recipient, {'attr': {'class': 'form-control  m-b'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.subject, 'form.new_message.label.subject'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                <div class="col-sm-10">
                                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {{ form_widget(form.body, {'attr': {'style': 'display: none;'}}) }}
                            {{ form_end(form) }}
                        </div>

                        <div class="mail-text h-200">

                            <div class="summernote"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mail-body text-right tooltip-demo">
                            <button id="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="{{ "form.new_message.btn.send"|trans }}"><i class="fa fa-reply"></i> {{ "form.new_message.btn.send"|trans }}</button>
                            <a href="{{ url('fos_message_inbox') }}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="{{ "form.new_message.btn.discard"|trans }}"><i class="fa fa-times"></i> {{ "form.new_message.btn.discard"|trans }}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

