{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>


{% endblock %}


{% block styleshets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.country.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('country_admin') }}">{{ "breadcrumb.country"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.add_country"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('country_admin_new') }}" class="btn btn-primary">{{ "form.country.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.country.text.description"|trans }}
{% endblock %}


{% block body %}


    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {#    {{ form_errors(edit_form) }}#}

    {{ form_widget(form) }}

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'country_admin', 'new_form':true} %}
    {{ form_end(form) }}


    {{ form(form) }}

{% endblock %}
