{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block page_title %}{{ "page.judge_result_edit.meta_tag.title"|trans }}{% endblock %}

{% block page_description %}{{ "page.judge_result_edit.meta_tag.description"|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.judge_result.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path('judge_result_admin', { 'contest_id': contest.id }) }}">{{ "breadcrumb.judge_result"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_judge_result"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block form_title_description %}
    {{ "form.judge_result.text.description"|trans }} 
{% endblock %}

{% block body -%}

    <h2>{{ contest.name }} - {{ votation.category.name }}</h2>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.judge_result.label.photo_contest"|trans }}</th>
                <th>{{ "form.judge_result.label.judge_vote"|trans }}</th>
                {#<th>{{ "form.judge_result.label.judge_vote_total"|trans }}</th>#}
            </tr>
        </thead>
        <tbody>

            {% for p in results %}
                <tr>
                    <td> 
                        <a href="{{path('photo_no_slug', { 'id': p.photo.id })}}" > 
                            <img src="{{ p.photo.getWebPath | imagine_filter('sk_widen_400') }}" class="img-rounded" alt="{{ p.photo }}">
                        </a>
                    </td>
                    <td>
                        {% for vote in p.photo_votes %}
                            <img src="{{ vote.votation.judge.fosUser.settings.getWebPath|imagine_filter('sk_thumbnail_outbound_48') }}" class="img-circle" style="width:30px" alt="{{ vote.votation.judge }}">
                            {{ vote.votation.judge|title }}: {{ vote.points }}
                            <br/>
                            {#{% set aux = '<img alt="'~ vote.votation.judge ~'" class="img-circle" style="width:30px" src="'~ vote.votation.judge.fosUser.settings.getWebPath|imagine_filter('sk_thumbnail_outbound_48') ~'">' %}
                            {% trans with {'%judge%': vote.votation.judge|title, '%img%': aux, '%points%': vote.points } %}page.judge_result_edit.meta_tag.judge{% endtrans %}#}
                        {% endfor %}
                        <b>{{ "form.judge_result.label.judge_vote_total"|trans }}:</b> {{ p.points }}
                    </td>
                    {#<td>
                        {{ p.points }}
                    </td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group">
        <a class="btn btn-white" href="{{ path('judge_result_admin', {'contest_id':contest.id}) }}">{{ "form.common.btn.back_to_list"|trans }}</a>
    </div>

{% endblock %}
