{% extends 'SkaphandrusAppBundle:SkBusinessFosUser:_base_registrationEmail_template.html.twig' %}

{% block title %}
    Hi {{ businessFosUser.name }},
{% endblock %}

{#{% block intro %}
    {% trans with {'%user%': businessFosUser.name} %}registration.email.intro{% endtrans %}
{% endblock %}#}

{% block content %}

    <p>
        Thanks for registering {{ businessFosUser.businessName }} on skaphandrus.com. 
        We hope that you will have a great experience on our site.
    </p>

    <p>Here is your login information. Be sure to keep it somewhere safe!</p>
    <p>
        <strong>Name:</strong> {{ businessFosUser.name }}<br/>
        <strong>Email:</strong> {{ businessFosUser.email }}
    </p>

    <p>And here is your business information.</p>
    <p>
        <strong>Business Name:</strong> {{ businessFosUser.businessName }}<br/>
        <strong>Business Email:</strong> {{ businessFosUser.businessEmail }}<br/>
        <strong>Business Location:</strong> {{ businessFosUser.location }}, {{ business.address.location.region }}
        {% if businessFosUser.observations %}
            <br/><strong>Observations:</strong> {{ businessFosUser.observations }}
        {% endif %}
    </p>
    <p>Have questions? Email us at partnerships@skaphandrus.com</p>

{% endblock %}

{% block action %}
    <a href="https://skaphandrus.com{{ path('business_admin_edit', { 'id': business.id }) }}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 96%; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #1ab394; margin: 0; padding: 0; border-color: #1ab394; border-style: solid; border-width: 5px 10px;">Complete your Dive Center/Business Page</a>
    <br/>
    <br/>
    <a href="https://skaphandrus.com{{ path('business_no_slug', { 'id': business.id }) }}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 96%; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #1ab394; margin: 0; padding: 0; border-color: #1ab394; border-style: solid; border-width: 5px 10px;">View your Dive Center/Business Page</a>
{% endblock %}

