{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:vertical_choices_rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
{% endblock %}


{% block heading_title %}
    {{ "form.business_settings.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('business_admin')}}">{{ "breadcrumb.business"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_business_settings"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    {#<a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business_education.btn.add"|trans }}</a>#}
    <a class="btn btn-success" href="{{ path('business', { 'country': slugify(intl_country_name(entity.address.location.region.country.name)), 'location': slugify(entity.address.location), 'slug': slugify(entity.name) }) }}">{{ "forms.common.btn.visit_business"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.business_settings.text.description"|trans }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    <p>{{ "form.business_settings.text.admin_help"|trans }}</p>
    <br/>
    
    {{ form_widget(edit_form) }}

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'business_admin', 'new_form':false} %}

    {{ form_end(edit_form) }}


{% endblock %}
