{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.points.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.points"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.points.text.description"|trans }}
{% endblock %}



{% block body -%}

    <p> <b>{{ total_points }}</b> {{ "form.points.text.points"|trans }}</p>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.points.label.name"|trans }}</th>
                <th>{{ "form.points.label.single"|trans }}</th>
                <th>{{ "form.points.label.number"|trans }}</th>
                <th>{{ "form.points.label.points"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.pointsType|trans|raw }}</td>
                    <td>{{ arr[entity.pointsType.id].single }}</td>
                    <td>{{ arr[entity.pointsType.id].number }}</td>
                    <td>{{ entity.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
