{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block heading_title %}
    {{ "form.modules.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_modules"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.modules.text.description"|trans }}
{% endblock %}
{% block body -%}



    <div class="alert alert-info">
        <b>{{ entity.settings.points }}</b> {{ "form.points.text.points"|trans }} <a href="{{path("points_admin")}}" data-placement="left" data-toggle="tooltip" class="btn btn-white btn-sm" href="" data-original-title="Recalculate points"><i class="fa fa-refresh"></i> {{"form.modules.label.recalculate_points"|trans}}</a></div>


    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}


    {% if form_errors(edit_form)|length > 0 %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ form_errors(edit_form) }}
        </div>

    {% endif %}


    <table class="table table-striped" >
        <thead>
            <tr>
                <th></th> 
                <th>{{ "form.modules.label.name"|trans }}</th>
                <th>{{ "form.modules.label.points"|trans }}</th>
                    {#<th>{{ "form.modules.label.acquisition_type"|trans }}</th>#}
                    {#<th>{{ "form.modules.label.acquired_at"|trans }}</th>#}
            </tr>
        </thead>
        <tbody>

            {% for module in edit_form.modules %}

                {% set index = module.vars.value %}{# get array index #}
                {% set entity = edit_form.modules.vars.choices[index].data %}{# get entity object #}

                {% if entity.points == 0 %}
                    {% set checked = true %}
                {% else %}
                    {% set checked = false %}
                {% endif%}

                <tr>
                    <td>{{ form_widget(module,{ 'attr': {'checked': checked} }) }}</td>{# render checkbox #}
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.pointsName|trans }}</td>
                    {#                    {% if entity.acquisitions|length > 0 %}
                                            {% for acquisition in entity.acquisitions %}
                                                <td>{{ acquisition.acquisitionType }}</td>
                                                <td>{{ acquisition.acquiredAt|date('Y-m-d H:i:s') }}</td>
                                            {% endfor %}
                                        {% else %}
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        {% endif %}
                    #}                </tr>
                {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">{{ "form.common.btn.update"|trans }}</button>
    {{ form_end(edit_form) }}

{% endblock %}
