{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "page.business_booking.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href = "{{ path('booking_admin')}}" >{{ "breadcrumb.booking"|trans }} </a></li>
        <li class="active"><strong>{{ "breadcrumb.show_business_booking"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a class="btn btn-success" href="{{ path('business_booking_admin', { 'id': entity.business.id }) }}">{{ "form.common.btn.back_to_list"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "page.business_booking.text.description"|trans }}
{% endblock %}

{% block body -%}

    <h4>{{ "page.booking.h4.booking_information"|trans }}</h4>
    <table class="table" >
        <tbody>
            <tr>
                <th style="width: 50%">{{ "form.booking.label.user"|trans }}</th>
                <td>{{ link_to_user(entity.fosuser) }}</td>
            </tr>
            <tr>
                <th style="width: 50%">{{ "form.booking.label.begin_at"|trans }}</th>
                <td>{{ entity.beginAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th style="width: 50%">{{ "form.booking.label.end_at"|trans }}</th>
                <td>{{ entity.endAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th style="width: 50%">{{ "form.booking.label.certification_level"|trans }}</th>
                <td>
                    {% if entity.certificationLevel == 0 %}
                        {{ "form.booking.label.certification_level_basic"|trans }}
                    {% elseif entity.certificationLevel == 1 %}
                        {{ "form.booking.label.certification_level_intermediate"|trans }}
                    {% else %}
                        {{ "form.booking.label.certification_level_advanced"|trans }}
                    {% endif %}
                </td>
            </tr>
            {% if entity.observations %}
                <tr>
                    <th style="width: 50%">{{ "form.business_booking.label.observations"|trans }}</th>
                    <td>{{ entity.observations }}</td>
                </tr>
            {% endif %}
            {% if entity.phoneNumber %}
                <tr>
                    <th style="width: 50%">{{ "form.business_booking.label.phonenumber"|trans }}</th>
                    <td>{{ entity.phoneNumber }}</td>
                </tr>
            {% endif %}
            <tr>
                <th style="width: 50%">{{ "form.booking.label.email"|trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

    <h4>{{ "page.booking.h4.booking_dive_information"|trans }}</h4>
    <table class="table table-striped">
        <tbody>
            {% for dive in entity.bookingDive %}
                <tr>
                    <th style="width: 50%">{{ "form.booking_dive.label.pax"|trans }}</th>
                    <td>{{ dive.pax }}</td>
                </tr>
                <tr>
                    <th style="width: 50%">{{ "form.booking_dive.label.number_dives"|trans }}</th>
                    <td>{{ dive.numberDives }}</td>
                </tr>
                <tr>
                    <th style="width: 50%">{{ "form.booking_dive.label.date_at"|trans }}</th>
                    <td>{{ dive.dateAt|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>{{ "page.booking.h4.booking_other_information"|trans }}</h4>
    <table class="table table-striped">
        <tbody>
            {% for other in entity.bookingOtherActivity %}
                <tr>
                    <th style="width: 50%">{{ "form.booking_other_activity.label.other_activity"|trans }}</th>
                    <td>{{ other.otherActivity }}</td>
                </tr>
                <tr>
                    <th style="width: 50%">{{ "form.booking_other_activity.label.pax"|trans }}</th>
                    <td>{{ other.pax }}</td>
                </tr>
                <tr>
                    <th style="width: 50%">{{ "form.booking_other_activity.label.date_at"|trans }}</th>
                    <td>{{ other.dateAt|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th style="width: 50%">{{ "form.booking_other_activity.label.schedule"|trans }}</th>
                    <td>
                        {% if other.schedule == 0 %}
                            {{ "form.booking_other_activity.label.schedule_morning"|trans }}
                        {% elseif other.schedule == 1 %}
                            {{ "form.booking_other_activity.label.schedule_afternoon"|trans }}
                        {% else %}
                            {{ "form.booking_other_activity.label.schedule_night"|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
