
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ form_label(form) }}
            </label>

            {{ form_errors(form) }}
            <div class="col-sm-9">
                {# Show image if it's a file field and there is an image defined #}
                {% if form.vars.type is defined and form.vars.type =='file' and (form.parent.vars.value.image is defined or form.parent.vars.value.photo is defined) %}
                    {% if form.parent.vars.value.getWebPath is not empty %}
                        <img class="thumbnail" src="{{ form.parent.vars.value.getWebPath | imagine_filter('sk_widen_240') }}" />
                    {% endif %}
                {% endif %}
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    {% endspaceless %}
{% endblock form_row %}




{% block _skaphandrus_appbundle_skspot_translations_en_name_row %}
    <div class="form-group">
        <label class="col-lg-3 control-label">{{ form_label(form) }}</label>
        {{ form_errors(form) }}
        <div class="col-lg-9">
            {{ form_widget(form) }} 
        </div>
    </div>
{% endblock %}

{% block _skaphandrus_appbundle_skspot_translations_pt_name_row %}
    <div class="form-group">
        <label class="col-lg-3 control-label">{{ form_label(form) }}</label>
        {{ form_errors(form) }}
        <div class="col-lg-9">
            {{ form_widget(form) }} 
        </div>
    </div>
{% endblock %}


