{% extends 'form_div_layout.html.twig' %}

{#{% block form_widget_simple %}
    {{ parent() }}

    {% if help is defined %}
        <span class="help">{{ help|trans }}</span>
    {% endif %}
{% endblock %}#}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                        {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ form_label(form) }}
            </label>
            {{ form_errors(form) }}
            <div class="col-sm-9">
                {# Show image if it's a file field and there is an image defined #}
                {% if form.vars.type is defined and form.vars.type =='file' and (form.parent.vars.value.image is defined or form.parent.vars.value.photo is defined) %}
                    {% if form.parent.vars.value.getWebPath is not empty %}
                        <img class="thumbnail" src="{{ form.parent.vars.value.getWebPath | imagine_filter('sk_widen_240') }}" />
                    {% endif %}
                {% endif %}
                {{ form_widget(form) }}
                <div style="margin-top:5px">
                    {% if help is defined %}
                        <div style="margin-top:5px">
                            {% if help is iterable %}
                                {{ help['help']|trans({'%param%': help['param']}) }}
                            {% else %}
                                <span class="help">{{ help|trans }}</span>
                            {% endif %}
                        </div> 
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
    {% endspaceless %}
{% endblock form_row %}


{% block _skaphandrus_appbundle_skbusiness_address_row %}
    {% spaceless %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {{ form_label(form) }}
            </label>

            {{ form_errors(form) }}
            <div class="col-sm-9">
                {# Show image if it's a file field and there is an image defined #}
                {% if form.vars.type is defined and form.vars.type =='file' and (form.parent.vars.value.image is defined or form.parent.vars.value.photo is defined) %}
                    {% if form.parent.vars.value.getWebPath is not empty %}
                        <img class="thumbnail" src="{{ form.parent.vars.value.getWebPath | imagine_filter('sk_widen_240') }}" />
                    {% endif %}
                {% endif %}
                {{ form_widget(form) }}
            </div>
        </div>
        {#<div class="hr-line-dashed"></div>#}
    {% endspaceless %}
{% endblock %}



{% block _skaphandrus_appbundle_skspot_translations_en_name_row %}
    <div class="form-group">
        <label class="col-lg-3 control-label">{{ form_label(form) }}</label>
        {{ form_errors(form) }}
        <div class="col-lg-9">
            {{ form_widget(form) }} 
        </div>
    </div>
{% endblock %}

{% block _skaphandrus_appbundle_skspot_translations_pt_name_row %}
    <div class="form-group">
        <label class="col-lg-3 control-label">{{ form_label(form) }}</label>
        {{ form_errors(form) }}
        <div class="col-lg-9">
            {{ form_widget(form) }} 
        </div>
    </div>
{% endblock %}




{#costumização dos widgets checkbox e radio para vertical #}
{#http://stackoverflow.com/questions/11507217/symfony2-how-to-put-label-and-input-for-checkboxes-radios-in-a-same-line#}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {{ form_widget(child) }}
                    {#{{ form_label(child) }}#}

                {% endfor %}
            </div>
        {% else %}

            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {%- if empty_value is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value != '' ? empty_value|trans({}, translation_domain) }}</option>
                {%- endif -%}
                {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
                {%- endif -%}
                {%- set options = choices -%}
                {{- block('choice_widget_options') -}}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}


{% block checkbox_widget %}

    {% spaceless %}
        <div id="checkboxes" class="checkbox">
            <label for="{{ id }}" >
                <input type="checkbox" {{ block('widget_attributes') }}
                       {% if value is defined %} value="{{ value }}"{% endif %}
                       {% if checked %} checked="checked"{% endif %} >
                
{#NOTA: sempre que não queremos a label da checkbox temos de definir a classe no form#}
                {% if attr['class'] is not defined %}
                    {{ label|trans }}
                {% endif %}

            </label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}


{% block radio_widget %}
    {% spaceless %}
        <label  for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
        {% endspaceless %}
    {% endblock radio_widget %}


{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
