{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/gmaps.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/form_spot.js') }}"></script>
{% endblock %}


{% block heading_title %}
    {{ "form.spot.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="index.html">{{ "breadcrumb.spots"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_spot"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('spot_admin_new') }}" class="btn btn-primary">{{ "form.spot.btn.add"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.spot.text.description"|trans }}
{% endblock %}


{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    {{ form_errors(edit_form) }}


    {#{{ form_row(edit_form.translations) }}#}



    {{ form_widget(edit_form.translations) }}
    
    
    {{ form_row(edit_form.maxDepth) }}
    {{ form_row(edit_form.location) }}
    <div class="popin">
        <div id="map" style="height: 300px;margin-bottom: 10px;"></div>
    </div>  

    {{ form_row(edit_form.coordinate) }}
    {{ form_row(edit_form.zoom) }}


    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'spot_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}

    {{ form(delete_form) }}


{% endblock %}

