   
{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.tableTools.min.js') }}"></script>

{% endblock %}


{% block styleshets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.spot.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.spots"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('spot_admin_new') }}" class="btn btn-primary">{{ "form.spot.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.spot.text.description"|trans }}
{% endblock %}



{% block body -%}


    <table id="datatable-list" class="table display table-striped table-bordered table-hover " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{{ "form.spot.label.name"|trans }}</th>
                <th>{{ "form.spot.label.location"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ link_to_spot(entity) }}</td>
                    <td>{{ entity.location }}, {{ entity.location.region.country }} </td>
                    <td>
                        <a class="btn btn-white btn-sm" href="{{ path('spot_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> {{ "forms.common.btn.edit"|trans }}</a>
                        <a class="btn btn-white btn-sm" href="{{ url_to_spot(entity) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.view"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <a class="btn btn-primary" href="{{ path('spot_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.spot.btn.add"|trans }}
    </a>




{% endblock %}
