{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>

{% endblock %}


{% block heading_title %}
    {{ "form.photo_contest.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('photo_contest_admin')}}">{{ "breadcrumb.photo_contest"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_photo_contest"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_contest_admin_new') }}" class="btn btn-primary">{{ "form.photo_contest.btn.add"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.photo_contest.text.description"|trans }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(edit_form) }}
    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'photo_contest_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}


    {{ form(delete_form) }}


{% endblock %}

