{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/skaphandrus.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.photo_contest.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.photo_contest"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_contest_admin_new') }}" class="btn btn-primary">{{ "form.photo_contest.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.photo_contest.text.description"|trans }}
{% endblock %}


{% block body -%}
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.photo_contest.label.name"|trans }}</th>
                <th>{{ "form.photo_contest.label.image"|trans }}</th>
                    {#                <th>{{ "form.photo_contest.label.logo"|trans }}</th>#}
                <th>{{ "form.photo_contest.label.end_at"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</a></td>
                    <td>
                        {% if entity.image %}
                            <img alt="{{ entity.name }}" class="thumbnail" src="{{ entity.getWebPathImage | imagine_filter('sk_widen_75') }}"/>
                        {% endif %}

                    </td>
                    <td>{% if entity.endAt %}{{ entity.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        {#                        <a class="btn btn-white btn-sm" href="{{ path('photo_contest_admin_show', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> {{ "forms.common.btn.view"|trans }}</a>#}
                        <a class="btn btn-white btn-sm" href="{{ path('photo_contest_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('photo_contest_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.photo_contest.btn.add"|trans }}
    </a>

{% endblock %}
