{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data picker -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
    <!-- Clock picker -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/clockpicker/clockpicker.css') }}" rel="stylesheet">
    <!-- Tag It -->
    <link href="{{ asset('bundles/skaphandrusapp/css/tag-it/jquery.tagit.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <!-- Data picker -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
    <!-- Clock picker -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/clockpicker/clockpicker.js') }}"></script>
    <!-- Tag It -->
    <script src="{{ asset('bundles/skaphandrusapp/js/tag-it/tag-it.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#skaphandrus_appbundle_skphoto_takenAt_date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        });

        $('#skaphandrus_appbundle_skphoto_takenAt_time').clockpicker({
            autoclose: true
        });

        $('#tags').tagit({
            allowSpaces: true,
        });

    </script>

{% endblock %}


{% block heading_title %}
    {{ "form.photo.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('photo_admin') }}">{{ "breadcrumb.photos"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_photo"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.photo.text.description"|trans }}
{% endblock %}


{% block body %}
    {#    <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <img src="{{ edit_form.vars.value.getWebPath | imagine_filter('sk_widen_240') }}" />
            </div>
        </div>#}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}
    start
    {{ form_errors(edit_form) }}
    end
    
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <label for="tags">{{"form.photo.label.tags"|trans}}</label>
        </label>
        <input type="text" id="tags" name="tags" value="{{ keywords|join(',') }}" />
        <p style="margin-left: 25%">{{ "form.photo.help.tag"|trans }}</p>
    </div>
    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'photo_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}


    {{ form(delete_form) }}


{% endblock %}

