{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/skaphandrus.js') }}"></script>
{% endblock %}


{% block form_heading_title %}
    {{ "form.photo.h1.title"|trans }}
{% endblock %}


{% block form_heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="index.html">{{ "breadcrumb.photos"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_photo"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block form_heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.photo.text.description"|trans }}
{% endblock %}


{% block body %}
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <img src="{{ edit_form.vars.value.getWebPath | imagine_filter('sk_widen_240') }}" />
        </div>
    </div>

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(edit_form) }}
    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'photo_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}


    {{ form(delete_form) }}


{% endblock %}

