{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
     <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <!-- Data picker -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
    <!-- Clock picker -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/clockpicker/clockpicker.js') }}"></script>
    <!-- Tag It -->
    <script src="{{ asset('bundles/skaphandrusapp/js/tag-it/tag-it.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#skaphandrus_appbundle_skphoto_takenAt_date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        });

        $('#skaphandrus_appbundle_skphoto_takenAt_time').clockpicker({
            autoclose: true
        });

        $('#tags').tagit({
            allowSpaces: true,
        });

    </script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- Data picker -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
    <!-- Clock picker -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/clockpicker/clockpicker.css') }}" rel="stylesheet">
    <!-- Tag It -->
    <link href="{{ asset('bundles/skaphandrusapp/css/tag-it/jquery.tagit.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.photo.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('photo_admin') }}">{{ "breadcrumb.photos"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.add_photo"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.photo.text.description"|trans }}
{% endblock %}


{% block body %}
    
    
    
 <style>
.ui-autocomplete-loading {
background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
</style>
    
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <label for="tags">{{"form.photo.label.tags"|trans}}</label>
        </label>
        <input type="text" id="tags" name="tags" />
    </div>
    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'photo_admin', 'new_form':false} %}
    {{ form_end(form) }}

{% endblock %}
