{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/staps/jquery.steps.min.js') }}"></script>

    <script>

        var $container = $('ul.educationCourse');
        // button to add a new SportParam
        var $addCourseLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi = $('<li></li>').append($addCourseLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container.find('li').each(function () {
                addCourseDeleteLink($(this));
            });

            //add button
            $container.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container.data('index', $container.find(':input').length);

            // adding a new form when cliking Add button
            $addCourseLink.on('click', function (e) {
                e.preventDefault();

                addCourseForm($container, $newLinkLi);

            });

            // adding a new form SportParam
            function addCourseForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addCourseDeleteLink($newFormLi);
            }


            function addCourseDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });

    </script>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">
    <style>
        #wizard a  { cursor: pointer; }
    </style>
{% endblock %}

{% block heading_title %}
    {{ "form.business_education.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('business_admin')}}">{{ "breadcrumb.business"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_business_education"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    {#<a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business_education.btn.add"|trans }}</a>#}
    <a class="btn btn-success" href="{{ path('business', { 'country': slugify(intl_country_name(entity.address.location.region.country.name)), 'location': slugify(entity.address.location), 'slug': slugify(entity.name) }) }}">{{ "forms.common.btn.visit_business"|trans }}</a>
{% endblock %}


{% block form_title_description %}
    {{ "form.business_education.text.description"|trans }}
{% endblock %}

{% block body %}

    <div class="wizard clearfix" id="wizard">
        <div class="steps clearfix" >
            <ul role="tablist">
                <li class="disabled">
                    <a href="{{ path("business_admin_edit", {"id":entity.id}) }}">
                        {{ "forms.common.btn.edit_base"|trans }}
                    </a>
                </li>
                <li class="disabled">
                    <a href="{{ path("business_settings_admin_edit", {"id":entity.id}) }}">
                        {{ "forms.common.btn.edit_settings"|trans }}
                    </a>
                </li>
                {% if entity.isPremium or entity.isPlus or is_granted("ROLE_ADMIN") %}
                    <li class="disabled">
                        <a href="{{ path("business_spot_admin_edit", {"id":entity.id}) }}">
                            {{ "forms.common.btn.edit_dive"|trans }}
                        </a>
                    </li>
                    <li class="current">
                        <a href="{{ path("business_education_admin_edit", {"id":entity.id}) }}">
                            {{ "forms.common.btn.edit_education"|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <br/>

    <style>
        ul {
            list-style-type: none;
        }
    </style>

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    {{ form_row(edit_form.educationConditions) }}


    <label class="col-sm-3 control-label">{{ form_label(edit_form.educationCourse) }}</label>
    <div class="col-sm-9">
        <ul class=educationCourse data-prototype="{{ form_widget(edit_form.educationCourse.vars.prototype)|e }}">
            {% for course in edit_form.educationCourse %}
                <li>
                    {{ form_widget(course) }}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'business_admin', 'new_form':false} %}

    {% do edit_form.educationCourse.setRendered %}
    {{ form_end(edit_form) }}


{% endblock %}
