
<ul>
    <li>Contest Name -> {{contest.name}}</li>
    <li>Contest beginAt -> {{contest.beginAt}}</li>
    <li>Contest endAt -> {{contest.endAt}}</li>
    <br>
    <ul>
        {% for category in contest.categories %}
            <li>Category Name -> {{category.name}}</li>
            {% for award in category.awards %}
                <li>Award Name -> {{award.name}}</li>
                {% for sponsor in award.sponsor %}
                    <li>Sponsor Name -> {{sponsor.name}}</li>
                {% endfor %}
                {% for judge in award.judge %}
                    <li>judge Name -> {{judge.fosUser.name}}</li>
                {% endfor %}
                    <br>
            {% endfor %}
        {% endfor %}
    </ul>
</ul>


{#<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>#}

