{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:vertical_choices_rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/gmaps.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/form_business.js') }}"></script>

{% endblock %}


{% block heading_title %}
    {{ "form.business.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('business_admin')}}">{{ "breadcrumb.business"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_business"|trans }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    {#{% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business.btn.add"|trans }}</a>
    {% endif %}#}
    <a class="btn btn-success" href="{{ path('business', { 'country': slugify(entity.address.location.region.country.getCountryName(app.request.locale)), 'location': slugify(entity.address.location), 'slug': slugify(entity.name) }) }}">{{ "forms.common.btn.visit_business"|trans }}</a>

{% endblock %}


{% block form_title_description %}
    {{ "form.business.text.description"|trans }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.imageFile) }}
    {{ form_row(edit_form.type) }}
    {{ form_row(edit_form.foundedAt) }}
    {{ form_row(edit_form.currency) }}
    {{ form_row(edit_form.language) }}
    {{ form_row(edit_form.otherActivity) }}
    {{ form_row(edit_form.about) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.mission) }}
    {{ form_row(edit_form.awards) }}

    {{ form_row(edit_form.address) }}

    <div class="popin">
        <div id="map" style="height: 300px;margin-bottom: 10px;"></div>
    </div>

    <div class="hr-line-dashed"></div>

    {{ form_row(edit_form.contact) }}

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'business_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}


    {{ form(delete_form) }}

{% endblock %}
