{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>#}
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/datatables.min.js') }}"></script>
{% endblock %}

{% block heading_title %}
    {{ "form.business.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.business"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.business.text.description"|trans }}
{% endblock %}

{% block body -%}

    <table id="datatable-list" class="table display table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{{ "form.business.label.name"|trans }}</th>
                <th>{{ "form.business.label.laocation"|trans }}</th>
                <th>{{ "form.business.label.country"|trans }}</th>
                    {#<th>{{ "form.business.label.founded_at"|trans }}</th>
                    <th>{{ "form.business.label.currency"|trans }}</th>
                    <th>{{ "form.business.label.language"|trans }}</th>
                    <th>{{ "form.business.label.description"|trans }}</th>
                    <th>{{ "form.business.label.mission"|trans }}</th>
                    <th>{{ "form.business.label.awards"|trans }}</th>
                    <th>{{ "form.business.label.picture"|trans }}</th>
                    <th>{{ "form.business.label.created_at"|trans }}</th>#}
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.location_name }}</td>
                    <td>{{ intl_country_name(entity.country_name) }}</td>
                    {#<td>
                        {% if entity.foundedAt %}
                            {{ entity.foundedAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% for currency in entity.currency %}
                            <li>{{ currency.name }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {% for language in entity.language %}
                            <li>{{ language.name }}</li>
                        {% endfor %}
                    </td>
                    <td>{{ entity.about }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.mission }}</td>
                    <td>{{ entity.awards }}</td>
                    <td>
                        {% if entity.picture %}
                            <img alt="picture" class="thumbnail" src="{{ entity.getWebPath | imagine_filter('sk_widen_75') }}"/>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.createdAt %}
                            {{ entity.createdAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>#}
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('business_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit_base"|trans }}</a>
                            </li>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('business_spot_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit_dive"|trans }}</a>
                            </li>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('business_education_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit_education"|trans }}</a>
                            </li>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('business_settings_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit_settings"|trans }}</a>
                            </li>
                            <li>
                                {#<a class="btn btn-white btn-sm" href="{{ path('business', { 'country': entity.address.location.region.country, 'location': entity.address.location, 'slug': entity.name }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.visit_business"|trans }}</a>#}
                                <a class="btn btn-white btn-sm" href="{{ path('business', { 'country': slugify(intl_country_name(entity.country_name)), 'location': slugify(entity.location_name), 'slug': slugify(entity.name) }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.visit_business"|trans }}</a>
                                {#<a class="btn btn-white btn-sm" href="{{ url_to_business(entity.country_name, entity.location_name, entity ) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.visit_business"|trans }}</a>#}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('business_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.business.btn.add"|trans }}
    </a>

{% endblock %}
