{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/skaphandrus.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('.footable').footable();
        });

    </script>


{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.business.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.business"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.business.text.description"|trans }}
{% endblock %}


{% block body -%}

    <div class="ibox-content">
        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
        <table class="footable table" data-page-size="25" data-filter=#filter>
            <thead>
            <th>{{ "form.business.label.name"|trans }}</th>
                {#<th>{{ "form.business.label.founded_at"|trans }}</th>
                <th>{{ "form.business.label.currency"|trans }}</th>
                <th>{{ "form.business.label.description"|trans }}</th>
                <th>{{ "form.business.label.mission"|trans }}</th>
                <th>{{ "form.business.label.awards"|trans }}</th>#}
            <th>{{ "form.business.label.picture"|trans }}</th>
                {#<th>{{ "form.business.label.created_at"|trans }}</th>
                <th>{{ "form.business.label.updated_at"|trans }}</th>#}
            <th>{{ "form.common.label.actions"|trans }}</th>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        {#<td>
                            {% if entity.foundedAt %}
                                {{ entity.foundedAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td>{{ entity.currency }}</td>
                        <td>{{ entity.about }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.mission }}</td>
                        <td>{{ entity.awards }}</td>#}
                        <td>
                            {% if entity.picture %}
                                <img alt="picture" class="thumbnail" src="{{ entity.getWebPath | imagine_filter('sk_widen_75') }}"/>
                            {% endif %}
                        </td>
                        {#<td>
                            {% if entity.createdAt %}
                                {{ entity.createdAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.updatedAt %}
                                {{ entity.updatedAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>#}
                        <td>
                            <a class="btn btn-white btn-sm" href="{{ path('business_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('business_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.business.btn.add"|trans }}
    </a>

{% endblock %}

{#<table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.business.label.name"|trans }}</th>
                <th>{{ "form.business.label.founded_at"|trans }}</th>
                    <th>{{ "form.business.label.currency"|trans }}</th>
                    <th>{{ "form.business.label.description"|trans }}</th>
                    <th>{{ "form.business.label.mission"|trans }}</th>
                    <th>{{ "form.business.label.awards"|trans }}</th>
                    <th>{{ "form.business.label.picture"|trans }}</th>
                <th>{{ "form.business.label.created_at"|trans }}</th>
                <th>{{ "form.business.label.updated_at"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>
                        {% if entity.foundedAt %}
                            {{ entity.foundedAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>{{ entity.currency }}</td>
                    <td>{{ entity.about }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.mission }}</td>
                    <td>{{ entity.awards }}</td>
                    <td>{{ entity.picture }}</td>
                    {% if entity.image %}
                        <img alt="image" class="thumbnail" src="{{ entity.getWebPathImage | imagine_filter('sk_widen_75') }}"/>
                    {% endif %}
                    <td>
                        {% if entity.createdAt %}
                            {{ entity.createdAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.updatedAt %}
                            {{ entity.updatedAt|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-white btn-sm" href="{{ path('business_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>#}