{% extends '@SkaphandrusAppBundle/Resources/views/auth_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h3>{{ "resetting.request.h3.forgot_password"|trans }}</h3>
    <p>{{ "resetting.request.enter_your_email_address_and_your_password_will_be_reset_and_emailed_to_you."|trans }}</p>
    {% if invalid_username is defined %}
        <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
    {% endif %}
    <form class="fos_user_resetting_request m-t" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="{{ 'resetting.request.email'|trans }}" required="required">
        </div>

        <input type="submit" class="btn btn-primary block full-width m-b" value="{{ 'resetting.request.submit'|trans }}" />
    </form>
{% endblock %}
