{% extends 'SkaphandrusAppBundle:SkBooking:_base_booking_template.html.twig' %}

{% block title %}
    Hi {{ booking.business }},
{% endblock %}

{% block intro %}
    {% trans with {'%business%': booking.business.name} %}email.booking.intro{% endtrans %}
{% endblock %}

{% block content %}

    {#    <div style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom-width: 1px; border-bottom-color: #e7eaec; border-bottom-style: solid; padding-bottom: 15px; margin-top: 15px; overflow: hidden;">
            <a href="http://skaphandrus.com{{url_to_user(notification.userFrom)}}" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left !important; cursor: pointer; margin-right: 10px; background-color: transparent;">
                <img alt="{{ notification.userFrom }}" src="{{ notification.userFrom.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; page-break-inside: avoid; max-width: 100% !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; border-radius: 50%; width: 38px; height: 38px; border: 0;">
            </a>
            <div style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; zoom: 1; width: auto; display: block; vertical-align: top; font-size: 12px;">
                <small style="font-size: 85%; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: right !important;">{{notification.createdAt|time_diff}}</small>
    #}            {#<strong style="font-weight: 700; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Janet Rosowski</strong> add 1 photo on <strong style="font-weight: 700; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Monica Smith</strong>. <br style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">#}
    {#            {{ notification_message(notification,"en" )|replace({'/en/': 'http://skaphandrus.com/en/'})|raw }}
                <br/>
                <small style="font-size: 85%; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{notification.createdAt|date("F jS \\a\\t g:ia")}}</small>
    
                {% if notification.photo %}
                    <div style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 10px 0;">
                        <a target="_blank" href="http://skaphandrus.com{{path('photo_no_slug', { 'id': notification.photo.id })}}" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; cursor: pointer; background-color: transparent;"> 
                            <img alt="{{ notification.userFrom }}" src="{{ notification.photo.getWebPath | imagine_filter('sk_widen_240') }}" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; page-break-inside: avoid; max-width: 100% !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; max-height: 180px; border-radius: 4px; overflow: hidden; margin-right: 10px; margin-bottom: 10px; border: 0;">
                        </a>
                    </div>
                {% endif %} 
            </div>
        </div>#}

    <h4>{{ "page.booking.h4.booking_information"|trans }}</h4>
    <table>
        <tbody>
            <tr>
                <th align="left">{{ "form.booking.label.user"|trans }}</th>
                <td>{{ link_to_user(booking.fosuser) }}</td>
            </tr>
            <tr>
                <th align="left">{{ "form.booking.label.begin_at"|trans }}</th>
                <td>{{ booking.beginAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th align="left">{{ "form.booking.label.end_at"|trans }}</th>
                <td>{{ booking.endAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th align="left">{{ "form.booking.label.certification_level"|trans }}</th>
                <td>
                    {% if booking.certificationLevel == 0 %}
                        {{ "form.booking.label.certification_level_basic"|trans }}
                    {% elseif booking.certificationLevel == 1 %}
                        {{ "form.booking.label.certification_level_intermediate"|trans }}
                    {% else %}
                        {{ "form.booking.label.certification_level_advanced"|trans }}
                    {% endif %}
                </td>
            </tr>
            {% if booking.observations %}
                <tr>
                    <th align="left">{{ "form.booking.label.observations"|trans }}</th>
                    <td>{{ booking.observations }}</td>
                </tr>
            {% endif %}
            {% if booking.phoneNumber %}
                <tr>
                    <th align="left">{{ "form.booking.label.phonenumber"|trans }}</th>
                    <td>{{ booking.phoneNumber }}</td>
                </tr>
            {% endif %}
            <tr>
                <th align="left">{{ "form.booking.label.email"|trans }}</th>
                <td>{{ booking.email }}</td>
            </tr>
        </tbody>
    </table>

    {% set dive = '' %}
    {% for bookingDive in booking.bookingDive %}
        {% set dive = bookingDive %}
    {% endfor %}
    {% if dive %}
        <h4>{{ "page.booking.h4.booking_dive_information"|trans }}</h4>
        <table>
            <thead>
                <tr>
                    <th>{{ "form.booking_dive.label.pax"|trans }}</th>
                    <th>{{ "form.booking_dive.label.number_dives"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_dive.label.date_at"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for dive in booking.bookingDive %}
                    <tr>
                        <td>
                            {% if dive.pax < 2 %}
                                {{ dive.pax }} {{ "label.person"|trans }}
                            {% else %}
                                {{ dive.pax }} {{ "label.persons"|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if dive.numberDives < 2 %}
                                {{ dive.numberDives }} {{ "label.dive"|trans }}
                            {% else %}
                                {{ dive.numberDives }} {{ "label.dives"|trans }}
                            {% endif %}
                        </td>
                        <td style="width: 25%">{{ dive.dateAt|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% set other = '' %}
    {% for otherActivity in booking.bookingOtherActivity %}
        {% set other = otherActivity %}
    {% endfor %}
    {% if other %}
        <h4>{{ "page.booking.h4.booking_other_information"|trans }}</h4>
        <table>
            <thead>
                <tr>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.other_activity"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.schedule"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.pax"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.date_at"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for other in booking.bookingOtherActivity %}
                    <tr>
                        <td style="width: 25%">{{ other.otherActivity }}</td>
                        <td style="width: 25%">
                            {% if other.schedule == 0 %}
                                {{ "form.booking_other_activity.label.schedule_morning"|trans }}
                            {% elseif other.schedule == 1 %}
                                {{ "form.booking_other_activity.label.schedule_afternoon"|trans }}
                            {% else %}
                                {{ "form.booking_other_activity.label.schedule_night"|trans }}
                            {% endif %}
                        </td>
                        <td style="width: 25%">
                            {% if other.pax < 2 %}
                                {{ other.pax }} {{ "label.person"|trans }}
                            {% else %}
                                {{ other.pax }} {{ "label.persons"|trans }}
                            {% endif %}
                        </td>
                        <td style="width: 25%">{{ other.dateAt|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block action %}
    <a href="https://skaphandrus.com{{ path('business_booking_admin_show', { 'id': booking.id }) }}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 96%; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #1ab394; margin: 0; padding: 0; border-color: #1ab394; border-style: solid; border-width: 5px 10px;">Show More</a>
    {#    <a href="http://skaphandrus.com/en/notification_admin/" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 96%; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #1ab394; margin: 0; padding: 0; border-color: #1ab394; border-style: solid; border-width: 5px 10px;">Show More</a>#}

{% endblock %}

