{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.booking.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script>

        //http://symfony.com/doc/current/cookbook/form/form_collections.html
        /////////////////////  bookingOtherActivity code start  \\\\\\\\\\\\\\\\\\\\\\\
        var $container = $('ul.bookingOtherActivity');
        // button to add a new SportParam
        var $addOtherActivityLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi = $('<li></li>').append($addOtherActivityLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container.find('li').each(function () {
                addOtherActivityDeleteLink($(this));
            });

            //add button
            $container.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container.data('index', $container.find(':input').length);

            // adding a new form when cliking Add button
            $addOtherActivityLink.on('click', function (e) {
                e.preventDefault();

                addOtherActivityForm($container, $newLinkLi);

            });

            // adding a new form SportParam
            function addOtherActivityForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addOtherActivityDeleteLink($newFormLi);
            }


            function addOtherActivityDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a><div class="hr-line-dashed"></div>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });
        /////////////////////  bookingOtherActivity code end  \\\\\\\\\\\\\\\\\\\\\\\


        //http://symfony.com/doc/current/cookbook/form/form_collections.html
        /////////////////////  BookingDive code start  \\\\\\\\\\\\\\\\\\\\\\\
        var $container1 = $('ul.bookingDive');
        // button to add a new SportParam
        var $addBookingDiveLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi1 = $('<li></li>').append($addBookingDiveLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container1.find('li').each(function () {
                addBookingDiveDeleteLink($(this));
            });

            //add button
            $container1.append($newLinkLi1);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container1.data('index', $container1.find(':input').length);

            // adding a new form when cliking Add button
            $addBookingDiveLink.on('click', function (e) {
                e.preventDefault();

                addBookingDiveForm($container1, $newLinkLi1);

            });

            // adding a new form SportParam
            function addBookingDiveForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addBookingDiveDeleteLink($newFormLi);
            }


            function addBookingDiveDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a> <div class="hr-line-dashed"></div>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });
        /////////////////////  BookingDive code end  \\\\\\\\\\\\\\\\\\\\\\\

        //http://symfony.com/doc/current/cookbook/form/form_collections.html
        /////////////////////  BookingPackage code start  \\\\\\\\\\\\\\\\\\\\\\\
        var $container2 = $('ul.bookingPackage');
        // button to add a new SportParam
        var $addBookingPackageLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi2 = $('<li></li>').append($addBookingPackageLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container2.find('li').each(function () {
                addBookingPackageDeleteLink($(this));
            });

            //add button
            $container2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container2.data('index', $container2.find(':input').length);

            // adding a new form when cliking Add button
            $addBookingPackageLink.on('click', function (e) {
                e.preventDefault();

                addBookingPackageForm($container2, $newLinkLi2);

            });

            // adding a new form SportParam
            function addBookingPackageForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addBookingPackageDeleteLink($newFormLi);
            }


            function addBookingPackageDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a> <div class="hr-line-dashed"></div>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });
        /////////////////////  BookingPackage code end  \\\\\\\\\\\\\\\\\\\\\\\

        $(document).ready(function () {
            var allfield7s = document.getElementsByName("fakeskaphandrus_appbundle_skbooking[business]");
            for (var i = 0; i < allfield7s.length; i++)
                allfield7s[i].setAttribute("readonly", true);
        });

    </script>

{% endblock %}


{% block heading_title %}
    {{ "page.booking.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class = "breadcrumb" >
        <li><a href = "{{ url_to_dashboard() }}" >{{ "breadcrumb.dashboard"|trans }} </a></li>
        <li><a href = "{{ path('booking_admin')}}" >{{ "breadcrumb.booking"|trans }} </a></li>
        <li class = "active" > <strong>{{ "breadcrumb.edit_booking"|trans }} </strong></li>
    </ol>
{% endblock %}


{#{% block heading_action %}
    <a href = "{{ path('booking_admin_new') }}" class = "btn btn-primary" >{{ "form.booking.btn.add"|trans }} </a>
{% endblock %}#}


{% block form_title_description %}
    {{ "page.booking.text.description"|trans }}
{% endblock %}


{% block body -%}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    {{ form_errors(edit_form) }}


    <style>
        ul {
            list-style-type: none;
        }
    </style>

    {{ form_row(edit_form.business) }}
    <div class="hr-line-dashed"></div>
    {{ form_row(edit_form.beginAt) }}
    <div class="hr-line-dashed"></div>
    {{ form_row(edit_form.endAt) }}
    <div class="hr-line-dashed"></div>
    {{ form_row(edit_form.certificationLevel) }}
    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form_label(edit_form.bookingDive) }}</label>
        <div class="col-sm-9">
            <ul class=bookingDive data-prototype="{{ form_widget(edit_form.bookingDive.vars.prototype)|e }}">
                {% for dive in edit_form.bookingDive %}
                    <li>
                        {{ form_widget(dive) }}
                    </li>
                {% endfor %}
            </ul>
            {#<div class="hr-line-dashed"></div>#}
        </div>
    </div>
    <div class="hr-line-dashed"></div>


    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form_label(edit_form.bookingPackage) }}</label>
        <div class="col-sm-9">
            <ul class=bookingPackage data-prototype="{{ form_widget(edit_form.bookingPackage.vars.prototype)|e }}">
                {% for package in edit_form.bookingPackage %}
                    <li>
                        {{ form_widget(package) }}
                    </li>
                {% endfor %}
            </ul>
            {#<div class="hr-line-dashed"></div>#}
        </div>
    </div>
    <div class="hr-line-dashed"></div>


    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form_label(edit_form.bookingOtherActivity) }}</label>
        <div class="col-sm-9">
            <ul class=bookingOtherActivity data-prototype="{{ form_widget(edit_form.bookingOtherActivity.vars.prototype)|e }}">
                {% for activity in edit_form.bookingOtherActivity %}
                    <li>
                        {{ form_widget(activity) }}
                    </li>
                {% endfor %}
            </ul>
            {# <div class="hr-line-dashed"></div>#}
        </div>
    </div>
    <div class="hr-line-dashed"></div>



    {{ form_row(edit_form.observations) }}
    <div class="hr-line-dashed"></div>
    {{ form_row(edit_form.phoneNumber) }}
    <div class="hr-line-dashed"></div>
    {{ form_row(edit_form.email) }}
    <div class="hr-line-dashed"></div>

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'booking_admin', 'new_form':false} %}

    {% do edit_form.bookingDive.setRendered %}
    {% do edit_form.bookingOtherActivity.setRendered %}
    {{ form_end(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
