
{#{{ form_row(form.business_id) }}#}
{{ form_errors(form) }}

{{ form_row(form.beginAt) }}
{{ form_row(form.endAt) }}
{{ form_row(form.certificationLevel) }}
{{ form_row(form.observations) }}
{{ form_row(form.phoneNumber) }}
{{ form_row(form.email) }}

<label class="col-sm-3 control-label">{{ form_label(form.bookingDive) }}</label>
<div class="col-sm-9">
    <ul class=bookingDive data-prototype="{{ form_widget(form.bookingDive.vars.prototype)|e }}">
        {% for dive in form.bookingDive %}
            <li>
                {{ form_widget(dive) }}
            </li>
        {% endfor %}
    </ul>
    <div class="hr-line-dashed"></div>
</div>

<label class="col-sm-3 control-label">{{ form_label(form.bookingOtherActivity) }}</label>
<div class="col-sm-9">
    <ul class=bookingOtherActivity data-prototype="{{ form_widget(form.bookingOtherActivity.vars.prototype)|e }}">
        {% for activity in form.bookingOtherActivity %}
            <li>
                {{ form_widget(activity) }}
            </li>
        {% endfor %}
    </ul>
    <div class="hr-line-dashed"></div>
</div>

<button type="button" class="btn btn-default" data-dismiss="modal">{{ "form.common.btn.close"|trans }}</button>
<button type="submit" class="btn btn-primary">{{ "form.common.btn.create"|trans }}</button>

{#{% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'booking_admin', 'new_form':false} %}#}

{% do form.bookingDive.setRendered %}
{% do form.bookingOtherActivity.setRendered %}

