{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "page.booking.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.booking"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('booking_admin_new') }}" class="btn btn-primary">{{ "form.booking.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "page.booking.text.description"|trans }}
{% endblock %}

{% block body -%}

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.booking.label.business"|trans }}</th>
                <th>{{ "form.booking.label.begin_at"|trans }}</th>
                <th>{{ "form.booking.label.end_at"|trans }}</th>
                {#<th>Certification level</th>
                <th>observations</th>
                <th>Phonenumber</th>
                <th>Email</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.business }}</td>
                    <td>{{ entity.beginAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ entity.endAt|date('Y-m-d H:i:s') }}</td>
                    {#<td>{{ entity.certificationLevel }}</td>
                    <td>{{ entity.observations }}</td>
                    <td>{{ entity.phoneNumber }}</td>
                    <td>{{ entity.email }}</td>#}
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('booking_admin_show', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.show"|trans }}</a>
                            </li>
                            <li>
                                <a class="btn btn-white btn-sm" href="{{ path('booking_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('booking_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.booking.btn.add"|trans }}
    </a>

{% endblock %}
