{#{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}#}

{% form_theme form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{#{% block javascripts %}
    {{ parent() }}#}
    
{#{% endblock %}#}


{#{% block styleshets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "page.booking.h1.title"|trans }}
{% endblock %}#}


{#{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('booking_admin')}}">{{ "breadcrumb.booking"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.add_booking"|trans }}</strong></li>
    </ol>
{% endblock %}#}

{#{% block heading_action %}
    <a href="{{ path('booking_admin_new') }}" class="btn btn-primary">{{ "form.booking.btn.add"|trans }}</a>
{% endblock %}#}

{#{% block form_title_description %}
    {{ "page.booking.text.description"|trans }}
{% endblock %}#}


{#{% block body -%}
    <style>
        .ui-autocomplete-loading {
            background: white url("http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
        ul {
            list-style-type: none;
        }
    </style>#}

    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'business_id': business_id} }) }}

    {#{{ form_row(form.business_id) }}#}
    {{ form_row(form.beginAt) }}
    {{ form_row(form.endAt) }}
    {{ form_row(form.certificationLevel) }}
    {{ form_row(form.observations) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.email) }}

    <label class="col-sm-3 control-label">{{ form_label(form.bookingDive) }}</label>
    <div class="col-sm-9">
        <ul class=bookingDive data-prototype="{{ form_widget(form.bookingDive.vars.prototype)|e }}">
            {% for dive in form.bookingDive %}
                <li>
                    {{ form_widget(dive) }}
                </li>
            {% endfor %}
        </ul>
        <div class="hr-line-dashed"></div>
    </div>

    <label class="col-sm-3 control-label">{{ form_label(form.bookingOtherActivity) }}</label>
    <div class="col-sm-9">
        <ul class=bookingOtherActivity data-prototype="{{ form_widget(form.bookingOtherActivity.vars.prototype)|e }}">
            {% for activity in form.bookingOtherActivity %}
                <li>
                    {{ form_widget(activity) }}
                </li>
            {% endfor %}
        </ul>
        <div class="hr-line-dashed"></div>
    </div>

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'booking_admin', 'new_form':false} %}

    {% do form.bookingDive.setRendered %}
    {% do form.bookingOtherActivity.setRendered %}
    {{ form_end(form) }}

{#{% endblock %}#}
