{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "page.booking.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href = "{{ path('booking_admin')}}" >{{ "breadcrumb.booking"|trans }} </a></li>
        <li class="active"><strong>{{ "breadcrumb.show_booking"|trans }}</strong></li>
    </ol>
{% endblock %}

{#{% block heading_action %}
    <a href="{{ path('booking_admin_new') }}" class="btn btn-primary">{{ "form.booking.btn.add"|trans }}</a>
{% endblock %}#}

{% block form_title_description %}
    {{ "page.booking.text.description"|trans }}
{% endblock %}

{% block body -%}

    <h4>{{ "page.booking.h4.booking_information"|trans }}</h4>
    <table class="table table-bordered"  >
        <tbody>
            <tr>
                <th>{{ "form.booking.label.business"|trans }}</th>
                <td><a href="{{ path('business', { 'country': entity.business.address.location.region.country, 'location': entity.business.address.location, 'slug': entity.business.name }) }}" >{{ entity.business }}</a></td>
            </tr>
            <tr>
                <th>{{ "form.booking.label.begin_at"|trans }}</th>
                <td>{{ entity.beginAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ "form.booking.label.end_at"|trans }}</th>
                <td>{{ entity.endAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ "form.booking.label.certification_level"|trans }}</th>
                <td>
                    {% if entity.certificationLevel == 0 %}
                        {{ "form.booking.label.certification_level_basic"|trans }}
                    {% elseif entity.certificationLevel == 1 %}
                        {{ "form.booking.label.certification_level_intermediate"|trans }}
                    {% else %}
                        {{ "form.booking.label.certification_level_advanced"|trans }}
                    {% endif %}
                </td>
            </tr>
            {% if entity.observations %}
                <tr>
                    <th>{{ "form.booking.label.observations"|trans }}</th>
                    <td>{{ entity.observations }}</td>
                </tr>
            {% endif %}
            {% if entity.phoneNumber %}
                <tr>
                    <th>{{ "form.booking.label.phonenumber"|trans }}</th>
                    <td>{{ entity.phoneNumber }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ "form.booking.label.email"|trans }}</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

    {% if entity.bookingDive|length > 0 %}
        <h4>{{ "page.booking.h4.booking_dive_information"|trans }}</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ "form.booking_dive.label.date_at"|trans }}</th>
                    <th>{{ "form.booking_dive.label.pax"|trans }}</th>
                    <th  style="width: 25%">{{ "form.booking_dive.label.number_dives"|trans }}</th>

                </tr>
            </thead>
            <tbody>
                {% for dive in entity.bookingDive %}
                    <tr>
                        <td>{{ dive.dateAt|date('Y-m-d') }}</td>
                        <td>
                            {% if dive.pax < 2 %}
                                {{ dive.pax }} {{ "label.person"|trans }}
                            {% else %}
                                {{ dive.pax }} {{ "label.persons"|trans }}
                            {% endif %}
                        </td>
                        <td  style="width: 25%">
                            {% if dive.numberDives < 2 %}
                                {{ dive.numberDives }} {{ "label.dive"|trans }}
                            {% else %}
                                {{ dive.numberDives }} {{ "label.dives"|trans }}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if entity.bookingPackage|length > 0 %}
        <h4>{{ "page.booking.h4.booking_package_information"|trans }}</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 50%">{{ "form.booking_package.label.bookingPackage"|trans }}</th>
                    <th style="width: 50%">{{ "form.booking_package.label.quantity"|trans }}</th>

                </tr>
            </thead>
            <tbody>
                {% for pack in entity.bookingPackage %}
                    <tr>
                        <td style="width: 50%">{{ pack.bookingPackage }}</td>
                        <td style="width: 50%">
                            {% if  pack.quantity < 2 %}
                                {{ pack.quantity }} {{ "label.pack"|trans }}
                            {% else %}
                                {{ pack.quantity }} {{ "label.packs"|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if entity.bookingOtherActivity|length > 0 %}
        <h4>{{ "page.booking.h4.booking_other_information"|trans }}</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.other_activity"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.schedule"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.pax"|trans }}</th>
                    <th style="width: 25%">{{ "form.booking_other_activity.label.date_at"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for other in entity.bookingOtherActivity %}
                    <tr>
                        <td style="width: 25%">{{ other.otherActivity }}</td>
                        <td style="width: 25%">
                            {% if other.schedule == 0 %}
                                {{ "form.booking_other_activity.label.schedule_morning"|trans }}
                            {% elseif other.schedule == 1 %}
                                {{ "form.booking_other_activity.label.schedule_afternoon"|trans }}
                            {% else %}
                                {{ "form.booking_other_activity.label.schedule_night"|trans }}
                            {% endif %}
                        </td>
                        <td style="width: 25%">
                            {% if other.pax < 2 %}
                                {{ other.pax }} {{ "label.person"|trans }}
                            {% else %}
                                {{ other.pax }} {{ "label.persons"|trans }}
                            {% endif %}
                        </td>
                        <td style="width: 25%">{{ other.dateAt|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="col-sm-10 col-sm-offset-2">
        <a class="btn btn-white" href="{{ path('booking_admin') }}">{{ "form.common.btn.back_to_list"|trans }}</a>
        <a class="btn btn-success" href="{{ path('booking_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
    </div>
    {{ form(delete_form) }}


{% endblock %}
