{# empty Twig template #}
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook" 
   addthis:url="{{url_to_photo(photography) }}"
        addthis:title="{{ photography.title }}"
        addthis:description="{{ photography.description }}"></a>
   <a class="addthis_button_twitter" 
   addthis:url="{{ url_to_photo(photography) }}"
        addthis:title="{{ photography.title }}"
        addthis:description="{{ photography.description }}"></a> 
    
       <a class="addthis_button_email" 
   addthis:url="{{ url_to_photo(photography) }}"
        addthis:title="{{ photography.title }}"
        addthis:description="{{ photography.description }}"></a> 
    
       <a class="addthis_button_pinterest_share" 
   addthis:url="{{ url_to_photo(photography) }}"
        addthis:title="{{ photography.title }}"
        addthis:description="{{ photography.description }}"></a> 
    
       <a class="addthis_button_compact" 
   addthis:url="{{ url_to_photo(photography) }}"
        addthis:title="{{ photography.title }}"
        addthis:description="{{ photography.description }}"></a> 
 
    
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cb05087500d7e6"></script>
<!-- AddThis Button END --> 