
<h3>{% trans with {'%business%': business.name} %}page.business.h3.info{% endtrans %}</h3>
<br/>

{% set typ = '' %}
{% for type in business.type %}
    {% set typ = type %}
{% endfor %}
{% if typ %}
    <h4>{{ "page.business.h4.type"|trans }}</h4>
    <div class="colunas">
        {% for type in business.type %}
            <p>{{ type }}</p>
        {% endfor %}
    </div>
{% endif %}
<br/>

{% set curr = '' %}
{% for currency in business.currency %}
    {% set curr = currency %}
{% endfor %}
{% if curr %}
    <h4>{{ "page.business.h4.currency"|trans }}</h4>
    <div class="colunas">
        {% for currency in business.currency %}
            <p itemprop="currenciesAccepted">{{ currency }}</p>
        {% endfor %}
    </div>
{% endif %}
<br/>

{% set lan = '' %}
{% for language in business.language %}
    {% set lan = language %}
{% endfor %}
{% if lan %}
    <h4>{{ "page.business.h4.language"|trans }}</h4>
    <div class="colunas">
        {% for language in business.language %}
            <p>{{ language }}</p>
        {% endfor %}
    </div>
{% endif %}
<br/>

{% if business.about  %}
    <h4>{{ "page.business.h4.about"|trans }}</h4>
    <p>{{ business.about|raw }}</p>
{% endif %}
<br/>

{% if business.description %}
    <h4>{{ "page.business.h4.description"|trans }}</h4>
    <p itemprop="description">{{ business.description|raw }}</p>
{% endif %}
<br/>

{% if business.mission %}
    <h4>{{ "page.business.h4.mission"|trans }}</h4>
    <p>{{ business.mission|raw }}</p>
{% endif %}
<br/>

{% if business.awards %}
    <h4>{{ "page.business.h4.awards"|trans }}</h4>
    <p itemprop="awards">{{ business.awards|raw }}</p>
{% endif %}

