 <nav class="navbar navbar-static-top {% if color is defined %}{{ color }}{% endif %}" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="{{ path('search') }}">
                <div class="form-group">
                    <input type="text" placeholder="{{ "pages.common.label.search_something"|trans }}" class="form-control" name="string" id="string" minlength="3">
                </div>
            </form>
        </div>
                
            <ul class="nav navbar-top-links navbar-right">
                
                
                
                <li>
                    <span class="m-r-sm text-muted welcome-message">{{ "pages.common.label.welcome_skaphandrus"|trans }}</span>
                </li>
           
                     {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <!-- begin messages dropdown -->
                     {{ render(controller('SkaphandrusAppBundle:Common:skMessages')) }}
                    <!-- end messages dropdown -->
                 
           
               
                     <!-- begin notifications dropdown -->
                     {{ render(controller('SkaphandrusAppBundle:Common:skNotifications')) }}
                    <!-- end notifications dropdown -->
                    
             


               
                <li>
                    <span class="m-r-sm text-muted welcome-message">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-sign-out"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                {% endif %}
            </ul>

        </nav>
