



<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <!-- close button-->
        {% if layout == 'content' %}
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            {% endif %}

        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="dropdown profile-element"> 
                        <span>
                            {% if app.user.settings.getWebPath is not empty %}
                            <img alt="image" class="img-circle" src="{{ app.user.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_48') }}" />
                            {% endif %}
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                                <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.name }}</strong></span> 
                                <span class="text-muted text-xs block">{{ app.user.personal.honorific }} <b class="caret"></b></span>
                            </span> 
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{ path('settings_admin_edit') }}">{{ "settings_admin"|trans }} </a></li>
                            <li><a href="{{ path('profile_admin_edit') }}">{{ "profile_admin"|trans }} </a></li>
                            <li><a href="{{ path('person_admin') }}">{{ "person_admin"|trans }} </a></li>
                            <li><a href="{{ path('fos_message_inbox') }}">{{ "messages_admin"|trans }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </div>
                {% endif %}
                <div class="logo-element">
                    SK+
                </div>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">{{ "messages_admin"|trans }} </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse"  stylse="height: 0px;">
                    <li><a href="{{ path('fos_message_thread_new') }}">{{ "messages_admin_compose_email"|trans }}</a></li>
                    <li><a href="{{ path('fos_message_inbox') }}">{{ "messages_admin_inbox"|trans }} {% if is_granted('IS_AUTHENTICATED_FULLY') %}<span class="label label-warning pull-right">{{ fos_message_nb_unread() }}</span>{% endif %}</a></li>
                    <li><a href="{{ path('fos_message_sent') }}">{{ "messages_admin_sent"|trans }}</a></li>
                    <li><a href="{{ path('fos_message_deleted') }}">{{ "messages_admin_trash"|trans }}</a></li>
                </ul>
            </li>


            <li class="{{ 'SkPhotoController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('photo_admin') }}"><i class="fa fa-photo"></i> <span class="nav-label">{{ "photo_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>
            <li class="{{ 'SkSpotController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('spot_admin') }}"><i class="fa fa-globe"></i> <span class="nav-label">{{ "spot_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>


            <li class="{{ 'SkPersonController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('person_admin') }}"><i class="fa fa-group"></i> <span class="nav-label">{{ "person_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>           
            
            
            <li class="{{ 'SkModulesController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('module_admin_edit') }}"><i class="fa fa-cube"></i> <span class="nav-label">{{ "modules_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>

            <li class="{{ 'SkPointsController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('points_admin') }}"><i class="fa fa-trophy"></i> <span class="nav-label">{{ "points_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">{{ "identification_admin"|trans }} </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" stylse="height: 0px;">
                        <li><a href="{{ path('identification_criteria_admin') }}">{{ "identification_criteria_admin"|trans }}</a></li>
                        <li><a href="{{ path('identification_group_admin') }}">{{ "identification_group_admin"|trans }}</a></li>
                        <li><a href="{{ path('identification_module_admin') }}">{{ "identification_module_admin"|trans }}</a></li>
                        <li><a href="{{ path('identification_species_admin') }}">{{ "identification_species_admin"|trans }}</a></li>
                    </ul>
                </li>
                
   
                
                
            {% endif %}
        </ul> 
    </div>
</nav>
