



<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <!-- close button-->
        {% if layout == 'content' %}
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            {% endif %}

        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                        <!--<img alt="image" class="img-circle" src="img/profile_small.jpg">-->
                        <img alt="image" class="img-circle" src="">
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Amelia Smith</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="{{ path('person_admin') }}">{{ "person_admin"|trans }} </a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    SK+
                </div>
            </li>

            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level">
                    <li><a href="mailbox.html"></a></li>
                    <li><a href="mail_detail.html">Email view</a></li>
                    <li><a href="mail_compose.html">Compose email</a></li>
                    <li><a href="email_template.html">Email templates</a></li>
                </ul>
            </li>


            <li class="{{ 'SkPhotoController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('photo_admin') }}"><i class="fa fa-photo"></i> <span class="nav-label">{{ "photo_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>
            <li class="{{ 'SkSpotController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('spot_admin') }}"><i class="fa fa-globe"></i> <span class="nav-label">{{ "spot_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>
            <li class="{{ 'SkModulesController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('module_admin_edit') }}"><i class="fa fa-globe"></i> <span class="nav-label">{{ "modules_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>

            <li class="{{ 'SkPointsController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('points_admin') }}"><i class="fa fa-globe"></i> <span class="nav-label">{{ "points_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>
            
            <li class="{{ 'SkPersonController' in app.request.attributes.get("_controller")?'active' }}">
                <a href="{{ path('person_admin') }}"><i class="fa fa-photo"></i> <span class="nav-label">{{ "person_admin"|trans }} </span><span class="label label-warning pull-right">16/24</span></a>
            </li>

        </ul> 
    </div>
</nav>
