{# empty Twig template #}
<div class="feed-activity-list">
    {% for activity in activities %}
        <span itemprop="publisher" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="{{ activity.userFrom}}">
            <meta itemprop="url" content="{{ url_to_user(activity.userFrom) }}">
        </span>
        <div class="feed-element">
            <a href="{{url_to_user(activity.userFrom)}}" class="pull-left">
                <img alt="image" class="img-circle" src="{{ activity.userFrom.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}" />
            </a>
            <div class="media-body ">
                <small class="pull-right text-navy">{{activity.createdAt|time_diff}}</small>
                {{ activity_message(activity, app.request.locale)|raw }} <br>
                <small class="text-muted">{{activity.createdAt|date("F jS \\a\\t g:ia")}}</small>
                {#<div class="photos">
                    <a href="{{url_to_photo(activity.photoId)}}" target="_blank"> 
                        <img src="{{ activity.photoId.getWebPath | imagine_filter('sk_widen_240') }}" class="feed-photo" alt="image">
                    </a>
                </div>#}
            </div>
        </div>
    {% endfor %}
</div>
