{# empty Twig template #}


{% if contests %}
    <li class="{{ 'ContestController' in app.request.attributes.get("_controller")?'active' }}">
        <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label">{{ "contest_admin"|trans }} </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" style="height: 0px;">
            {% for contest in contests %} 
                <li class="{{ 'ContestController' in app.request.attributes.get("_controller")?'active' }}">
                    <a href="#{{contest.name}}"><i class="fa fa-trophy"></i> <span class="nav-label">{{contest.name}} </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level" style="height: 0px;">
                        {% if "now"|date("U") == contest.isInProgress %}
                            <li>
                                <a href="{{ path('contest_participate', { 'contest_id': contest.id }) }}">{{"form.contest.participate"}}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_to_contest(contest) }}">{{"form.contest.go_to_contest"}}</a>
                            </li>
                        {% endif %}
                        {% if "now"|date("U") != contest.isInProgress and isJudge %}
                            <li>
                                <a href="{{ path('judge_votation_admin', { 'contest_id': contest.id }) }}">{{"form.contest.votation"}}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}