{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
  <h1>
    {{ species_sn.name ~ " " ~ species_sn.author }}
  </h1>

  {% if photo is not empty %}
    <h2>{{ "photo_path"|trans }}</h2>
    <p>{{ photo.image }}</p>
  {% endif %}

  <h2>{{ "taxonomic_structure"|trans }}</h2>
  <p>{{ "species_kingdom"|trans ~ ": " ~ species.genus.family.order.class.phylum.kingdom.name }}</p>
  <p>{{ "species_phylum"|trans ~ ": " ~ species.genus.family.order.class.phylum.name }}</p>
  <p>{{ "species_class"|trans ~ ": " ~ species.genus.family.order.class.name }}</p>
  <p>{{ "species_order"|trans ~ ": " ~ species.genus.family.order.name }}</p>
  <p>{{ "species_family"|trans ~ ": " ~ species.genus.family.name }}</p>
  <p>{{ "species_genus"|trans ~ ": " ~ species.genus.name }}</p>

  {% if description is not empty %}
    <h2>{{ "description"|trans }}</h2>
    <p>{{ description }}</p>
  {% endif %}

  {% if how_to_find is not empty %}
    <h2>{{ "how_to_find"|trans }}</h2>
    <p>{{ how_to_find }}</p>
  {% endif %}
  

  {% if criteria is not empty %}
    <h2>{{ "species_criteria"|trans }}</h2>
    {% for c in criteria %}
        <p>{{ c.name }} -> {{ c.image }}</p>
    {% endfor %}
  {% endif %}

  {% if vernaculars is not empty %}
    <h2>{{ "common_names"|trans }}</h2>
    {# for vernacular in vernaculars %}
        <p>{{ vernacular.name ~ " - " ~ vernacular.language }}</p>
    {% endfor #}
    <p>{{ vernaculars_text }}</p>
  {% endif %}

  {% if species.photos is not empty %}
    <h2>{{ "photos"|trans }}</h2>
    {% for p in species.photos %}
        <p>{{ p.photo.title }} -> {{ p.photo.image }}</p>
    {% endfor %}
  {% endif %}

{% endblock %}
