<!-- FooTable -->
<script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.footable-diveCenters').footable();
    });
</script>

{% if diveCenters %}
    <input type="text" class="form-control input-sm m-b-xs" id="filter-diveCenters" placeholder="Search in table">
    <table class="footable footable-diveCenters table" data-page-size="25" data-filter=#filter-diveCenters>
        <thead>
            <tr>
                <th>{{ "page.destinations.table.business"|trans }}</th>
                <th>{{ "page.destinations.table.location"|trans }}</th>
                <th>{{ "page.destinations.table.country"|trans }}</th>
                <th>{{ "page.destinations.table.business_more_info"|trans }}</th>
                <th>{{ "page.destinations.table.business_book_now"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for d in diveCenters %}
                <tr>
                    <td> <a href="{{ path('business_no_slug', { 'id': d.id}) }}">{{ d }}</a></td>
                    <td> {{ d.address.location }}</td>
                    {% if d.address.location %}
                        <td> {{ d.address.location.region }}</td>
                    {% endif %}
                    <td> <a class="btn btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': d.id}) }}">{{ "page.business.button.more_info"|trans }}</a></td>
                    <td> <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': d.id}) }}">{{ "page.business.button.book_now"|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <ul class="pagination pull-right"></ul>
                </td>
            </tr>
        </tfoot>
    </table>

{% else %}
    {{"common.destinations.no_dive_centers"|trans}}
{% endif %}




