{% if liveaboards %}
    <div class="row" >
        {% for b in liveaboards %}
            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div class="contact-box" style="height: 165px">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h4><strong>{{b|truncate(40)}}</strong></h4>
                        <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                        <div>
                            <a class="btn btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                            <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div> 
            </div>
        {% endfor %}
    </div>

{% else %}
    <div class="col col-lg-12">
        {{ "common.destinations.no_liveaboards"|trans }}
    </div>
{% endif %}

