{% if photographers %}
    {% for p in photographers %}
        <div class="row">
            <div class="col-sm-4 col-sx-12">
                <div class="contact-box center-version small_version">
                    {#<a href="{{ path('photos', { 'location': location.id }) }}">#}
                    <div class="box_content">
                        <img alt="{{p}}" class="img-circle" src="{{ p.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                        <h3 class="m-b-xs"><strong>{{ link_to_user(p) }}</strong></h3>
                        <div class="font-bold">
                            <span class="label label-primary">
                                <a style="color: white" href="{{ path('photos', { 'fosUser': p.id }) }}">
                                    {{"common.photographers.number_photos"|trans}}: {{ p.photosInUser }}
                                </a>
                            </span>
                        </div>
                    </div>
                    {#</a>#}
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-sx-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="ibox">
                            <div class="slider_thumbs" data="{{ path('photos', { 'fosUser': p.id }) }}">
                                {% if p.photosInUser > 6 %}
                                    {% for photo in p.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for photo in p.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div class="ibox-content">
        {{"common.photographers.no_photographers"|trans}}
        <button onclick="location.href = '{{ path('photo_admin_new') }}';" style="margin-left: 3%;" type="button" class="btn btn-primary">
            {{ "common.grid.add_photo"|trans }}
        </button>
    </div>
{% endif %}
