
<link href="{{ asset('bundles/skaphandrusapp/css/custom.css') }}" rel="stylesheet">
<script src="{{ asset('bundles/skaphandrusapp/js/custom.js') }}"></script>

{% if photographers %}

    {% for p in photographers %}

        <div class="row">
            <div class="col-sm-4 col-sx-12">
                <div class="contact-box center-version small_version">
                    {#<a href="{{ path('photos', { 'location': location.id }) }}">#}
                    <div class="box_content">
                        <img alt="{{p}}" class="img-circle" src="{{ p.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                        <h3 class="m-b-xs"><strong>{{ link_to_user(p) }}</strong></h3>
                        <div class="font-bold">
                            <span class="label label-primary">
                                <a style="color: white" href="{{ path('photos', { 'fosUser': p.id }) }}">
                                    {{"common.photographers.number_photos"|trans}}: {{ p.photosInUser }}
                                </a>
                            </span>
                        </div>
                    </div>
                    {#</a>#}
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-sx-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="ibox">
                            <div class="slider_thumbs" data="{{ path('photos', { 'fosUser': p.id }) }}">
                                {% if p.photosInUser > 6 %}
                                    {% for photo in p.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {#<div style="width: 112px;" class="slick-slide slick-active">
                                        <button onclick="location.href = '{{ path('photos', { 'fosUser': p.id }) }}'" style="margin-left: 3%;" type="button" class="btn btn-block btn-outline btn-primary">
                                            {{ "common.grid.see_all"|trans }}
                                        </button>
                                    </div>#}
                                {% else %}
                                    {% for photo in p.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="row">
            <div class="col col-lg-2 col-xs-2 col-md-4" >
                <a href="#" class="pull-left">
                    <img class="img-circle" src="{{ p.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}"/>
                </a>
                <p style="margin-bottom: 0px!important;">{{ link_to_user(p) }}</p>
                <p>{{"common.photographers.number_photos"|trans}}: <span class="label label-info">{{ p.photosInUser }}</span>  </p>
            </div>
            <div class="col col-lg-10 col-xs-10 col-md-8">
                <div class="roller slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <div style="opacity: 1; width: 800px; left: 0px;" class="slick-track">
                            {% if p.photosInUser > 6 %}
                                {% for photo in p.photos %}
                                    <div style="width: 112px;" class="slick-slide slick-current slick-active">
                                        <a class="thumbnail" href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                            <img style="width: 100px; margin:1% 2px 0px 2px;" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                                <div style="width: 112px;" class="slick-slide slick-active">
                                    <button onclick="location.href = '{{ path('photos', { 'fosUser': p.id }) }}'" style="margin-left: 3%;" type="button" class="btn btn-block btn-outline btn-primary">
                                        {{ "common.grid.see_all"|trans }}
                                    </button>
                                </div>
                            {% else %}
                                {% for photo in p.photos %}
                                    <div style="width: 112px;" class="slick-slide slick-current slick-active">
                                        <a class="thumbnail" href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                            <img style="width: 100px; margin:1% 2px 0px 2px;" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>#}

    {% endfor %}

{% else %}
    <div class="ibox-content">
        {{"common.photographers.no_photographers"|trans}}
        <button onclick="location.href = '{{ path('photo_admin_new') }}';" style="margin-left: 3%;" type="button" class="btn btn-primary">
            {{ "common.grid.add_photo"|trans }}
        </button>
    </div>
{% endif %}
