{% if species %}
    {% for s in species %}
        <div class="row">
            <div class="col-sm-4 col-sx-12">
                <div class="contact-box center-version small_version">
                    {#<a href="{{ path('photos', { 'location': location.id }) }}">#}
                    <div class="box_content">
                        <div class="{{class}}">
                            <h3 class="m-b-xs">
                                <strong>
                                    {{ link_to_species(s) }}
                                </strong>
                            </h3>
                            <div class="font-bold">
                                <span class="label label-primary">
                                    <a style="color: white" href="{{ path('photos', { 'location': s.id }) }}">
                                        {{"common.species.number_photos"|trans}}: {{ s.photosInSpecies }}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {#</a>#}
                </div>
            </div>
            <div class="col-sm-8 col-sx-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="ibox">
                            <div class="slider_thumbs" data="{{ path('photos', { 'species': s.id }) }}">
                                {% if s.photosInSpecies > 6 %}
                                    {% for photo in s.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% elseif s.photosInSpecies > 0 and s.photosInSpecies <= 6  %}
                                    {% for photo in s.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-block btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div>
                                        {{"common.location.no_photos"|trans}}
                                    </div>
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div class="ibox-content">
        {{"common.species.no_species"|trans}} 
        <button onclick="location.href = '{{ path('photo_admin_new') }}';" style="margin-left: 3%;" type="button" class="btn btn-primary">
            {{ "common.grid.add_photo"|trans }}
        </button>
    </div>
{% endif %}