
<link href="{{ asset('bundles/skaphandrusapp/css/custom.css') }}" rel="stylesheet">
<script src="{{ asset('bundles/skaphandrusapp/js/custom.js') }}"></script>

{% if spots %}

    {% for spot in spots %}

        <div class="row">
            <div class="col-sm-4 col-sx-12">
                <div class="contact-box center-version small_version">
                    {#<a href="{{ path('photos', { 'location': location.id }) }}">#}
                    <div class="box_content">
                        <div class="box_spacer">
                            <h3 class="m-b-xs">
                                <strong>
                                    {{ link_to_spot(spot) }}
                                </strong>
                            </h3>
                            <div class="font-bold">
                                <span class="label label-primary">
                                    <a style="color: white" href="{{ path('photos', { 'spot': spot.id }) }}">
                                        {{"common.spot.number_photos"|trans}}: {{spot.photosInSpot}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {#</a>#}
                </div>
            </div>
            <div class="col-sm-8 col-sx-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="ibox">
                            <div class="slider_thumbs" data="{{ path('photos', { 'spot': spot.id }) }}">
                                {% if spot.photosInSpot > 6 %}
                                    {% for photo in spot.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {#<div>
                                        <button onclick="location.href = '{{ path('photos', { 'location': location.id }) }}';" type="button" class="btn btn-block btn-outline btn-primary">
                                            {{ "common.grid.see_all"|trans }}
                                        </button>
                                    </div>#}
                                {% elseif spot.photosInSpot > 0 and spot.photosInSpot <= 6  %}
                                    {% for photo in spot.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-block btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div>
                                        {{"common.location.no_photos"|trans}}
                                    </div>
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {#<div class="row">
            <div class="col col-lg-2  col-xs-2 col-md-4 ">
                <strong> <h4>{{ link_to_spot(spot) }}</h4> </strong>
                <p>{{"common.spot.number_photos"|trans}}: <span class="label label-info">{{spot.photosInSpot}}</span>  </p>
            </div>
            <div class="col col-lg-10 col-xs-10 col-md-8">
                <div class="roller slick-initialized slick-slider">
                    <div class="slick-list draggable">
                        <div style="opacity: 1; width: 800px; left: 0px;" class="slick-track">
                            {% if spot.photosInSpot > 6 %}
                                {% for photo in spot.photos %}
                                    <div style="width: 112px;" class="slick-slide slick-current slick-active">
                                        <a class="thumbnail" href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                            <img style="width: 100px; margin:1% 2px 0px 2px;" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                                <div style="width: 112px;" class="slick-slide slick-active">
                                    <button onclick="location.href = '{{ path('photos', { 'spot': spot.id }) }}'" style="margin-left: 3%;" type="button" class="btn btn-block btn-outline btn-primary">
                                        {{ "common.grid.see_all"|trans }}
                                    </button>
                                </div>
                            {% elseif spot.photosInSpot > 0 and spot.photosInSpot <= 6  %}
                                {% for photo in spot.photos %}
                                    <div style="width: 112px;" class="slick-slide slick-current slick-active">
                                        <a class="thumbnail" href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                            <img style="width: 100px; margin:1% 2px 0px 2px;" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                                <div style="width: 112px;" class="slick-slide slick-active">
                                    <button onclick="location.href = '{{ path('photo_admin_new') }}';" style="margin-left: 3%;" type="button" class="btn btn-block btn-primary">
                                        {{ "common.grid.add_photo"|trans }}
                                    </button>
                                </div>
                            {% else %}
                                <div style="width: 330px; margin-top: 45px" class="slick-slide slick-current slick-active">
                                    {{"common.spot.no_photos"|trans}}
                                </div>
                                <div style="width: 112px;" class="slick-slide slick-active">
                                    <button onclick="location.href = '{{ path('photo_admin_new') }}';" style="margin-left: 3%;" type="button" class="btn btn-primary">
                                        {{ "common.grid.add_photo"|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>#}


    {% endfor %}

{% else %}
    <div class="ibox-content">
        {{"common.spot.no_spot"|trans}}
    </div>
{% endif %}