
{% if spots %}
    {% for spot in spots %}
        <div class="row">
            <div class="col-sm-4 col-sx-12">
                <div class="contact-box center-version small_version">
                    {#<a href="{{ path('photos', { 'location': location.id }) }}">#}
                    <div class="box_content">
                        <div class="{{class}}">
                            <h3 class="m-b-xs">
                                <strong>
                                    {{ link_to_spot(spot) }}
                                </strong>
                            </h3>
                            <div class="font-bold">
                                <span class="label label-primary">
                                    <a style="color: white" href="{{ path('photos', { 'spot': spot.id }) }}">
                                        {{"common.spot.number_photos"|trans}}: {{spot.photosInSpot}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    {#</a>#}
                </div>
            </div>
            <div class="col-sm-8 col-sx-12">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="ibox">
                            <div class="slider_thumbs" data="{{ path('photos', { 'spot': spot.id }) }}">
                                {% if spot.photosInSpot > 6 %}
                                    {% for photo in spot.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% elseif spot.photosInSpot > 0 and spot.photosInSpot <= 6  %}
                                    {% for photo in spot.photos %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img class="img-thumbnail" itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-block btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% else %}
                                    <div>
                                        {{"common.location.no_photos"|trans}}
                                    </div>
                                    <div>
                                        <button onclick="location.href = '{{ path('photo_admin_new') }}';" type="button" class="btn btn-primary">
                                            {{ "common.grid.add_photo"|trans }}
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div class="ibox-content">
        {{"common.spot.no_spot"|trans}}
    </div>
{% endif %}