
<h3>{% trans with {'%business%': business.name} %}page.business.h3.info{% endtrans %}</h3>

<h5>{{ "page.business.h5.type"|trans }}</h5>
{% for type in business.type %}
    <p>{{ type }}</p>
{% endfor %}

<h5>{{ "page.business.h5.currency"|trans }}</h5>
{% for currency in business.currency %}
    <p>{{ currency }}</p>
{% endfor %}

<h5>{{ "page.business.h5.language"|trans }}</h5>
{% for language in business.language %}
    <p>{{ language }}</p>
{% endfor %}

<h5>{{ "page.business.h5.about"|trans }}</h5>
<p>{{ business.about  }}</p>

<h5>{{ "page.business.h5.description"|trans }}</h5>
<p>{{ business.description }}</p>

<h5>{{ "page.business.h5.mission"|trans }}</h5>
<p>{{ business.mission }}</p>

<h5>{{ "page.business.h5.awards"|trans }}</h5>
<p>{{ business.awards }}</p>

<h5>{% trans with {'%business%': business.name} %}page.business.h5.map{% endtrans %}</h5>
{% if map %}
    {{ google_map(map) }}
{% endif %}

