{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ country }}{% endblock %}
{% block page_description %}description{% endblock %}
{% block page_keywords %}{{ country }}{% endblock %}

{% block heading_title %}
    {{ country }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path('locations_home') }}">{{ "breadcrumb.locations"|trans }}</a></li>
        <li class="active"><strong>{{ country }}</strong></li>
    </ol>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.footable-locations').footable();
            $('.footable-species').footable();
            $('.footable-photographers').footable();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->

            <!-- country activity -->              
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.country.h5.country_activity"|trans }}</h5>

                    </div>
                    <div class="ibox-content">
                        <div>
                            {{ render(controller('SkaphandrusAppBundle:Common:skActivity', { 'parameters': { 'country_id': country.id },'limit':20 } )) }}
                            {#<button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>#}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end activity -->


            <!-- end left column -->
            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.country.h5.country_related_contents"|trans }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a></li>
                                <li><a href="#">Config option 2</a></li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <h1>{{ country }}</h1>
                        <div class="panel">
                            <div class="panel-heading">
                                <!--<div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>-->
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1">{{ "page.country.tab.info"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-2">{{ "page.country.tab.locations"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-3">{{ "page.country.tab.species"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-4">{{ "page.country.tab.photos"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-5">{{ "page.country.tab.contributors"|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <h3>{{ "page.country.h3.info"|trans }}</h3>

                                        <h5>{{ "page.country.h5.overview"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).overview }}</p>

                                        <h5>{{ "page.country.h5.geography_and_climate"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).geographyAndClimate }}</p>

                                        <h5>{{ "page.country.h5.entry_requirements"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).entryRequirements }}</p>

                                        <h5>{{ "page.country.h5.health_and_safety"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).healthAndSafety }}</p>

                                        <h5>{{ "page.country.h5.time_zone"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).timeZone }}</p>

                                        <h5>{{ "page.country.h5.communications"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).communications }}</p>

                                        <h5>{{ "page.country.h5.power_and_electricity"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).powerAndElectricity }}</p>

                                        <h5>{{ "page.country.h5.other_informations"|trans }}</h5>
                                        <p>{{ country.translate(app.request.locale).otherInformations }}</p>
                                    </div>


                                    <div id="tab-2" class="tab-pane">
                                        <h3>{{ "page.country.h3.locations"|trans }}</h3>
                                        <div class="row">
                                            <input type="text" class="form-control input-sm m-b-xs" id="filter-locations" placeholder="Search in table">
                                            <table class="footable-locations table" data-page-size="50" data-filter=#filter-locations>
                                                <thead>
                                                <th>{{ "page.location.table.name"|trans }}</th>
                                                <th>{{ "page.country.label.spots"|trans }}</th>
                                                <th>{{ "page.country.label.photos"|trans }}</th>
                                                </thead>
                                                <tbody>
                                                    {% for l in locations %}
                                                        <tr>
                                                            <td>{{ link_to_location(l, country) }}</td>
                                                            <td>{{ l.spotsCount }}</td>
                                                            <td>
                                                                <a href="{{ path('photos', {'location': l.id}) }}">{{ l.photosCount }}</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div id="tab-3" class="tab-pane">
                                        <h3>{{ "page.country.h3.species"|trans }}</h3>

                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-species" placeholder="Search in table">
                                        <table class="footable footable-species table" data-page-size="50" data-filter=#filter-species>
                                            <thead>
                                            <th>{{ "page.location.table.name"|trans }}</th>
                                            <th>{{ "page.country.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                                {% for sp in species %}
                                                    <tr>
                                                        <td>{{ link_to_species(sp) }}</td>
                                                        <td>
                                                            <a href="{{ path('photos', {'species': sp.id, 'country': country.id}) }}">{{ sp.photosCount }}</a>
                                                        </td>
                                                    </tr>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div id="tab-4" class="tab-pane">
                                        <h3>{{ "page.country.h3.photos"|trans }}</h3>
                                        {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'country': country.id },'limit':20 } )) }}
                                    </div>

                                    <div id="tab-5" class="tab-pane">
                                        <h3>{{ "page.country.h3.contributors"|trans }}</h3>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-photographers" placeholder="Search in table">
                                        <table class="footable footable-photographers table" data-page-size="50" data-filter=#filter-photographers>
                                            <thead>
                                            <th>{{ "page.location.table.name"|trans }}</th>
                                            <th>{{ "page.location.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                                {% for p in photographers %}
                                                    <tr>
                                                        <td>{{ link_to_user(p.fosUser) }}</td>
                                                        <td>
                                                            <a href="{{ path('photos', {'fosUser': p.fosUser.id, 'country': country.id}) }}">{{ p.photoCount }}</a>
                                                        </td>
                                                    </tr>
                                                    </tr>
                                                {% endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end right column -->
        </div><!-- end row-->
    </div><!-- end wrapper-->
{% endblock %}
