{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%country%': country} %}page.country.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{ country.translate.overview [0:160]}}{% endblock %}


{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('country', {'slug':slugify(country.getCountryName('pt')), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('country', {'slug':slugify(country.getCountryName('en')), 'locale': 'en'}) }}" />
{% endblock %}


{% set keywords = country %}
{% set keywords = keywords~', '~("meta_tag.keyword.holidays"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.travel"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.snorkeling"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.scuba"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.diving"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.dive"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sites"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.locations"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animals"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.health_and_safety"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.communications"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.entry_requirements"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    {#<!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">#}

    <style type="text/css">
        .in.collapse+a.btn.showdetails:before {
            content: "{{"common.hide"|trans}}";
        }
        .collapse+a.btn.showdetails:before {
            content:"{{"common.show_more"|trans}}";
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dotdotdot/jquery.dotdotdot.min.js') }}"></script>
    {#<!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>#}

    <script type="text/javascript">

        $('.row .showdetails').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });

        $(document).ready(function () {
            var limit_spots = 3;
            var offset_spots = -3;
            var limit_species = 3;
            var offset_species = -3;
            var limit_photographers = 3;
            var offset_photographers = -3;

            var loadLocations = function () {
                $('#box_locations').fadeIn("slow");
                offset_spots = offset_spots + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_locations_show_more")}}",
                        data: 'country_id=' + {{ country.id }} +'&limit=' + limit_spots + '&offset=' + offset_spots,
                        dataType: "text",
                        success: function (response) {
                            $('#box_locations .slider_thumbs').slick('unslick');
                            $("#box_locations").append(response);
                            sliders('#box_locations .slider_thumbs');

                        }
                    });
                }, 100);
            };
            $(this).ready(loadLocations);
            $('#show_more_locations').click(loadLocations);

            var loadSpecies = function () {
                $('#box_species').fadeIn("slow");
                offset_species = offset_species + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_species_show_more")}}",
                        data: 'country_id=' + {{ country.id }} +'&limit=' + limit_species + '&offset=' + offset_species,
                        dataType: "text",
                        success: function (response) {
                            $('#box_species .slider_thumbs').slick('unslick');
                            $("#box_species").append(response);
                            sliders('#box_species .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpecies);
            $('#show_more_species').click(loadSpecies);

            var loadPhotographers = function () {
                $('#box_photographers').fadeIn("slow");
                offset_photographers = offset_photographers + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_photographers_show_more")}}",
                        data: 'country_id=' + {{ country.id }} +'&limit=' + limit_photographers + '&offset=' + offset_photographers,
                        dataType: "text",
                        success: function (response) {
                            $('#box_photographers .slider_thumbs').slick('unslick');
                            $("#box_photographers").append(response);
                            sliders('#box_photographers .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadPhotographers);
            $('#show_more_photographers').click(loadPhotographers);


        });

        var countryId = 'country_id= {{ country.id }}';

        /*  funçoes para os footables  */
        var loadLocationsAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_locations_see_all")}}",
                    data: countryId,
                    dataType: "text",
                    success: function (response) {
                        $("#locationsInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadLocationsAll);
        $('#locationsModal').on('shown.bs.modal', loadLocationsAll);

        var loadSpeciesAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_species_see_all")}}",
                    data: countryId,
                    dataType: "text",
                    success: function (response) {
                        $("#speciesInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadSpeciesAll);
        $('#speciesModal').on('shown.bs.modal', loadSpeciesAll);

        var loadPhotographersAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_photographers_see_all")}}",
                    data: countryId,
                    dataType: "text",
                    success: function (response) {
                        $("#photographersInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadPhotographersAll);
        $('#photographersModal').on('shown.bs.modal', loadPhotographersAll);

        {#$(document).ready(function () {
            $('.footable-locations').footable();
            $('.footable-species').footable();
            $('.footable-photographers').footable();
        });#}

    </script>

{% endblock %}

{% block heading_title %}
    {% trans with {'%country%': country} %}page.country.h1.heading_title{% endtrans %}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement"><a href="{{ path('destinations') }}">{{ "breadcrumb.locations"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ country }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block body %}

    {#    <div class="wrapper wrapper-content" itemscope itemtype="http://schema.org/Country">#}
    <div class="wrapper wrapper-content" itemscope itemtype="http://schema.org/Country">
        <div class="animated fadeInRight"> 
            <div class="container">

                <div class="row" >
                    <div class="col col-lg-12" >
                        <div class="ibox-title" >
                            <meta itemprop="isicV4" content="96590" />
                            <h1 itemprop="name">{% trans with {'%country%': country} %}page.country.h1.title{% endtrans %}</h1>
                        </div>
                        <div class="ibox-content" >
                            <h3>{% trans with {'%country%': country} %}page.country.h3.info{% endtrans %}</h3>
                            {% if country.translate(app.request.locale).overview is not empty %}
                                <p itemprop="description">{{ country.translate(app.request.locale).overview|raw  }}</p>

                                <div class="span4 collapse-group">
                                    {% if country.translate(app.request.locale).geographyAndClimate is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.geography_and_climate"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).geographyAndClimate|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).entryRequirements is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.entry_requirements"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).entryRequirements|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).healthAndSafety is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.health_and_safety"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).healthAndSafety|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).timeZone is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.time_zone"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).timeZone|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).communications is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.communications"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).communications|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).powerAndElectricity is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.power_and_electricity"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).powerAndElectricity|raw }}</p>
                                    {% endif %}

                                    {% if country.translate(app.request.locale).otherInformations is not empty %}
                                        <h5 class="collapse">{{ "page.country.h5.other_informations"|trans }}</h5>
                                        <p class="collapse">{{ country.translate(app.request.locale).otherInformations|raw }}</p>
                                    {% endif %}

                                    <a style="margin: 2% 0% 0% 25%; width: 50%; " class="btn btn-block btn-outline btn-primary showdetails" data-toggle="collapse" data-target="#viewdetails"></a>
                                </div>
                            {% else %}
                                {{ "page.country.p.no_description"|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div><!-- fim da row com informações-->


                <!-- row com a tree de locations -->
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="ibox">

                            <div class="ibox-title">
                                <h3>{% trans with {'%country%': country} %}page.country.h3.tree_locations{% endtrans %}</h3>
                            </div>

                            <div class="ibox-content">
                                <ul>
                                    {% for region in country.regions %}
                                        <li>
                                            {{region.name}}
                                            <ul>
                                                {% for location in region.locations %}
                                                    
                                                    {% if location.spots|length > 0 %}
                                                    
                                                    <li>
                                                        {{location.name}}
                                                    </li>
                                                    
                                                    {% endif%}
                                                {% endfor%}
                                            </ul>
                                        </li>
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                                <!-- fim da tree de locations -->




                <!--  Mapa de spots start -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox-title" >
                            <h3>{% trans with {'%country%': country} %}page.country.h3.photo_locations{% endtrans %}</h3>
                        </div>
                        <div class="row" >
                            <div class="col col-lg-12" >
                                <div class="ibox" >

                                    <div class="ibox-content">
                                        <div id="box_locations"></div>
                                    </div>

                                    <!-- Locations Modal start -->
                                    <div class="modal fade" id="locationsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">{% trans with {'%country%': country} %}page.country.h4.locations_modal{% endtrans %}</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div id="locationsInput"></div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Locations Modal end -->

                                    <div class="ibox-content" >
                                        <div class="row" >
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_locations">{{ "page.location.button.show_more_locations"|trans }}</button>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#locationsModal">{{ "page.location.button.see_all_locations"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Mapa de spots end -->

                <!--  Species start -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox-title" >
                            <h3>{% trans with {'%country%': country} %}page.country.h3.species{% endtrans %}</h3>
                        </div>
                        <div class="row" >
                            <div class="col col-lg-12" >
                                <div class="ibox" >

                                    <div class="ibox-content">
                                        <div id="box_species"></div>
                                    </div>

                                    <!-- Species Modal start -->
                                    <div class="modal fade" id="speciesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">{% trans with {'%country%': country} %}page.country.h4.species_modal{% endtrans %}</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div id="speciesInput"></div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Species Modal end -->

                                    <div class="ibox-content" >
                                        <div class="row" >
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_species">{{ "page.location.button.show_more_species"|trans }}</button>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#speciesModal">{{ "page.location.button.see_all_species"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Species end -->

                <!--  Photographers start -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox-title" >
                            <h3>{% trans with {'%country%': country} %}page.country.h3.contributors{% endtrans %}</h3>
                        </div>
                        <div class="row" >
                            <div class="col col-lg-12" >
                                <div class="ibox" >

                                    <div class="ibox-content">
                                        <div id="box_photographers"></div>
                                    </div>

                                    <!-- Photographers Modal start -->
                                    <div class="modal fade" id="photographersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">{% trans with {'%country%': country} %}page.country.h4.photographers_modal{% endtrans %}</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div id="photographersInput"></div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Photographers Modal end -->

                                    <div class="ibox-content" >
                                        <div class="row" >
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_photographers" >{{ "page.location.button.show_more_photographers"|trans }}</button>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#photographersModal">{{ "page.location.button.see_all_photographers"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Photographers end -->

                <!--  Dive Centers start -->
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">{{ "page.country.tab1.dive_centers"|trans }}</a></li>
                        <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">{{ "page.country.tab2.liveaboard"|trans }}</a></li>
                        <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-3">{{ "page.country.tab3.resorts"|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.dive_center"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if diveCenters %}
                                            {% for b in diveCenters %}
                                                <div class="col-lg-4 col-md-6 col-sm-12" >
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_dive_center"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.liveaboard"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if liveaboards %}
                                            {% for b in liveaboards %}
                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_liveaboard"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.accommodation"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if accommodations %}
                                            {% for b in accommodations %}
                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_accommodation"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Dive Centers end -->

            </div>
        </div>
    </div>

{% endblock %}
