{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ "page.destinations.meta_tag.title"|trans }}{% endblock %}

{% block page_description %}{{ "page.destinations.meta_tag.description"|trans }}{% endblock %}

{% set keywords = ("meta_tag.keyword.world"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.map"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.scuba"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.diving"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sites"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.countries"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('destinations', {'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('destinations', {'locale': 'en'}) }}" />
{% endblock %}

{% block heading_title %}
    {{ "page.destinations.meta_tag.title"|trans }}
    {#{{ "page.destinations.h1.heading_title"|trans }}#}
{% endblock %}

{#{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ "page.destinations.h1.title"|trans }}</strong></li>
    </ol>
{% endblock %}#}

{% block heading_breadcrumbs %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/destinations.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {
            var limit_diveCenters = 6;
            var offset_diveCenters = -6;
            var limit_liveaboards = 6;
            var offset_liveaboards = -6;
            var limit_accommodations = 6;
            var offset_accommodations = -6;
            var limit_countries = 7;
            var offset_countries = -7;

            var country = "";
            var location = "";
            var spot = "";
            var scientific_name = "";
            var common_name = "";

            var loadDiveCenters = function () {
                $('#box_diveCenters').fadeIn("slow");
                offset_diveCenters = offset_diveCenters + 6;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_show_more")}}",
                        data: 'business=diveCenters&limit=' + limit_diveCenters + '&offset=' + offset_diveCenters,
                        dataType: "text",
                        success: function (response) {
                            $("#box_diveCenters").append(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadDiveCenters);
            $('#show_more_diveCenters').click(loadDiveCenters);

            var loadLiveaboards = function () {
                $('#box_liveaboards').fadeIn("slow");
                offset_liveaboards = offset_liveaboards + 6;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_show_more")}}",
                        data: 'business=liveaboards&limit=' + limit_liveaboards + '&offset=' + offset_liveaboards,
                        dataType: "text",
                        success: function (response) {
                            $("#box_liveaboards").append(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadLiveaboards);
            $('#show_more_liveaboards').click(loadLiveaboards);

            var loadAccommodations = function () {
                $('#box_accommodations').fadeIn("slow");
                offset_accommodations = offset_accommodations + 6;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_show_more")}}",
                        data: 'business=accommodations&limit=' + limit_accommodations + '&offset=' + offset_accommodations,
                        dataType: "text",
                        success: function (response) {
                            $("#box_accommodations").append(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadAccommodations);
            $('#show_more_accommodations').click(loadAccommodations);

            var loadCountries = function () {
                $('#box_countries').fadeIn("slow");
                offset_countries = offset_countries + 7;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_countries_show_more")}}",
                        data: 'limit=' + limit_countries + '&offset=' + offset_countries,
                        dataType: "text",
                        success: function (response) {
                            $("#box_countries").append(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadCountries);
            $('#show_more_countries').click(loadCountries);

            /*  funçoes para os footables  */
            var loadDiveCentersAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_see_all")}}",
                        data: 'business=diveCenters',
                        dataType: "text",
                        success: function (response) {
                            $("#diveCentersInput").html(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadDiveCentersAll);
            $('#diveCentersModal').on('shown.bs.modal', loadDiveCentersAll);

            /*  funçoes para os footables  */
            var loadLiveaboardsAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_see_all")}}",
                        data: 'business=liveaboards',
                        dataType: "text",
                        success: function (response) {
                            $("#liveaboardsInput").html(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadLiveaboardsAll);
            $('#liveaboardsModal').on('shown.bs.modal', loadLiveaboardsAll);

            /*  funçoes para os footables  */
            var loadAccommodationsAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_business_see_all")}}",
                        data: 'business=accommodations',
                        dataType: "text",
                        success: function (response) {
                            $("#accommodationsInput").html(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadAccommodationsAll);
            $('#accommodationsModal').on('shown.bs.modal', loadAccommodationsAll);

            /*  funçoes para os footables  */
            var loadCountriesAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_countries_see_all")}}",
                        data: 'business=countries',
                        dataType: "text",
                        success: function (response) {
                            $("#countriesInput").html(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadCountriesAll);
            $('#countriesModal').on('shown.bs.modal', loadCountriesAll);

            /* função que vai buscar o mapa */
            var loadForm = function () {

                country = $('#country').val();
                location = $('#location').val();
                spot = $('#spot').val();
                scientific_name = $('#scientific').val();
                common_name = $('#common').val();

                $('#box_form').fadeIn("slow");
                $("#results").html("<div class='sk-spinner sk-spinner-three-bounce'><div class='sk-bounce1'></div><div class='sk-bounce2'></div><div class='sk-bounce3'></div></div>");

                setTimeout(function () {
                    $.ajax({
                        type: "post",
                        url: "{{path("destinations_form")}}",
                        data: ({country: country, location: location, spot: spot, scientific_name: scientific_name, common_name: common_name}),
                        dataType: "json",
                        success: function (data) {
                            $("#box_form").html(data.map);
                            $("#results").html(data.results + " {{ "page.destinations.label.spot"|trans }}");
                        }
                    });
                }, 100);
            };
            $(this).ready(loadForm);
            $('#find_marker').click(loadForm);
            $('#spot, #location, #country, #scientific, #common').keydown(function (event) {
                if (event.keyCode == 13) {
                    $(this).ready(loadForm);
                    return false;
                }
            });
        });

        function clearFields() {
            document.getElementById("spot").value = "";
            document.getElementById("location").value = "";
            document.getElementById("country").value = "";
            document.getElementById("scientific").value = "";
            document.getElementById("common").value = "";
        }

    </script>

{% endblock %}

{% block body %}
    
    {{insertCoin()|raw}} 

    <div class="wrapper wrapper-content" >
        <div class="animated fadeInRight">
            <div class="container">

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{ "page.destinations.meta_tag.title"|trans }}</h1>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Destinos start -->

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="dvb-container">
                                <h2>{{ "page.destinations.h2.title"|trans }}</h2>
                                <p class="text-muted">{{ "page.destinations.p.title"|trans|raw }}</p>

                                <ul class="dvb-md-list" >

                                    <div id="box_countries"></div>

                                    <!-- countries Modal start -->
                                    <div class="modal fade" id="countriesModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">{{ "page.destinations.modal.countries_title"|trans }}</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div id="countriesInput"></div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- countries Modal end -->
                                </ul>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_countries" >{{ "page.destinations.button.show_more_countries"|trans }}</button>
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#countriesModal">{{ "page.destinations.button.see_all_countries"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Destinos end -->

                <!-- Lista dos paises start -->
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>{{ "page.destinations.h2.countries"|trans }}</h2>
                        <p class="text-muted">{{ "page.destinations.p.countries"|trans|raw }}</p>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <div class="col-md-4">
                                {% set continent = continents[5] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[2] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-md-4">
                                {% set continent = continents[1] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[4] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[6] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[8] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>

                            <div class="col-md-4">
                                {% set continent = continents[3] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[7] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% set continent = continents[0] %}
                                {{ continent }}
                                <ul>
                                    {% for country in continent.countries %}
                                        <li>
                                            {{ link_to_country(country) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Lista dos paises end -->

                <!-- Map start -->
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>{{ "page.destinations.h2.map"|trans }}</h2>
                        <p class="text-muted">{{ "page.destinations.p.map"|trans|raw }}</p>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9">
                                <div id="box_form"></div>
                            </div>
                            <div class="col-sm-3">
                                <p>{{ "page.destinations.p.filters"|trans }}</p>

                                <div id="results" style="margin-bottom: 5px; min-height: 23px"></div> 

                                <fieldset>
                                    <legend style="color:gray"><h4>{{"page.destinations.legend.places"|trans}}</h4></legend>
                                    <div class="form-group">
                                        <input id="spot" class="form-control" placeholder="{{"page.destinations.h4.diveSites"|trans}}" />
                                    </div>
                                    <div class="form-group">
                                        <input id="location" class="form-control" placeholder="{{"page.destinations.h4.locations"|trans}}" />
                                    </div>
                                    <div class="form-group">
                                        <input id="country" class="form-control" placeholder="{{"page.destinations.h4.countries"|trans}}" />
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend style="color:gray"><h4>{{"page.destinations.legend.species"|trans}}</h4></legend>
                                    <div class="form-group">
                                        <input id="scientific" class="form-control" placeholder="{{"page.destinations.h4.species"|trans}}" />
                                    </div>
                                    <div class="form-group">
                                        <input id="common" class="form-control" placeholder="{{"page.destinations.h4.common"|trans}}" />
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <button type="buttom" class="btn btn-primary dim btn-block" onclick="clearFields();">{{ "page.destinations.clear_fields"|trans }}</button>
                                    <button id="find_marker" type="buttom" class="btn btn-primary dim btn-block">{{ "page.destinations.submit"|trans }}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Map end -->

                <!-- Tab Business start -->
                <div class="row" >
                    <div class="col col-lg-12">

                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">{{ "page.destinations.tab1.dive_centers"|trans }}</a></li>
                                <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">{{ "page.destinations.tab2.liveaboard"|trans }}</a></li>
                                <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-3">{{ "page.destinations.tab3.resorts"|trans }}</a></li>
                            </ul>
                            <div class="tab-content">

                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="ibox">
                                            <h3>{{ "page.destinations.h3.dive_center"|trans }}</h3>
                                            <p class="text-muted">{{ "page.destinations.p.dive_center"|trans|raw }}</p>
                                            {#<div class="ibox-content">#}
                                            <div id="box_diveCenters"></div>
                                            {#</div>#}

                                            <!-- diveCenters Modal start -->
                                            <div class="modal fade" id="diveCentersModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">{{ "page.destinations.modal.dive_centers_title"|trans }}</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div id="diveCentersInput"></div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- diveCenters Modal end -->

                                            {#<div class="ibox-content" >#}
                                            <div class="row" >
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_diveCenters" >{{ "page.destinations.button.show_more_dive_centers"|trans }}</button>
                                                </div>
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#diveCentersModal">{{ "page.destinations.button.see_all_dive_centers"|trans }}</button>
                                                </div>
                                            </div>
                                            {#</div>#}

                                        </div>
                                    </div>
                                </div>

                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="ibox">
                                            <h3>{{ "page.destinations.h3.liveaboard"|trans }}</h3>
                                            <p class="text-muted">{{ "page.destinations.p.liveaboard"|trans|raw }}</p>
                                            {#<div class="ibox-content">#}
                                            <div id="box_liveaboards"></div>
                                            {#</div>#}

                                            <!-- liveaboards Modal start -->
                                            <div class="modal fade" id="liveaboardsModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">{{ "page.destinations.modal.liveaboards_title"|trans }}</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div id="liveaboardsInput"></div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- liveaboards Modal end -->

                                            {#<div class="ibox-content" >#}
                                            <div class="row" >
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_liveaboards" >{{ "page.destinations.button.show_more_liveaboard"|trans }}</button>
                                                </div>
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#liveaboardsModal">{{ "page.destinations.button.see_all_liveaboard"|trans }}</button>
                                                </div>
                                            </div>
                                            {#</div>#}

                                        </div>
                                    </div>
                                </div>

                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="ibox">
                                            <h3>{{ "page.destinations.h3.accommodations"|trans }}</h3>
                                            <p class="text-muted">{{ "page.destinations.p.accommodations"|trans|raw }}</p>
                                            {#<div class="ibox-content">#}
                                            <div id="box_accommodations"></div>
                                            {#</div>#}

                                            <!-- accommodations Modal start -->
                                            <div class="modal fade" id="accommodationsModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">{{ "page.destinations.modal.accommodations_title"|trans }}</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div id="accommodationsInput"></div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- accommodations Modal end -->

                                            {#<div class="ibox-content" >#}
                                            <div class="row" >
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_accommodations" >{{ "page.destinations.button.show_more_accomodations"|trans }}</button>
                                                </div>
                                                <div class="col-sm-6 col-sx-12">
                                                    <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#accommodationsModal">{{ "page.destinations.button.see_all_accomodations"|trans }}</button>
                                                </div>
                                            </div>
                                            {#</div>#}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Business end -->

            </div>
        </div>
    </div>

{% endblock %}
