{% extends 'SkaphandrusAppBundle::content_index_layout.html.twig' %}

{% block page_title %}{{ "page.home.meta_tag.title"|trans }}{% endblock %}
{% block page_description %}{% endblock %}
{% block page_keywords %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('index', {'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('index', {'locale': 'en'}) }}" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/destinations.css') }}">
    <link href="{{ asset('bundles/skaphandrusapp/css/custom.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var limit_countries = 7;
            var offset_countries = -7;

            var loadCountries = function () {
                $('#box_countries').fadeIn("slow");
                offset_countries = offset_countries + 7;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_countries_show_more")}}",
                        data: 'limit=' + limit_countries + '&offset=' + offset_countries,
                        dataType: "text",
                        success: function (response) {
                            $("#box_countries").append(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadCountries);
            $('#show_more_countries').click(loadCountries);
        });

        var $grid = $('.gallery-index').imagesLoaded(function () {
            // init Isotope after all images have loaded
            $grid.isotope({
                // options
                itemSelector: '.grid-item-gallery-index',
                layoutMode: 'masonry'
            });
        });

    </script>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="animated fadeIn">
            <div class="container">

                <!-- BEGIN - parte inicial -->
                <div class="row">
                    <div class="col-lg-12">
                        {% if app.user %}
                            {% set id = "home_box" %}
                        {% else %}
                            {% set id = "" %}
                        {% endif %}
                        <div class="ibox" id="{{ id }}">
                            <div class="ibox-title">
                                <h5>{{"page.index.h5.title"|trans}}</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">

                                    <!-- BEGIN - primeira coluna -->
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-02.jpg') }}" alt="Citizen science network">
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Skaphandrus <span class="text-navy"> <br>{{"page.home.h1.citizen_science_network"|trans|raw}}</span></h1>
                                            <small>{{"page.home.slogan.citizen_science_network"|trans|raw}}</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    {{"page.home.project_description.citizen_science_network"|trans|raw}}
                                                </p>
                                                <p class="text-center m-t-md"><a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">{{"page.common.btn.join_us"|trans|raw}}</a></p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small> {{"page.index.text_helper.message"|trans}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END - primeira coluna -->

                                    <!-- BEGIN - segunda coluna -->
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-01.jpg') }}" alt="Ocean Life Identification" >
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Skaphandrus <span class="text-navy"><br>{{"page.home.h1.ocean_life_identification"|trans|raw}}</span></h1>
                                            <small>{{"page.home.slogan.ocean_life_identification"|trans|raw}}</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    {{"page.home.project_description.ocean_life_identification"|trans|raw}} </p>
                                                <p class="text-center m-t-md"><a href="{{ path('modules')}}" class="btn btn-success">{{"page.common.btn.read_more"|trans|raw}}</a><br></p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small> {{"page.index.text_helper.message"|trans}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END - segunda coluna -->

                                    <!-- BEGIN - terceira coluna -->
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-03.jpg') }}" alt="UW Contests" >
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Skaphandrus <span class="text-navy"><br>{{"page.home.h1.underwater_contests"|trans|raw}}</span></h1>
                                            <small>{{"page.home.slogan.underwater_contests"|trans|raw}}</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    {{"page.home.project_description.underwater_contests"|trans|raw}} </p>
                                                <p class="text-center m-t-md"><a href="{{ path('contests_landing_page') }}" class="btn btn-success">{{"page.common.btn.read_more"|trans|raw}}</a></p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small> {{"page.index.text_helper.message"|trans}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END - terceira coluna -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END - parte inicial -->

                <div class="row">
                    <div class="col-md-8">

                        <!-- BEGIN - photos -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox">
                                    <h3>{{"page.home.h3.all_photos"|trans}}</h3>
                                    <div class="row gallery-index">
                                        {% for photo in photos %}
                                            <div class="col-lg-4 col-md-6 col-sm-6 col-sx-12 grid-item-gallery-index">
                                                <div class="ibox float-e-margins">
                                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                                        <div class="ibox-content ibox-content no-padding border-left-right">
                                                            <meta itemprop="name" content="{{photo.title}}"/>
                                                            <a href="{{ url_to_photo(photo) }}" title="{{ photo.title }}">
                                                                <img itemprop="image" alt="{{photo.title}}" class="img-responsive" src="{{ photo.getWebPath | imagine_filter('sk_widen_400') }}" />
                                                            </a>
                                                        </div>
                                                        <div class="ibox-content profile-content">
                                                            <h4><strong>{{ photo.title }}</strong></h4>
                                                            <ul class="list-unstyled">
                                                                <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                                    <meta itemprop="name" content="{{ photo.fosUser.name }}"/>
                                                                    {{ "page.photos.label.username"|trans }}: <a href="{{ url_to_user(photo.fosUser) }}">{{ photo.fosUser.name }}</a>
                                                                </li>
                                                                {% if photo.spot is not null %}
                                                                    <li itemprop="contentLocation" itemscope itemtype="http://schema.org/TouristAttraction">
                                                                        <meta itemprop="name" content="{{ photo.spot.name }}"/>
                                                                        {{ "page.photos.label.spot"|trans }}: <a href="{{ url_to_spot(photo.spot) }}">{{ photo.spot.name }}</a>
                                                                    </li>
                                                                {% endif %}
                                                                {% if photo.species is not null %}
                                                                    <li>
                                                                        {{ "page.photos.label.species"|trans }}: <a href="{{ url_to_species(photo.species) }}">{{ photo.species.name }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-block btn-primary dim m-b-md" onclick="location.href = '{{ path('photos') }}';">
                                                {{"page.home.button.all_photos"|trans}}
                                            </button>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END - photos -->

                    </div>

                    <div class="col-md-4">

                        {#<button type="button" class="btn btn-block btn-warning dim m-b-md" onclick="location.href = '{{ path('destinations') }}';">
                            <div class="button_side">{{ "page.index.button.book_now"|trans }}</div>
                        </button>#}

                        <!-- BEGIN - business -->
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{{ "page.index.h3.business"|trans }}</h3>
                            </div>
                            <div class="ibox-content">
                                {#<h3>Title</h3>#}
                                {% for b in business %}
                                    <div class="contact-box">
                                        <div class="col-sm-4">
                                            <div class="text-center">
                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}, {{ b.address.location.region.country }}</p>
                                            <div>
                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}

                                {% if app.user %}
                                    <button class="btn btn-primary dim btn-block m-b-md" onclick="location.href = '{{ path('business_admin_new') }}';">
                                        {{ "page.index.button.logged_become_partner"|trans }}
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary dim btn-block m-b-md" onclick="location.href = '{{ path('business_fos_user_new') }}';">
                                        {{ "page.index.button.register_become_partner"|trans }}
                                    </button>
                                {% endif %}

                            </div>
                        </div>
                        <!-- END - business -->

                        <!-- BEGIN - modules -->
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-01.jpg') }}" alt="Ocean Life Identification"  class="img-responsive" />
                                    </div>
                                    <div class="col-xs-8">
                                        <h3>{{ "page.index.identification.timeline"|trans }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="latest_model_carrossel">
                                            {% for module in modules %}
                                                <a href="{{ url_to_module(module) }}">
                                                    <img class="thumbnail" src="{{ module.getWebPath | imagine_filter('sk_widen_240') }}" alt="{{module.name}}" />
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-block dim" onclick="location.href = '{{ path('modules') }}';">
                                    {{ "page.index.button.modules"|trans }}
                                </button>
                            </div>
                        </div>
                        <!-- END - modules -->

                        <!-- BEGIN - contest -->
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-03.jpg') }}" alt="Ocean Life Identification"  class="img-responsive" />
                                    </div>
                                    <div class="col-xs-8">
                                        <h3>{{"page.index.contests.list"|trans}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <!-- BEGIN contest in progress -->
                                {% if contestsInProgress %}
                                    {% for contest in contestsInProgress %}
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <h4>{{link_to_contest(contest)}}</h4>
                                            </div>
                                            <div class="col-xs-3">
                                                {% if "now"|date("U") < contest.beginAt|date("U") %}
                                                    {% set percentage = 0 %}
                                                    {% set contest_status = 'not-started' %}
                                                    {% set button_class = 'default' %}
                                                    <meta itemprop="eventStatus" content="not-started" />
                                                {% elseif "now"|date("U") < contest.endAt|date("U") %}
                                                    {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
                                                    {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
                                                    {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
                                                    {% set contest_status = 'active' %}
                                                    {% set button_class = 'warning' %}
                                                    <meta itemprop="eventStatus" content="active" />
                                                {% else %}
                                                    {% set percentage = 100 %}
                                                    {% set contest_status = 'completed' %}
                                                    {% set button_class = 'primary' %}
                                                    <meta itemprop="eventStatus" content="completed" />
                                                {% endif %}
                                                <span class="label label-{{ button_class }}">
                                                    {{ ("page.contests.label.status_" ~ contest_status)|trans }}
                                                </span>
                                            </div>
                                            {% if contest.business is not null %}
                                                <div class="col-xs-4">
                                                    {{ contest.business.name }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    {% endfor %}


                                    {#<div class="m-b-md">
                                        <table class="table table-hover no-margins">
                                            {% for contest in contestInProgress %}
                                                <tr>
                                                    <td class="text-navy">
                                                        <meta itemprop="name" content="{{ contest }}" />
                                                        <meta itemprop="startDate" content="{{ contest.beginAt|date("Y-m-d") }}" />
                                                        <meta itemprop="endDate" content="{{ contest.endAt|date("Y-m-d") }}" />
                                                        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                                                            <meta itemprop="name" content="Azores" />
                                                            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                                <meta itemprop="name" content="Azores" />
                                                            </span>
                                                        </span>
                                                        {{link_to_contest(contest)}}
                                                    </td>
                                                    <td>
                                                        <!-- Calculate the project completeness -->
                                                        {% if "now"|date("U") < contest.beginAt|date("U") %}
                                                            {% set percentage = 0 %}
                                                            {% set contest_status = 'not-started' %}
                                                            {% set button_class = 'default' %}
                                                            <meta itemprop="eventStatus" content="not-started" />
                                                        {% elseif "now"|date("U") < contest.endAt|date("U") %}
                                                            {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
                                                            {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
                                                            {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
                                                            {% set contest_status = 'active' %}
                                                            {% set button_class = 'warning' %}
                                                            <meta itemprop="eventStatus" content="active" />
                                                        {% else %}
                                                            {% set percentage = 100 %}
                                                            {% set contest_status = 'completed' %}
                                                            {% set button_class = 'primary' %}
                                                            <meta itemprop="eventStatus" content="completed" />
                                                        {% endif %}
                                                        <span class="label label-{{ button_class }}">
                                                            {{ ("page.contests.label.status_" ~ contest_status)|trans }}
                                                        </span>
                                                    </td>
                                                    <td>{{ contest.business.name }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>#}

                                {% endif %}
                                <!-- END contest in progress -->

                                <!-- BEGIN contest ended -->
                                {% for contest in contestsEnded %}
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <h4>{{link_to_contest(contest)}}</h4>
                                        </div>
                                        <div class="col-xs-3">
                                            {% if "now"|date("U") < contest.beginAt|date("U") %}
                                                {% set percentage = 0 %}
                                                {% set contest_status = 'not-started' %}
                                                {% set button_class = 'default' %}
                                                <meta itemprop="eventStatus" content="not-started" />
                                            {% elseif "now"|date("U") < contest.endAt|date("U") %}
                                                {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
                                                {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
                                                {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
                                                {% set contest_status = 'active' %}
                                                {% set button_class = 'warning' %}
                                                <meta itemprop="eventStatus" content="active" />
                                            {% else %}
                                                {% set percentage = 100 %}
                                                {% set contest_status = 'completed' %}
                                                {% set button_class = 'primary' %}
                                                <meta itemprop="eventStatus" content="completed" />
                                            {% endif %}
                                            <span class="label label-{{ button_class }}">
                                                {{ ("page.contests.label.status_" ~ contest_status)|trans }}
                                            </span>
                                        </div>
                                    </div>
{#                                    <div class="row side_contests">
                                        <div class="col-lg-10 col-lg-offset-1">
                                            <h5>{{"page.index.h5.winner_photo_contest"|trans}}</h5>
                                            <div class="side_contest_slider">
                                                {% for category in contest.categories %}
                                                    {% for award in category.awards %}
                                                        <a href="{{ path('photo_no_slug',  { 'id': award.winnerPhoto.id }) }}">
                                                            <div class="img-thumbnail">
                                                                <img alt="{{ award.winnerPhoto }}" class="img-responsive" src="{{ award.winnerPhoto.getWebPath | imagine_filter('sk_thumbnail_outbound_200') }} " />
                                                            </div>
                                                        </a>
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>#}
                                    <div class="hr-line-dashed"></div>
                                {% endfor %}
                                <!-- END contest ended -->

                                <button type="button" class="btn btn-block dim btn-primary" onclick="location.href = '{{ path('contests_landing_page') }}';">
                                    {{ "page.index.button.create_contest"|trans }}
                                </button>
                            </div>
                        </div>
                        <!-- END - contest -->

                    </div>
                </div>

                <!-- Destinos start -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{{ "page.home.h3.destinations"|trans }}</h3>
                            </div>
                            <div class="ibox-content">
                                {#<h3>{{ "page.home.h3.destinations"|trans }}</h3>#}
                                {#<div class="home">#}
                                <div class="dvb-container">
                                    <ul class="dvb-md-list" >
                                        <div id="box_countries"></div>
                                    </ul>
                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-block btn-primary dim m-b-md" onclick="location.href = '{{ path('destinations') }}';">
                                                {{ "page.destinations.button.see_all_countries"|trans }}
                                            </button>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                </div>
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Destinos end -->

                
               
                <div class="row">
                    <div class="col-md-12">


                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- footer_skaphandrus -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-6251060861215295"
                                 data-ad-slot="4238938930"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
<br/>
<br/>
                    </div>
                </div>
               
                 
                
            </div>
        </div>
    </div>

{% endblock %}

