{% extends 'SkaphandrusAppBundle::content_index_layout.html.twig' %}

{% block body %}

    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">




                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-center m-t-lg">
                                    <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-02.jpg') }}" alt="Citizen science network">
                                </div>
                                <div class="text-center m-t-lg">
                                    <h1>Skaphandrus <span class="text-navy"> <br>{{"page.home.h1.citizen_science_network"|trans|raw}}</span></h1>
                                    <small>{{"page.home.slogan.citizen_science_network"|trans|raw}}</small>
                                </div>
                                <div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="text-center p-m">
                                        <p>{{"page.home.project_description.citizen_science_network"|trans|raw}}</p>
                                        <p class="text-center m-t-md"><a href="" class="btn btn-primary">{{"page.common.btn.join_us"|trans|raw}}</a></p>
                                    </div>
                                    <div>
                                        <div class="text-center">
                                            <small>If you need any help feel free to write to us on support@skaphandrus.com.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="text-center m-t-lg">
                                    <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-01.jpg') }}" alt="Ocean Life Identification" >
                                </div>
                                <div class="text-center m-t-lg">
                                    <h1>Skaphandrus <span class="text-navy"><br>{{"page.home.h1.ocean_life_identification"|trans|raw}}</span></h1>
                                    <small>{{"page.home.slogan.ocean_life_identification"|trans|raw}}</small>
                                </div>
                                <div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="text-center p-m">
                                        <p>{{"page.home.project_description.ocean_life_identification"|trans|raw}} </p>
                                        <p class="text-center m-t-md"><a href="" class="btn btn-success">{{"page.common.btn.read_more"|trans|raw}}</a><br></p>
                                    </div>
                                    <div>
                                        <div class="text-center">
                                            <small>If you need any help feel free to write to us on support@skaphandrus.com.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center m-t-lg">
                                    <img src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-03.jpg') }}" alt="UW Contests" >
                                </div>
                                <div class="text-center m-t-lg">
                                    <h1>Skaphandrus <span class="text-navy"><br>{{"page.home.h1.underwater_contests"|trans|raw}}</span></h1>
                                    <small>{{"page.home.slogan.underwater_contests"|trans|raw}}</small>
                                </div>
                                <div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="text-center p-m">
                                        <p>{{"page.home.project_description.ocean_life_identification"|trans|raw}} </p>
                                        <p class="text-center m-t-md"><a href="#" class="btn btn-success">{{"page.common.btn.read_more"|trans|raw}}</a></p>
                                    </div>
                                    <div>
                                        <div class="text-center">
                                            <small>If you need any help feel free to write to us on support@skaphandrus.com.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">



            <!-- Skaphandrus Activity -->              
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{"page.index.h5.activity"|trans}}</h5>
 {#                       <div class="ibox-tools">
                            <span class="label label-warning-light">10 Messages</span>
                        </div>
 #}                   </div>
                    <div class="ibox-content">
                        <div>
                            {{ render(controller('SkaphandrusAppBundle:Common:skActivity', { 'parameters': { 'aa': 1 },'limit':20 } )) }}
                            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end activity -->
        </div>



    </div>


{% endblock %}

