{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
    <h2>{{ location.translate(app.request.locale).name }}, {{ intl_country_name(location.region.country.name) }}</h2>

    <h3>{{ "page.location.h3.description"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).description }}</p>

    <h3>{{ "page.location.h3.water_temp"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).waterTemp }}</p>

    <h3>{{ "page.location.h3.suit"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).suit }}</p>

    <h3>{{ "page.location.h3.visibility"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).visibility }}</p>

    <h3>{{ "page.location.h3.climate"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).climate }}</p>

    <h3>{{ "page.location.h3.how_to_go"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).howToGo }}</p>

    <h3>{{ "page.location.h3.extra_dive"|trans }}</h3>
    <p>{{ location.translate(app.request.locale).extraDive }}</p>

    <h3>{{ "page.location.h3.spots"|trans }}</h3>
    {% for spot in location.spots %}
        <h4>{{ spot.translate(app.request.locale).name }}</h4>
        <p>{{ spot.coordinate }}</p>
    {% endfor %}
    
{% endblock %}
