{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{location.description[0:160]}}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('location', {'country':slugify(location.region.country.getCountryName('pt')), 'slug':slugify(location.translate('pt').name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('location', {'country':slugify(location.region.country.getCountryName('en')), 'slug':slugify(location.translate('en').name), 'locale': 'en'}) }}" />
{% endblock %}


{% set keywords = location.region.country %}
{% set keywords = keywords~', '~location.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.holidays"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.travel"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.snorkeling"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.scuba"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.diving"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.dive"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sites"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.locations"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animals"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.map"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.water_temperature"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.diving_suit"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.visibility_underwater"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.climate"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.how_to_get_there"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">

    <!-- FooTable -->
    {#    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">#}

    {#<style type="text/css">
        .in.collapse+a.btn.showdetails:before {
            content: "{{"common.hide"|trans}}";
        }
        .collapse+a.btn.showdetails:before {
            content:"{{"common.show_more"|trans}}";
        }
    </style>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>

    <script src="https://raw.githubusercontent.com/jedfoster/Readmore.js/master/readmore.min.js"></script>
    <!-- FooTable -->
    {#    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>#}

    <script type="text/javascript">

        $(function () {
            var limit_spots = 3;
            var offset_spots = -3;
            var limit_species = 3;
            var offset_species = -3;
            var limit_photographers = 3;
            var offset_photographers = -3;

            var loadSpots = function () {
                $('#box_spots').fadeIn("slow");
                offset_spots = offset_spots + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_spot_show_more")}}",
                        data: 'location_id=' + {{ location.id }} +'&limit=' + limit_spots + '&offset=' + offset_spots,
                        dataType: "text",
                        success: function (response) {
                            $('#box_spots .slider_thumbs').slick('unslick');
                            $("#box_spots").append(response);
                            sliders('#box_spots .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpots);
            $('#show_more_spots').click(loadSpots);

            var loadSpecies = function () {
                $('#box_species').fadeIn("slow");
                offset_species = offset_species + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_species_show_more")}}",
                        data: 'location_id=' + {{ location.id }} +'&limit=' + limit_species + '&offset=' + offset_species,
                        dataType: "text",
                        success: function (response) {
                            $('#box_species .slider_thumbs').slick('unslick');
                            $("#box_species").append(response);
                            sliders('#box_species .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpecies);
            $('#show_more_species').click(loadSpecies);

            var loadPhotographers = function () {
                $('#box_photographers').fadeIn("slow");
                offset_photographers = offset_photographers + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_photographers_show_more")}}",
                        data: 'location_id=' + {{ location.id }} +'&limit=' + limit_photographers + '&offset=' + offset_photographers,
                        dataType: "text",
                        success: function (response) {
                            $('#box_photographers .slider_thumbs').slick('unslick');
                            $("#box_photographers").append(response);
                            sliders('#box_photographers .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadPhotographers);
            $('#show_more_photographers').click(loadPhotographers);

        });

        var locaitonId = 'location_id= {{ location.id }}';

        /*  funçoes para os footables  */
        var loadSpotAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_spot_see_all")}}",
                    data: locaitonId,
                    dataType: "text",
                    success: function (response) {
                        $("#spotInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadSpotAll);
        $('#spotModal').on('shown.bs.modal', loadSpotAll);

        var loadSpeciesAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_species_see_all")}}",
                    data: locaitonId,
                    dataType: "text",
                    success: function (response) {
                        $("#speciesInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadSpeciesAll);
        $('#speciesModal').on('shown.bs.modal', loadSpeciesAll);

        var loadPhotographersAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_photographers_see_all")}}",
                    data: locaitonId,
                    dataType: "text",
                    success: function (response) {
                        $("#photographersInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadPhotographersAll);
        $('#photographersModal').on('shown.bs.modal', loadPhotographersAll);

        $('#readMore').readmore({
            speed: 75,
            heightMargin: 25,
            collapsedHeight: 250,
            moreLink: '<a style="width: 25%; margin-top:-20px;" class="btn btn-block btn-outline btn-primary pull-right" href="#">{{"common.show_more"|trans}}</a>',
            lessLink: '<a style="width: 25%; margin-top:-20px;" class="btn btn-block btn-outline btn-primary pull-right" href="#">{{"common.hide"|trans}}</a>'
        });

        {#$('.row .showdetails').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });#}

    </script>

    {% if map %}
        <script>
            // Fix bug on Gmap inside tabs
            $('.nav-tabs').on('shown.bs.tab', function () {
                google.maps.event.trigger(window, 'resize', {});
                setTimeout(function () {
            {{ map.javascriptVariable }}.setCenter({{ map.center.javascriptVariable }});
                    }, 100);
                });
        </script>
    {% endif %}

{% endblock %}

{% block heading_title %}
    {% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h1.heading_title{% endtrans %}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement"><a href="{{ path('destinations') }}">{{ "breadcrumb.locations"|trans }}</a></li>
        <li itemprop="itemListElement">{{ link_to_country(location.region.country) }}</li>
        <li itemprop="itemListElement" class="active"><strong>{{ location.name }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}


{% block body %}

    <div class="wrapper wrapper-content" itemscope itemtype="http://schema.org/City">
        <div class="animated fadeInRight"> 
            <div class="container">

                <div class="row" >
                    <div class="col col-lg-12" >
                        <div class="ibox" >
                            <div class="ibox-title" >
                                <meta itemprop="isicV4" content="96590" />
                                <h1 itemprop="name">{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h1.title{% endtrans %}</h1>
                            </div>
                            <div class="ibox-content" >
                                <h3>{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h3.info{% endtrans %}</h3>
                                {% if location.description is not empty %}

                                    <div id="readMore">
                                        <p itemprop="description">{{ location.description|raw }}</p>

                                        {% if location.waterTemp is not empty %}
                                            <h5>{{ "page.location.h5.water_temp"|trans }}</h5>
                                            <p>{{ location.waterTemp|raw }}</p>
                                        {% endif %}

                                        {% if location.suit is not empty %}
                                            <h5>{{ "page.location.h5.suit"|trans }}</h5>
                                            <p>{{ location.suit|raw }}</p>
                                        {% endif %}

                                        {% if location.visibility is not empty %}
                                            <h5>{{ "page.location.h5.visibility"|trans }}</h5>
                                            <p>{{ location.visibility|raw }}</p>
                                        {% endif %}

                                        {% if location.climate is not empty %}
                                            <h5>{{ "page.location.h5.climate"|trans }}</h5>
                                            <p>{{ location.climate|raw }}</p>
                                        {% endif %}

                                        {% if location.howToGo is not empty %}
                                            <h5>{{ "page.location.h5.how_to_go"|trans }}</h5>
                                            <p>{{ location.howToGo|raw }}</p>
                                        {% endif %}

                                        {% if location.extraDive is not empty %}
                                            <h5>{{ "page.location.h5.extra_dive"|trans }}</h5>
                                            <p>{{ location.extraDive|raw }}</p>
                                        {% endif %}
                                    </div>

                                    {#<p itemprop="description">{{ location.description|raw }}</p>

                                    <div class="span4 collapse-group">
                                        {% if location.waterTemp is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.water_temp"|trans }}</h5>
                                            <p class="collapse">{{ location.waterTemp|raw }}</p>
                                        {% endif %}

                                        {% if location.suit is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.suit"|trans }}</h5>
                                            <p class="collapse">{{ location.suit|raw }}</p>
                                        {% endif %}

                                        {% if location.visibility is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.visibility"|trans }}</h5>
                                            <p class="collapse">{{ location.visibility|raw }}</p>
                                        {% endif %}

                                        {% if location.climate is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.climate"|trans }}</h5>
                                            <p class="collapse">{{ location.climate|raw }}</p>
                                        {% endif %}

                                        {% if location.howToGo is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.how_to_go"|trans }}</h5>
                                            <p class="collapse">{{ location.howToGo|raw }}</p>
                                        {% endif %}

                                        {% if location.extraDive is not empty %}
                                            <h5 class="collapse">{{ "page.location.h5.extra_dive"|trans }}</h5>
                                            <p class="collapse">{{ location.extraDive|raw }}</p>
                                        {% endif %}

                                        <a style="margin: 2% 0% 0% 25%; width: 50%; " class="btn btn-block btn-outline btn-primary showdetails" data-toggle="collapse" data-target="#viewdetails"></a>
                                    </div>#}
                                {% else %}
                                    {{ "page.location.p.no_description"|trans }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!--  Mapa de spots start -->
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="ibox" >
                            <div class="ibox-title" >
                                <h3>{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h3.spots_map{% endtrans %}</h3>
                            </div>

                            {% if map %}
                                {{ google_map(map) }}
                            {% endif %}

                            <div class="ibox-content">
                                {% if location.spots|length > 0 %}
                                    <h3>{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h3.spots{% endtrans %}</h3>
                                    <div class="row">
                                        {% for spot in location.spots %}
                                            <div class="col-md-3 col-sm-2 col-xs-6">
                                                <p>{{ link_to_spot(spot, location, location.region.country) }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <br/>

                                <div id="box_spots"></div>
                            </div>

                            <!-- Spots Modal start -->
                            <div class="modal fade" id="spotModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.country.h4.spot_modal{% endtrans %}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div id="spotInput"></div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Spots Modal end -->

                            <div class="ibox-content" >
                                <div class="row" >
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_spots">{{ "page.location.button.show_more_spots"|trans }}</button>
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#spotModal">{{ "page.location.button.see_all_spots"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Mapa de spots end -->

                <!--  Species start -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox" >
                            <div class="ibox-title" >
                                <h3>{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h3.species{% endtrans %}</h3>
                            </div>

                            <div class="ibox-content">
                                <div id="box_species"></div>
                            </div>

                            <!-- Species Modal start -->
                            <div class="modal fade" id="speciesModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h4.species_modal{% endtrans %}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div id="speciesInput"></div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Species Modal end -->

                            <div class="ibox-content" >
                                <div class="row" >
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_species">{{ "page.location.button.show_more_species"|trans }}</button>
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#speciesModal">{{ "page.location.button.see_all_species"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Species end -->

                <!--  Photographers start -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox" >
                            <div class="ibox-title" >
                                <h3>{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h3.contributors{% endtrans %}</h3>
                            </div>

                            <div class="ibox-content">
                                <div id="box_photographers"></div>
                            </div>

                            <!-- Photographers Modal start -->
                            <div class="modal fade" id="photographersModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{% trans with {'%location%': location.name, '%country%': location.region.country} %}page.location.h4.photographers_modal{% endtrans %}</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div id="photographersInput"></div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Photographers Modal end -->

                            <div class="ibox-content" >
                                <div class="row" >
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_photographers" >{{ "page.location.button.show_more_photographers"|trans }}</button>
                                    </div>
                                    <div class="col-sm-6 col-sx-12">
                                        <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#photographersModal">{{ "page.location.button.see_all_photographers"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Photographers end -->

                <!--  Dive Centers start -->
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">{{ "page.location.tab1.dive_centers"|trans }}</a></li>
                        <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">{{ "page.location.tab2.liveaboard"|trans }}</a></li>
                        <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-3">{{ "page.location.tab3.resorts"|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.dive_center"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if diveCenters %}
                                            {% for b in diveCenters %}
                                                <div class="col-lg-4 col-md-6 col-sm-12" >
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_dive_center"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.liveaboard"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if liveaboards %}
                                            {% for b in liveaboards %}
                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_liveaboard"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <h4>{{ "page.spot.h4.accommodation"|trans }}</h4>
                                    {#<div class="ibox-content">#}
                                    <div class="row" >
                                        {% if accommodations %}
                                            {% for b in accommodations %}
                                                <div class="col-lg-4 col-md-6 col-sm-12">
                                                    <div class="contact-box" style="height: 165px">
                                                        <div class="col-sm-4">
                                                            <div class="text-center">
                                                                <img alt="{{ b }}" class="img-thumbnail m-t-xs img-responsive" src="{{ b.getWebPath | imagine_filter('sk_widen_100') }}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h4><strong>{{b|truncate(40)}}</strong></h4>
                                                            <p><i class="fa fa-map-marker"></i> {{ b.address.location }}</p>
                                                            <div>
                                                                <a class="btn btn-outline btn-primary btn-block btn-xs" href="{{ path('business_no_slug', { 'id': b.id}) }}">{{ "page.business.button.more_info"|trans }}</a>
                                                                <a class="btn btn-primary btn-block btn-xs" href="{{ path('booking_admin_new', {'business_id': b.id}) }}">{{ "page.business.button.book_now"|trans }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div> 
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col col-lg-12">
                                                {{ "page.spot.h4.no_accommodation"|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Dive Centers end -->

            </div>
        </div>
    </div>

{% endblock %}



