{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ location.name }}, {{ location.region.country }}{% endblock %}
{% block page_description %}description{% endblock %}
{% block page_keywords %}{{ location.name }}, {{ location.region.country }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script>
        // Fix bug on Gmap inside tabs
        $('.nav-tabs').on('shown.bs.tab', function () {
            google.maps.event.trigger(window, 'resize', {});
            setTimeout(function() {
                {{ map.javascriptVariable }}.setCenter({{ map.center.javascriptVariable }});
            },100);
        });
    </script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.footable-spots').footable();
            $('.footable-species').footable();
            $('.footable-photographers').footable();
        });
    </script>

{% endblock %}

{% block heading_title %}
    {{ location.name }}, {{ location.region.country }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li>{{ link_to_country(location.region.country) }}</li>
        <li class="active"><strong>{{ location.name }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}



{% block body %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.location.h5.location_detail"|trans }}</h5>
                    </div>
                    <div>
                        <div class="ibox-content">

                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{location.name}}</strong></h4>

                        </div>
                    </div>
                </div>
            </div><!-- end left column -->

            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.location.h5.location_related_contents"|trans }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a></li>
                                <li><a href="#">Config option 2</a></li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <h1>{{ location.name }}, {{ location.region.country }}</h1>
                        <div class="panel">
                            <div class="panel-heading">
                                <!--<div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>-->
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1">{{ "page.location.tab.info"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-2">{{ "page.location.tab.spots"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-3">{{ "page.location.tab.species"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-4">{{ "page.location.tab.photos"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-5">{{ "page.location.tab.contributors"|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <h3>{{ "page.location.h3.info"|trans }}</h3>
                                        {% if location.description is not empty %}
                                            <h5>{{ "page.location.h5.description"|trans }}</h5>
                                            <p>{{ location.description }}</p>
                                        {% endif %}

                                        {% if location.waterTemp is not empty %}
                                            <h5>{{ "page.location.h5.water_temp"|trans }}</h5>
                                            <p>{{ location.waterTemp }}</p>
                                        {% endif %}

                                        {% if location.suit is not empty %}
                                            <h5>{{ "page.location.h5.suit"|trans }}</h5>
                                            <p>{{ location.suit }}</p>
                                        {% endif %}

                                        {% if location.visibility is not empty %}
                                            <h5>{{ "page.location.h5.visibility"|trans }}</h5>
                                            <p>{{ location.visibility }}</p>
                                        {% endif %}

                                        {% if location.climate is not empty %}
                                            <h5>{{ "page.location.h5.climate"|trans }}</h5>
                                            <p>{{ location.climate }}</p>
                                        {% endif %}

                                        {% if location.howToGo is not empty %}
                                            <h5>{{ "page.location.h5.how_to_go"|trans }}</h5>
                                            <p>{{ location.howToGo }}</p>
                                        {% endif %}

                                        {% if location.extraDive is not empty %}
                                            <h5>{{ "page.location.h5.extra_dive"|trans }}</h5>
                                            <p>{{ location.extraDive }}</p>
                                        {% endif %}


                                    </div>


                                    <div id="tab-2" class="tab-pane">
                                        <h3>{{ "page.location.h3.spots"|trans }}</h3>
                                        <div class="row">
                                            {{ google_map(map) }}
                                            <input type="text" class="form-control input-sm m-b-xs" id="filter-spots" placeholder="Search in table">
                                            <table class="footable footable-spots table" data-page-size="50" data-filter=#filter-spots>
                                                <thead>
                                                    <th>{{ "page.location.table.spot"|trans }}</th>
                                                    <th>{{ "page.location.table.num_photos"|trans }}</th>
                                                </thead>
                                                <tbody>
                                                {% set c = location.region.country %}
                                                {% for spot in location.spots %}
                                                    <tr>
                                                        <td>{{ link_to_spot(spot, location, c) }}</td>
                                                        <td>
                                                            <a href="{{ path('photos', {'spot': spot.id}) }}">{{ spot.photos|length }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div id="tab-3" class="tab-pane">
                                        <h3>{{ "page.location.h3.species"|trans }}</h3>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-species" placeholder="Search in table">
                                        <table class="footable footable-species table" data-page-size="50" data-filter=#filter-species>
                                            <thead>
                                                <th>{{ "page.location.table.species"|trans }}</th>
                                                <th>{{ "page.location.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                            {% for sp in species %}
                                                <tr>
                                                    <td>{{ link_to_species(sp) }}</td>
                                                    <td>
                                                        <a href="{{ path('photos', {'species': sp.id, 'location': location.id}) }}">{{ sp.photosCount }}</a>
                                                    </td>
                                                </tr>
                                            </tr>
                                            {% endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div id="tab-4" class="tab-pane">
                                        <h3>{{ "page.location.h3.photos"|trans }}</h3>
                                        {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'location': location.id },'limit':20 } )) }}
                                    </div>

                                    <div id="tab-5" class="tab-pane">
                                        <h3>{{ "page.location.h3.contributors"|trans }}</h3>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-photographers" placeholder="Search in table">
                                        <table class="footable footable-photographers table" data-page-size="50" data-filter=#filter-photographers>
                                            <thead>
                                                <th>{{ "page.location.table.species"|trans }}</th>
                                                <th>{{ "page.location.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                            {% for p in photographers %}
                                                <tr>
                                                    <td>{{ link_to_user(p.fosUser) }}</td>
                                                    <td>
                                                        <a href="{{ path('photos', {'fosUser': p.fosUser.id, 'location': location.id}) }}">{{ p.photoCount }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end right column -->
        </div><!-- end row-->
    </div><!-- end wrapper-->

{% endblock %}



