{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%title%': photo.title|capitalize, '%taken_by%': photo.fosuser } %}page.photo.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{ photo.description [0:160] }}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('photo_no_slug', {'id':photo.id, 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('photo_no_slug', {'id':photo.id, 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = photo.title %}
{% for key in photo.keyword %}
    {% set keywords = keywords~', '~key.keyword %}
{% endfor %}
{% set keywords = keywords~', '~photo.species %}
{% set keywords = keywords~', '~photo.spot %}
{% set keywords = keywords~', '~photo.fosuser %}
{% set keywords = keywords~', '~("meta_tag.keyword.image"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.picture"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photo"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block facebook_tags %}

    {% if app.request.locale == 'en' %}
        {% set aux = '_US' %}
    {% elseif app.request.locale == 'pt' %}
        {% set aux = '_PT' %}
    {% endif %}

    {% if photo.description is not null %}
        {% set aux_description = photo.description [0:160] %}
    {% else %}
        {% if photo.species is not empty and photo.species is not null %}
            {% set aux_description = photo.title ~ ', ' ~ ("page.photo.h3.species"|trans) ~ ' ' ~ photo.species  %}
        {% else %}
            {% set aux_description = photo.title %}
        {% endif %}
        {% if photo.spot is not empty and photo.spot is not null %}
            {% set aux_description = aux_description  ~ ', ' ~  ("page.photo.h3.spot"|trans) ~ ' ' ~ photo.spot ~ ', ' ~ photo.spot.location ~ ', ' ~ photo.spot.location.region.country %}
        {% endif %}
        {% if photo.species is empty and photo.species is null and photo.spot is empty and photo.spot is not null %}
            {% set aux_description = photo.title  %}
        {% endif %}
    {% endif %}

    <meta property="fb:app_id"      content="158974667453267"/>
    <meta property="og:type"        content="skaphandrus:photo"/>
    <meta property="og:site_name"   content="Skaphandrus"/>
    <meta property="og:locale"      content="{{ app.request.locale ~ aux }}"/>
    <meta property="og:url"         content="{{ app.request.getSchemeAndHttpHost() ~ url_to_photo(photo) }}" />

    {% set title = "page.photo.meta_tag.title"|trans({'%title%': photo.title|capitalize, '%taken_by%': photo.fosuser}) %}
    {% set title = title|split(',') %}
    {% set title = title[0] %}

    <meta property="og:title"       content="{{ title }}" />
    <meta property="og:image"       content="{{ app.request.getSchemeAndHttpHost() ~ "/" ~ photo.getWebPath }}" />
    <meta property="og:description" content="{{ aux_description }}" />

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/animate.css') }}">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <style>
        .ui-autocomplete {
            z-index: 2500 !important;
        }
        #skaphandrus_appbundle_skphotovalidation_rating label {
            margin: 0 10px 0 2px;
        }
        .child {
            display:block;
            margin:auto;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>

    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>

    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>
    {#    <script type="text/javascript">
            $(function () {
                var $grid = $('.grid').imagesLoaded(function () {
    // init Isotope after all images have loaded
                    $grid.isotope({
    // options
                        itemSelector: '.grid-item',
                        layoutMode: 'masonry'
                    });
                });
    
    
                $('.vote-button').click(function () {
                    photo_id = $(this).attr('id');
    
                    if ($(this).hasClass('btn-primary')) {
                        $.ajax({
                            url: "/{{ app.request.locale }}/category/{{ category.id }}/vote-photo/" + $(this).attr('id'),
                            success: function (data) {
                                $('.vote-button.btn-success').removeClass('btn-success').addClass('btn-primary').html('<i class="fa fa-check"></i> {{ "page.contest.btn.vote"|trans }}');
                                $('.vote-button#' + photo_id).removeClass('btn-primary').addClass('btn-success').html('<i class="fa fa-check"></i> {{ "page.contest.btn.voted"|trans }}');
                            },
                        });
                    }
                });
            });
        </script>#}

{% endblock %}

{% block heading_title %}
    {{ photo.title }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement"><a href="{{ path('photos') }}">{{ "breadcrumb.photos"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ photo.title }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content animated" itemscope itemtype="http://schema.org/Photograph">
        <div class="row">
            <div class="col col-lg-12" >
                <div class="carousel slide" id="carousel1">
                    <div class="carousel-inner">
                        <img style="width: 600px; max-height: 800px;" itemprop="image" alt="{{photo.title}}" class="img-responsive child" src="{{ "/" ~ photo.getWebPath }}" />
                    </div>
                    <a style="margin-left: 20%; background: none" data-slide="prev" class="left carousel-control" href="{{path('photo_no_slug', {'id':previous_photo}) }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a style="margin-right: 20%; background: none" data-slide="next" class="right carousel-control" href="{{path('photo_no_slug', {'id':next_photo}) }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-12">
                <p style=" margin: 2% 0% 2% 0%; text-align: center;"> {{"page.photo.p.more_photos"|trans}} </p>
            </div>

            <div class="row" style="padding: 0% 15% 0% 15%;" >
                <div class="col col-md-12">
                    <div class="slider variable-width ">
                        {% for p in photosUser %}
                            <div>
                                <a href="{{ path('photo_no_slug',  { 'id': p.id }) }}" title="{{ p.title }}">
                                    <img style=" margin: 0% 5% 0% 5%; width: auto; background-color: black; height: 100px; " alt="{{ p.title }}" src="{{ "/" ~ p.getWebPath }}" />
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div style="margin-top: 1%;" class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ "page.photo.h5.photo_detail"|trans }}</h5>
                        </div>

                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-6" >
                                    <ul style="margin-left: 3%;" class="list-unstyled">
                                        <li style="margin-bottom: 2%;" >
                                            <strong>{{ "page.photo.h3.title"|trans }}: </strong>
                                            <meta itemprop="name" /> {{photo.title}} 
                                        </li>
                                        <li style="margin-bottom: 2%;" > 
                                            <strong> {{ "page.photo.h3.photographer"|trans }}: </strong>
                                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                <meta itemprop="name" content="{{ photo.fosuser }}" />
                                                <meta itemprop="url" content="{{ url_to_user(photo.fosuser) }}" />
                                            </span>
                                            {{ link_to_user(photo.fosuser) }}
                                        </li>
                                        <li style="margin-bottom: 2%;" > 
                                            <strong> {{ "page.photo.label.taken_at"|trans }}:  </strong>
                                            <meta itemprop="datePublished" content="{{ photo.takenAt|date("Y-m-d") }}" />
                                            {{ photo.takenAt|date('Y-m-d H:i:s') }}
                                        </li>
                                        <li style="margin-bottom: 2%;" > 
                                            <strong> {{ "page.photo.label.uploaded_at"|trans }}: </strong>
                                            <meta itemprop="dateCreated" content="{{ photo.createdAt|date("Y-m-d") }}" />
                                            {{ photo.createdAt|date('Y-m-d H:i:s') }}
                                        </li>
                                        <li style="margin-bottom: 2%;">
                                            <strong> {{ "page.photo.label.camera"|trans }}: </strong>
                                            {% if photo.model is not empty %}
                                                {{ photo.model.name }}
                                            {% else %}
                                                {{ "page.photo.label.no_camera"|trans }}
                                            {% endif %}
                                        </li>
                                        <li style="margin-bottom: 2%;">
                                            <strong> {{ "page.photo.label.licensed_under"|trans }}: </strong>
                                            {% if photo.creative is not empty %}
                                                <meta itemprop="license" content="{{ photo.creative.name }}" />
                                                <a class="text-navy" href="#">{{ photo.creative.name }}</a>
                                            {% endif %}
                                        </li>
                                        <li style="margin-bottom: 2%;">
                                            <strong>{{ "page.photo.h3.species"|trans }}: </strong>
                                            {% if photo.species is not empty and photo.species is not null  %}
                                                {{ link_to_species(photo.species) }}
                                            {% else %}
                                                {{ "page.photo.h3.no_species"|trans }}
                                            {% endif %}
                                        </li>
                                        <li style="margin-bottom: 2%;">
                                            <strong>{{ "page.photo.h3.spot"|trans }}</strong>
                                            {% if photo.spot is not empty %}
                                                <span itemscope itemtype="http://schema.org/TouristAttraction ">
                                                    <meta itemprop="name" content="{{ photo.spot }}" />
                                                </span>
                                                <span itemscope itemtype="http://schema.org/City ">
                                                    <meta itemprop="name" content="{{ photo.spot.location }}" />
                                                </span>
                                                <span itemscope itemtype="http://schema.org/Country ">
                                                    <meta itemprop="name" content="{{  photo.spot.location.region.country }}" />
                                                </span>
                                                {{ link_to_spot(photo.spot)}}, {{ link_to_location(photo.spot.location)}}, {{ link_to_country(photo.spot.location.region.country)}}
                                            {% else %}
                                                {{ "page.photo.h3.no_spot"|trans }}
                                            {% endif %}
                                        </li>
                                        <li style="margin-bottom: 2%;">
                                            <strong>{{ "page.photo.h5.description"|trans }}</strong>
                                            {% if photo.description is not empty %}
                                                <p itemprop="description">{{ photo.description }}</p>
                                            {% else %}
                                                {{ "page.photo.h5.no_description"|trans }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6" >
                                    {% if photo.keyword|length > 0 %}
                                        <h3 class="tag-title">{{ "page.photo.h3.tags"|trans }}</h3>
                                        <ul class="tag-list" style="padding: 0;">
                                            {% for keyword in photo.keyword %}
                                                <li itemprop="keywords">
                                                    <a href="">{{ keyword.keyword }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">
                            <div class="row" style="text-align: right; margin-right: 2%; ">
                                {% include 'SkaphandrusAppBundle:Common:addThis.html.twig' with {'photography': photo} %}
                            </div>
                        </div>

                        {#<div style="margin-top: 1%;" class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title" style="margin-top: 3.5%;">
                                        <h5>{{ "page.photo.h5.contest"|trans }}</h5>
                                    </div>
                                    <div  style="display: block;" class="ibox-content">
                                        {% if photoInContest %}
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>{{ "page.photo.th.contest_name"|trans }}</th>
                                                        <th>{{ "page.photo.th.contest_category"|trans }}</th>
                                                        <th>{{ "page.photo.th.contest_score"|trans }}</th>
                                                    </tr>
                                                </thead>
                                                {% for category in photoInContest %}
                                                    <tbody>
                                                        <tr>
                                                            <td>{{category.contest}}</td>
                                                            <td>{{category}}</td>
                                                            {% if photo.points > 0 %}
                                                                <td>
                                                                    <i class="fa fa-trophy"></i><strong class="font-bold"> {{photo.points}}</strong>
                                                                </td>
                                                            {% else %}
                                                                <td>
                                                                    {% set class = 'btn-primary' %}
                                                                    {% set text = "page.contest.btn.vote"|trans %}

                                                                    {% if votedPhoto is not empty and photo.id == votedPhoto.photo.id %}
                                                                        {% set class = 'btn-success' %}
                                                                        {% set text = "page.contest.btn.voted"|trans %}
                                                                    {% endif %}

                                                                    {% if category.contest.isInPublicVotation %}
                                                                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                                                        <button type="button" class="vote-button btn-block btn {{ class }}" id="{{ photo.id }}">
                                                                            <i class="fa fa-check"></i> {{ text }}
                                                                        </button>
                                                                    {% else %}
                                                                        <a class="btn btn-success btn-outline btn-block" href="{{ path('fos_user_security_login') }}">
                                                                            Login to vote <i class="fa fa-long-arrow-right"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    </tbody>
                                                {% endfor %}
                                            </table>
                                        {% else %}
                                            {{ "page.photo.contest.no_results"|trans }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>#}

                        <div style="margin-top: 5%;" class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Comments</h5>
                                    </div>
                                    <div  style="display: block;" class="ibox-content">
                                        {% include 'SkaphandrusAppBundle:Comments:async.html.twig' with {'id': 'SkPhoto-' ~ photo.id } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ "page.photo.h5.species_identification"|trans }}</h5>
                        </div>

                        <div class="ibox-content">
                            <div  style=" margin: 0% 4% 4% 4%;" class="row">

                                {% for flashMessage in app.session.flashbag.get('notice') %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {{ flashMessage|trans }}
                                    </div>
                                {% endfor %}

                                {% if photo.speciesValidations|length %}
                                    <strong> {{ "page.photo.h3.species_validations"|trans }} </strong>
                                    <div style="margin-top: 2%;"  class="feed-activity-list" >
                                        {% for sv in photo.speciesValidations %}
                                            <div class="feed-element" >
                                                <a class="pull-left" href="{{path('user', {'id':sv.fosUser.id}) }}">
                                                    <img class="img-circle" src="{{ "/" ~ sv.fosUser.settings.getWebPath }}"/>
                                                </a>
                                                <div class="media-body">
                                                    {{ link_to_user(sv.fosUser) }}
                                                    {{ "page.photo.label.validated"|trans }}
                                                    {{ link_to_species(sv.species) }}
                                                </div>
                                                <small style="float: right;" class="text-muted">{{ sv.createdAt|date("H:m - d/m/Y") }}</small>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if photo.speciesSugestions|length %}
                                    <br/>
                                    <strong> {{ "page.photo.h3.species_sugestions"|trans }} </strong>
                                    <div style="margin-top: 2%;"  class="feed-activity-list" >
                                        {% for ss in photo.speciesSugestions %}
                                            <div class="feed-element" >
                                                <a class="pull-left" href="{{path('user', {'id':ss.fosUser.id}) }}">
                                                    <img class="img-circle" src="{{ "/" ~ ss.fosUser.settings.getWebPath }}"/>
                                                </a>
                                                <div class="media-body">
                                                    {{ link_to_user(ss.fosUser) }} 
                                                    {{ "page.photo.label.validated"|trans }} 
                                                    {{ link_to_species(ss.species) }}
                                                </div>
                                                <small style="float: right;" class="text-muted">{{ ss.createdAt|date("H:m - d/m/Y") }}</small>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if showValidation %}
                                <button data-toggle="modal" data-target="#modal-validation" class="btn btn-primary dim" style="width:100%" type="button">{{ ("page.photo.btn.validation_" ~ validationAction)|trans|upper }}</button>
                                {#<a data-toggle="modal" data-target="#modal-validation" class="btn btn-primary dim">{{ ("page.photo.btn.validation_" ~ validationAction)|trans|upper }}</a>#}
                                <div class="modal inmodal" id="modal-validation" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            {% if validationAction == 'new' %}
                                                {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesValidation:new', { 'photo_id': photo.id } )) }}
                                            {% else %}
                                                {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesValidation:edit', { 'id': userValidation.id } )) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            {% if showSugestion %}
                                <button data-toggle="modal" data-target="#modal-sugestion" class="btn btn-primary dim" style="width:100%" type="button">{{ ("page.photo.btn.sugestion_" ~ sugestionAction)|trans }}</button>
                                {#<a data-toggle="modal" data-target="#modal-sugestion" class="btn btn-block btn-primary">{{ ("page.photo.btn.sugestion_" ~ sugestionAction)|trans }}</a>#}
                                <div class="modal inmodal" id="modal-sugestion" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            {% if sugestionAction == 'new' %}
                                                {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesSugestion:new', { 'photo_id': photo.id } )) }}
                                            {% else %}
                                                {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesSugestion:edit', { 'id': userSugestion.id } )) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% if photo.species is not empty %}
                            <div class="ibox-content">
                                {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'species': photo.species.id },'limit':25  } )) }}
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
