{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%title%': photo.title, '%created_at%': photo.createdAt|date('Y-m-d H:i:s')} %}page.photo.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{ photo.description [0:160]}}{% endblock %}

{% set keywords = photo.title %}
{% for key in photo.keyword %}
    {% set keywords = keywords~', '~key.keyword %}
{% endfor %}
{% set keywords = keywords~', '~photo.species %}
{% set keywords = keywords~', '~photo.spot %}
{% set keywords = keywords~', '~photo.fosuser %}
{% set keywords = keywords~', '~("meta_tag.keyword.image"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.picture"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photo"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/animate.css') }}">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <style>
        .ui-autocomplete {
            z-index: 2500 !important;
        }
        #skaphandrus_appbundle_skphotovalidation_rating label {
            margin: 0 10px 0 2px;
        }


        .child {
            display:block;
            margin:auto;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
{% endblock %}

{% block heading_title %}
    {{ photo.title }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path('photos') }}">{{ "breadcrumb.photos"|trans }}</a></li>
        <li class="active"><strong>{{ photo.title }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}






{% block body %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col col-lg-12" >
                <img alt="{{photo.title}}" class="img-responsive child" src="{{ photo.getWebPath | imagine_filter('sk_downscale_800_600') }}" />
                <br/>
            </div>
        </div>






        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.photo.h5.photo_detail"|trans }}</h5>
                    </div>
                    <div class="ibox-content ">
                        <h4><strong>{{photo.title}}</strong></h4>

                        <dl class="dl-horizontal">
                            <dt>{{ "page.photo.h3.photographer"|trans }}: </dt><dd>{{ link_to_user(photo.fosuser) }}</dd>
                            <dt>{{ "page.photo.label.taken_at"|trans }}:</dt> <dd>{{ photo.takenAt|date('Y-m-d H:i:s') }}</dd>
                            <dt>{{ "page.photo.label.uploaded_at"|trans }}:</dt> <dd>  {{ photo.createdAt|date('Y-m-d H:i:s') }}</dd>
                            {% if photo.creative is not empty %}
                                <dt>{{ "page.photo.label.licensed_under"|trans }}:</dt> <dd><a class="text-navy" href="#"> {{ photo.creative.name }}</a> </dd>
                            {% endif %}
                            {% if photo.model is not empty %}
                                <dt>{{ "page.photo.label.camera"|trans }}:</dt> <dd> 	{{ photo.model.name }} </dd> 
                            {% endif %}
                        </dl>

                        {% if photo.description is not empty %}
                            <h5>{{ "page.photo.h5.description"|trans }}</h5>
                            <p>{{ photo.description }}</p>
                        {% endif %}



                        {#{% if is_granted("IS_AUTHENTICATED_FULLY") %}#}
                        {% include 'SkaphandrusAppBundle:Comments:async.html.twig' with {'id': 'SkPhoto-' ~ photo.id } %}
                        {# {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'SkPhoto-' ~ photo.id} %}#}
                        {#{% endif %}#}

                    </div>



                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.photo.h5.related_contents"|trans }}</h5>
                        {#<div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>#}
                    </div>

                    <div class="ibox-content ">






                        {#                            <div class="row m-t-md">
                                                        <div class="col-md-4">
                                                            <h5><strong>{{photo.views}}</strong> {{ "page.photo.h5.views"|trans }}</h5>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h5><strong>{{photo.countLikes}}</strong> {{ "page.photo.h5.likes"|trans }}</h5>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <h5><strong>{{photo.countComments}}</strong> {{ "page.photo.h5.comments"|trans }}</h5>
                                                        </div>
                                                    </div>  #}












                        {% if photo.keyword|length > 0 %}
                            <h3 class="tag-title">{{ "page.photo.h3.tags"|trans }}</h3>
                            <ul class="tag-list" style="padding: 0;">
                                {% for keyword in photo.keyword %}
                                    <li><a href="">{{ keyword.keyword }}</a></li>
                                    {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        {% endif %}

                        {% if photo.species is not empty and photo.species is not null  %}
                            <h3>{{ "page.photo.h3.species"|trans }}</h3>
                            <p>{{ link_to_species(photo.species) }}</p>
                        {% endif %}

                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}

                        {% if photo.speciesValidations|length %}
                            <h3>{{ "page.photo.h3.species_validations"|trans }}</h3>
                            <ul>
                                {% for sv in photo.speciesValidations %}
                                    {% if sv.species is not empty %}
                                        <li>{{ link_to_user(sv.fosUser) }} {{ "page.photo.label.validated"|trans }} {{ link_to_species(sv.species) }}</li>
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                        {% endif %}

                        {% if showValidation %}
                            <a href="#" data-toggle="modal" data-target="#modal-validation" class="btn btn-primary">{{ ("page.photo.btn.validation_" ~ validationAction)|trans }}</a>
                            <div class="modal inmodal" id="modal-validation" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog"><div class="modal-content animated bounceInRight">
                                        {% if validationAction == 'new' %}
                                            {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesValidation:new', { 'photo_id': photo.id } )) }}
                                        {% else %}
                                            {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesValidation:edit', { 'id': userValidation.id } )) }}
                                        {% endif %}
                                    </div></div>
                            </div>
                        {% endif %}

                        {% if photo.speciesSugestions|length %}
                            <h3>{{ "page.photo.h3.species_sugestions"|trans }}</h3>
                            <ul>
                                {% for ss in photo.speciesSugestions %}
                                    <li>{{ link_to_user(ss.fosUser) }} {{ "page.photo.label.sugested"|trans }} {{ link_to_species(ss.species) }}</li>
                                    {% endfor %}
                            </ul>
                        {% endif %}

                        {% if showSugestion %}
                            <a href="#" data-toggle="modal" data-target="#modal-sugestion" class="btn btn-primary">{{ ("page.photo.btn.sugestion_" ~ sugestionAction)|trans }}</a>
                            <div class="modal inmodal" id="modal-sugestion" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog"><div class="modal-content animated bounceInRight">
                                        {% if sugestionAction == 'new' %}
                                            {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesSugestion:new', { 'photo_id': photo.id } )) }}
                                        {% else %}
                                            {{ render(controller('SkaphandrusAppBundle:SkPhotoSpeciesSugestion:edit', { 'id': userSugestion.id } )) }}
                                        {% endif %}
                                    </div></div>
                            </div>
                        {% endif %}

                        {% if photo.spot is not empty %}
                            <h3>{{ "page.photo.h3.spot"|trans }}</h3>
                            <p>{{ link_to_spot(photo.spot)}}, {{ link_to_location(photo.spot.location)}}, {{ link_to_country(photo.spot.location.region.country)}}</p>
                        {% endif %}

                        {% if photo.species is not empty %}
                            <h3>{{ "page.photo.h3.species_photos"|trans }}</h3>
                            {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'species': photo.species.id } } )) }}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end wrapper-->








{% endblock %}
