{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
    <h2>{{ photo.title }}</h2>

    {% if photo.image is not empty %}
        <h3>{{ "page.photo.h3.image"|trans }}</h3>
        <p>{{ photo.image }}</p>
    {% endif %}

    {% if photo.fosuser is not empty %}
        <h3>{{ "page.photo.h3.photographer"|trans }}</h3>
        <p>{{ photo.fosuser.id }}</p>
        <p>{{ photo.fosuser.username }}</p>
    {% endif %}

    {% if photo.description is not empty %}
        <h3>{{ "page.photo.h3.description"|trans }}</h3>
        <p>{{ photo.description }}</p>
    {% endif %}

    {% if photo.species is not empty %}
        <h3>{{ "page.photo.h3.species"|trans }}</h3>
        {% for sn in photo.species.scientificNames %}
        <p>{{ link_to_species(photo.species) }}</p>
        {% endfor %}
    {% endif %}

    {% if photo.spot is not empty %}
        <h3>{{ "page.photo.h3.where_was_taken"|trans }}</h3>
        <p>
            {{ photo.spot.translate(app.request.locale).name }},
            {{ photo.spot.location.translate(app.request.locale).name }},
            {{ intl_country_name(photo.spot.location.region.country.name) }}
        </p>
    {% endif %}

    {% if photo.keyword|length %}
        <h3>{{ "page.photo.h3.tags"|trans }}</h3>
        {% for keyword in photo.keyword %}
            <p>{{ keyword.keyword }}</p>
        {% endfor %}
    {% endif %}

    <h3>{# photo.views #} {{ "page.photo.h3.views"|trans({'%views%': photo.views}) }}</h3>
0
{% endblock %}
