<div class="lightBoxGallery">
    {% for photo in photos %}
        <div itemscope itemtype="http://schema.org/Photograph">
            <meta itemprop="name" content="{{ photo.title }}">
            <meta itemprop="datePublished" content="{{ photo.createdAt|date("Y-m-d") }}">
            <meta itemprop="dateCreated" content="{{ photo.takenAt|date("Y-m-d") }}">

            <span itemprop="author" itemtype="http://schema.org/Person"  >
                <meta itemprop="name" content="{{ photo.fosUser}}">
                <meta itemprop="url" content="{{ url_to_user(photo.fosUser) }}">
            </span>

            <a href="{{ url_to_photo(photo) }}" title="{{ photo.title }}">
                <img itemprop="image" alt="{{ photo.title }}" src="{{ photo.getWebPath | imagine_filter('new_sk_thumbnail_outbound_100') }}" />
            </a>
        </div>
    {% endfor %}
    <a href="{{ path('photos', parameters) }}">See More</a>
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    {#    <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    #}</div>
<style>
    /* Local style for demo purpose */

    .lightBoxGallery {
        text-align: center;
    }

    .lightBoxGallery img {
        margin: 5px;
    }

</style>
