{#
<style>
    /* Local style for demo purpose */

    .lightBoxGallery {
        text-align: center;
    }

    .lightBoxGallery img {
        margin: 5px;
    }
</style>

<div class="lightBoxGallery">
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</div>
#}

<style type="text/css">

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    /* ---- .grid-item ---- */
    .grid-item {
        border: 2px solid #fff;
        border-color: white;
        width: 25%
    }

</style>

<div class="grid">
    <!-- resultset rows --> 
    {% for row in photos %}
        <div class="grid-item">

            <span itemscope itemtype="http://schema.org/Photograph">
                <meta itemprop="name" content="{{ row.photo_title}}" />
                <meta itemprop="dateCreated" content="{{ row.photo_created_at|date("Y-m-d") }}" />
                <meta itemprop="datePublished" content="{{ row.photo_taken_at|date("Y-m-d") }}" />
                <span itemprop="author" itemscope itemtype="http://schema.org/Person"  >
                    <meta itemprop="name" content="{{ row.personal_firstname}} {{ row.personal_middlename}} {{ row.personal_lastname}}" />
                    <meta itemprop="url" content="{{ path('user',  { 'id': row.fos_user_id }) }}" />
                </span>

                <a href="{{ path('photo_no_slug',  { 'id': row.photo_id }) }}" title="{{ row.photo_title }}">
                    <img style="width: 125px; margin-bottom: 5px!important;" itemprop="image" alt="{{ row.photo_title }}" src="{{ ('uploads/fotografias/'~row.photo_image) | imagine_filter('sk_widen_265') }}" />
                </a>
            </span>

        </div>
    {% endfor %}
</div>

<a style="margin-top: 2%;" class="btn btn-block btn-outline btn-primary" href="{{ path('photos', parameters) }}">{{ "common.grid.see_all"|trans }}</a>

