{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% set auxAuthor = "" %}
{% for author in species.ScientificNames %}
    {% set auxAuthor = auxAuthor~', '~author.author %}
{% endfor %}
{% if species.speciesVernaculars is not empty %}
    {% set title = "" %}
    {% set auxCommon = "" %}
    {% set i=0 %}
    {% for vernacular in species.speciesVernaculars %}
        {% if (vernacular.locale == app.request.locale) and (i<4) %}
            {% set auxCommon = auxCommon~', '~vernacular.vernacular.name %}
        {% set title %}{% trans with {'%specie%': species.name, '%author%': auxAuthor, '%common%': auxCommon } %} page.species.meta_tag.title {% endtrans %}{% endset %}
        {% set i=i+1 %}
    {% else %}
    {% set title %}{% trans with {'%specie%': species.name, '%author%': auxAuthor, '%common%': auxCommon } %} page.species.meta_tag.title {% endtrans %}{% endset %}
{% endif %}
{% endfor %}
{% else %}
{% set title %}{% trans with {'%specie%': species.name, '%author%': auxAuthor, '%common%': "" } %} page.species.meta_tag.title {% endtrans %}{% endset %}
{% endif %}

{% block page_title %}{{title}}{% endblock %}

{% if species.translate(app.request.locale).description is not empty %}
    {% set description = species.translate(app.request.locale).description [0:160] %}
{% endif %}

{% block page_description %}{{description}}{% endblock %}

{% set keywords = species.name %}
{% if species.speciesVernaculars is not empty %}
    {% set i=0 %}
    {% for vernacular in species.speciesVernaculars %}
        {% if (vernacular.locale == app.request.locale) and (i<4) %}
            {% set keywords = keywords~', '~vernacular.vernacular.name %}
            {% set i=i+1 %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set keywords = keywords~', '~("meta_tag.keyword.fish"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animal"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sea"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.ocean"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.marine"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.description"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.criteria"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.identification"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.distribution"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.taxonomy"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.common_names"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(function () {
            $('.footable-users').footable();
        });
        $(function () {
            $('.footable-common_names').footable();
        });
    </script>
{% endblock %}

{% block heading_title %}
    {#{{ species.taxonNodeName|capitalize }}#}
    {{ "page.species.h2.heading_title"|trans }}: {{ species.name }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
            {#<li>{{ link_to_taxon(species.genus.family.order.class) }}</li>#}
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus.family.order) }}</li>
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus.family) }}</li>
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus) }}</li>
        <li itemprop="itemListElement" class="active"><strong>{{ species.name }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}



{% block body %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->

            {#            <div class="col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{ "page.species.h5.species_detail"|trans }}</h5>
                                </div>
                                <div>
                                    <div class="ibox-content ibox-content border-left-right">
                                        {% if photo %}
                                        <img alt="image" class="img-responsive img-rounded" src="{{ photo.getWebPath | imagine_filter('sk_widen_590') }}" />
                                        {% endif %}
                                    </div>
                                    <div class="ibox-content profile-content">
                                        <h4><strong>{{ species.name }}</strong></h4>
                                </div>
                                </div>
                            </div>
                        </div>#}

            <!-- species activity -->              
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.species.h5.species_activity"|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            {{ render(controller('SkaphandrusAppBundle:Common:skActivity', { 'parameters': { 'species_id': species.id },'limit':20 } )) }}
                            {#<button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>#}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end activity -->

            <!-- end left column -->

            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.photo.h5.species_related_contents"|trans }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <h1 itemprop="name">{{ "page.species.h2.heading_title"|trans }}: {{ species.name }}</h1>

                        <div class="panel">
                            <div class="panel-heading">
                                {#<div class="panel-title m-b-md"><h1>{{ species.name }}</h1></div>#}
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        {% set tab_id = 0 %}

                                        {% if true  %} 
                                            {% set tab_id = tab_id + 1 %}
                                            {% set tab_info_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.information"|trans }}</a></li> 
                                            {% endif %}

                                        {% if true  %} 
                                            {% set tab_id = tab_id + 1 %}
                                            {% set tab_names_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.common_names"|trans }}</a></li> 
                                            {% endif %}

                                        {% if species.character is not empty  %} 
                                            {% set tab_id = tab_id + 1 %}
                                            {% set tab_chars_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.criterias"|trans }}</a></li> 
                                            {% endif %}
                                            {% if species.photos|first is not empty %} 
                                                {% set tab_id = tab_id + 1 %}
                                                {% set tab_photos_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.photos"|trans }}</a></li>
                                            {% endif %}
                                            {% if users is not empty %} 
                                                {% set tab_id = tab_id + 1 %}
                                                {% set tab_users_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.contributors"|trans }}</a></li>
                                            {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">

                                    {% if true %}
                                        <div id="tab-{{tab_info_id}}" class="tab-pane {{tab_info_id==1?'active'}}">
                                            <h3>{% trans with {'%specie%': species.name } %} page.species.h3.information {% endtrans %}</h3>
                                            <h5>{{ "page.species.h5.taxonomic_structure"|trans }}</h5>
                                            <ul class="list-unstyled" itemscope itemtype="http://schema.org/ListItem">
                                                <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum.kingdom) }}</li>
                                                <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum) }}</li>
                                                <li itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(species.genus.family.order.class) }}</li>
                                                <li itemprop="item">{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(species.genus.family.order) }}</li>
                                                <li itemprop="item">{{ "page.species.label.species_family"|trans }}: {{ link_to_taxon(species.genus.family) }}</li>
                                                <li itemprop="item">{{ "page.species.label.species_genus"|trans }}: {{ link_to_taxon(species.genus) }}</li>
                                            </ul>
                                            {% if species.translate(app.request.locale).description is not empty %}
                                                <h5>{{ "page.species.h5.description"|trans }}</h5>
                                                <p itemprop="description">{{ species.translate(app.request.locale).description }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if true %}
                                        <div id="tab-{{tab_names_id}}" class="tab-pane {{tab_names_id==1?'active'}}">
                                            <h3>{% trans with {'%specie%': species.name } %} page.species.h3.common_names {% endtrans %}</h3>
                                            {% if species.speciesVernaculars is not empty %}
{#                                                <h5>{{ "page.species.h5.common_names"|trans }}</h5>#}
                                                <table class="footable footable-common_names table" data-page-size="100">
                                                    <thead>
                                                    <th>{{ "page.species.table.common_name"|trans }}</th>
                                                    <th>{{ "page.species.label.language"|trans }}</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for vernacular in species.speciesVernaculars %}
                                                            <tr>
                                                                <td>{{ vernacular.vernacular.name|capitalize }}</td>
                                                                <td>{{ intl_locale_name(vernacular.locale) }}</td>
                                                            </tr>
                                                            {% if vernacular.locale == app.request.locale %}
                                                                <meta itemprop="alternateName" content="{{ vernacular.vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}" >
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {#<ul class="list-unstyled">
                                                    {% for vernacular in species.speciesVernaculars %}
                                                        <li>{{ vernacular.vernacular.name|capitalize ~ " - " ~ intl_locale_name(vernacular.locale) }}</li>
                                                        {% if vernacular.locale == app.request.locale %}
                                                            <meta itemprop="alternateName" content="{{ vernacular.vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}" >
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>#}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if species.character is not empty %}
                                        <div id="tab-{{tab_chars_id}}" class="tab-pane {{tab_chars_id==1?'active'}}">
                                            <h3>{% trans with {'%specie%': species.name } %} page.species.h3.species_criteria {% endtrans %}</h3>
                                            {% for c in species.character %}
                                                <p>{{ c.criteria.translate(app.request.locale).name }} -> {{ c.image }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if species.photos|first is not empty %}
                                        <div id="tab-{{tab_photos_id}}" class="tab-pane {{tab_photos_id==1?'active'}}">
                                            <h3>{% trans with {'%specie%': species.name } %} page.species.h3.photos {% endtrans %}</h3>
                                            {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'species': species.id }, 'limit':24 } )) }}

                                        </div>
                                    {% endif %}                                                

                                    {% if users is not empty %}
                                        <div id="tab-{{tab_users_id}}" class="tab-pane {{tab_users_id==1?'active'}}">
                                            <h3>{% trans with {'%specie%': species.name } %} page.species.h3.contributors {% endtrans %}</h3>
                                            <input type="text" class="form-control input-sm m-b-xs" id="filter-users" placeholder="Search in table">
                                            <table class="footable footable-users table" data-page-size="50" data-filter=#filter-users>
                                                <thead>
                                                <th>{{ "page.species.table.name"|trans }}</th>
                                                <th>{{ "page.species.label.photos"|trans }}</th>
                                                </thead>
                                                <tbody>
                                                    {% for u in users %}
                                                    <span itemscope itemtype="http://schema.org/Person">
                                                        <meta itemprop="name" content="{{ u }}">
                                                    </span>

                                                    <tr>
                                                        <td>{{ link_to_user(u) }}</td>
                                                        <td>
                                                            <a href="{{ path('photos', {'fosUser': u.id, (species.taxonNodeName) : species.id}) }}">{{ u.photosInUser }}</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if species.translate(app.request.locale).howToFind is not empty %}
                                <h3>{{ "page.species.h3.how_to_find"|trans }}</h3>
                                <p>{{ species.translate(app.request.locale).howToFind }}</p>
                            {% endif %}

                        </div>
                    </div>
                </div><!--end right column -->
            </div><!-- end row-->
        </div><!-- end wrapper-->
    </div>
{% endblock %}
