{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}title{% endblock %}
{% block page_description %}description{% endblock %}
{% block page_keywords %}keywords{% endblock %}


{% block heading_title %}
    {% for sn_name in species.scientificNames %}
        {{ sn_name.name }} {{ sn_name.author }}
    {% endfor %}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ link_to_taxon(species.genus.family.order.class) }}">{{ species.genus.family.order.class.name }}</a></li>
        <li><a href="{{ link_to_taxon(species.genus.family.order) }}">{{ species.genus.family.order.name }}</a></li>
        <li><a href="{{ link_to_taxon(species.genus.family) }}">{{ species.genus.family.name }}</a></li>
        <li><a href="{{ link_to_taxon(species.genus) }}">{{ species.genus.name }}</a></li>                       
        <li class="active"><strong>{% for sn_name in species.scientificNames %}{{ sn_name.name }} {{ sn_name.author }}{% endfor %}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}



{% block body %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="{{ photo.getWebPath | imagine_filter('sk_widen_590') }}" />
                        <p> username: {{ photo.fosuser.id }}</p>

                        <h3>{{ "page.species.h3.taxonomic_structure"|trans }}</h3>
                        <p>{{ "page.species.label.species_kingdom"|trans }}:
                            <a href="{{ link_to_taxon(species.genus.family.order.class.phylum.kingdom) }}">
                                {{ species.genus.family.order.class.phylum.kingdom.name }}
                            </a>
                        </p>
                        <p>{{ "page.species.label.species_phylum"|trans }}:
                            <a href="{{ link_to_taxon(species.genus.family.order.class.phylum) }}">
                                {{ species.genus.family.order.class.phylum.name }}
                            </a>
                        </p>
                        <p>{{ "page.species.label.species_class"|trans }}:
                            <a href="{{ link_to_taxon(species.genus.family.order.class) }}">
                                {{ species.genus.family.order.class.name }}
                            </a>
                        </p>
                        <p>{{ "page.species.label.species_order"|trans }}:
                            <a href="{{ link_to_taxon(species.genus.family.order) }}">
                                {{ species.genus.family.order.name }}
                            </a>
                        </p>
                        <p>{{ "page.species.label.species_family"|trans }}:
                            <a href="{{ link_to_taxon(species.genus.family) }}">
                                {{ species.genus.family.name }}
                            </a>
                        </p>
                        <p>{{ "page.species.label.species_genus"|trans }}:
                            <a href="{{ link_to_taxon(species.genus) }}">
                                {{ species.genus.name }}
                            </a>
                        </p>

                        {% if species.translate(app.request.locale).description is not empty %}
                            <h3>{{ "page.species.h3.description"|trans }}</h3>
                            <p>{{ species.translate(app.request.locale).description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div><!-- end left column -->

            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-content">
                        {% for sn_name in species.scientificNames %}
                            <h1>{{ sn_name.name }} {{ sn_name.author }}</h1>
                        {% endfor %}
                        <div class="panel">
                            <div class="panel-heading">
                                <!--<div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>-->
                                <div class="panel-options">

                                    <ul class="nav nav-tabs">

                                        {% set tab_id = 0 %}

                                        {% if species.character is not empty  %} 
                                            {% set tab_id = tab_id + 1 %}
                                            {% set tab_chars_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.criterias"|trans }}</a></li> {% endif %}
                                                {% if species.photos|first is not empty %} 
                                                    {% set tab_id = tab_id + 1 %}
                                                    {% set tab_photos_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.photos"|trans }}</a></li>{% endif %}
                                                    {% if species.speciesVernaculars is not empty %} 
                                                        {% set tab_id = tab_id + 1 %}
                                                        {% set tab_vernas_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.common-names"|trans }}</a></li>{% endif %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <div class="tab-content">
                                                {% if species.character is not empty %}
                                                    <div id="tab-{{tab_chars_id}}" class="tab-pane {{tab_chars_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.species_criteria"|trans }}</h3>
                                                        {% for c in species.character %}
                                                            <p>{{ c.criteria.translate(app.request.locale).name }} -> {{ c.image }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                                {% if species.photos|first is not empty %}
                                                    <div id="tab-{{tab_photos_id}}" class="tab-pane {{tab_photos_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.photos"|trans }}</h3>
                                                        {% for p in species.photos %}
                                                            <p><a href="{{ link_to_photo(p.photo) }}">{{ p.photo.title }}</a> -> {{ p.photo.image }}</p>
                                                        {% endfor %}
                                                        {% if users is not empty %}
                                                            <h3>{{ "page.species.h3.user_photos"|trans }}</h3>
                                                            {% for u in users %}
                                                                <p>
                                                                    <a href="{{ link_to_user(u.0) }}">{{ "user_id"|trans }}: {{ u.0.username }}</a> ({{ u.countable }} {{ "page.species.label.photos"|trans }})
                                                                </p>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                {% endif %} 

                                                {% if species.speciesVernaculars is not empty %}
                                                    <div id="tab-{{tab_vernas_id}}" class="tab-pane {{tab_vernas_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.common_names"|trans }}</h3>
                                                        {% for vernacular in species.speciesVernaculars %}
                                                            <p>{{ vernacular.vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    {% if species.translate(app.request.locale).howToFind is not empty %}
                                        <h3>{{ "page.species.h3.how_to_find"|trans }}</h3>
                                        <p>{{ species.translate(app.request.locale).howToFind }}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div><!--end left column -->
                    </div><!-- end row-->
                </div><!-- end wrapper-->

            {% endblock %}
