{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}title{% endblock %}
{% block page_description %}description{% endblock %}
{% block page_keywords %}keywords{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
{% endblock %}

{% block heading_title %}
            {{ species.name }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li>{{ link_to_taxon(species.genus.family.order.class) }}</li>
        <li>{{ link_to_taxon(species.genus.family.order) }}</li>
        <li>{{ link_to_taxon(species.genus.family) }}</li>
        <li>{{ link_to_taxon(species.genus) }}</li>
        <li class="active"><strong>{{ species.name }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}



{% block body %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.species.h5.species_detail"|trans }}</h5>
                    </div>
                    <div>
                        <div class="ibox-content ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="{{ photo.getWebPath | imagine_filter('sk_widen_590') }}" />
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{photo.species.name}}</strong></h4>
                            <h5>{{ "page.species.h3.taxonomic_structure"|trans }}</h5>
                            <ul class="list-unstyled">
                                <li>{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum.kingdom) }}</li>
                                <li>{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum) }}</li>
                                <li>{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(species.genus.family.order.class) }}</li>
                                <li>{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(species.genus.family.order) }}</li>
                                <li>{{ "page.species.label.species_family"|trans }}: {{ link_to_taxon(species.genus.family) }}</li>
                                <li>{{ "page.species.label.species_genus"|trans }}: {{ link_to_taxon(species.genus) }}</li>
                            </ul>
                            {% if species.translate(app.request.locale).description is not empty %}
                                <h5>{{ "page.species.h3.description"|trans }}</h5>
                                <p>{{ species.translate(app.request.locale).description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- end left column -->

            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.photo.h5.species_related_contents"|trans }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>


                    <div class="ibox-content">
                        {% for sn_name in species.scientificNames %}
                            <h1>{{ sn_name.name }} {{ sn_name.author }}</h1>
                        {% endfor %}
                        <div class="panel">
                            <div class="panel-heading">
                                <!--<div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>-->
                                <div class="panel-options">

                                    <ul class="nav nav-tabs">

                                        {% set tab_id = 0 %}

                                        {% if species.character is not empty  %} 
                                            {% set tab_id = tab_id + 1 %}
                                            {% set tab_chars_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.criterias"|trans }}</a></li> {% endif %}
                                                {% if species.photos|first is not empty %} 
                                                    {% set tab_id = tab_id + 1 %}
                                                    {% set tab_photos_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.photos"|trans }}</a></li>{% endif %}
                                                    {% if species.speciesVernaculars is not empty %} 
                                                        {% set tab_id = tab_id + 1 %}
                                                        {% set tab_vernas_id = tab_id %}<li class="{{tab_id==1?'active'}}"><a data-toggle="tab" href="#tab-{{tab_id}}">{{ "page.species.tab.common-names"|trans }}</a></li>{% endif %}
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <div class="tab-content">
                                                {% if species.character is not empty %}
                                                    <div id="tab-{{tab_chars_id}}" class="tab-pane {{tab_chars_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.species_criteria"|trans }}</h3>
                                                        {% for c in species.character %}
                                                            <p>{{ c.criteria.translate(app.request.locale).name }} -> {{ c.image }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                                {% if species.photos|first is not empty %}
                                                    <div id="tab-{{tab_photos_id}}" class="tab-pane {{tab_photos_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.photos"|trans }}</h3>
                                                        {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'species': species.id } } )) }}
                                                        {% if users is not empty %}
                                                            <h3>{{ "page.species.h3.user_photos"|trans }}</h3>
                                                            {% for u in users %}
                                                                <p>
                                                                    {{ "user_id"|trans }}: {{ link_to_user(u.0) }} ({{ u.countable }} {{ "page.species.label.photos"|trans }})
                                                                </p>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}                                                

                                                {% if species.speciesVernaculars is not empty %}
                                                    <div id="tab-{{tab_vernas_id}}" class="tab-pane {{tab_vernas_id==1?'active'}}">
                                                        <h3>{{ "page.species.h3.common_names"|trans }}</h3>
                                                        {% for vernacular in species.speciesVernaculars %}
                                                            <p>{{ vernacular.vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}</p>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    {% if species.translate(app.request.locale).howToFind is not empty %}
                                        <h3>{{ "page.species.h3.how_to_find"|trans }}</h3>
                                        <p>{{ species.translate(app.request.locale).howToFind }}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div><!--end right column -->
                    </div><!-- end row-->
                </div><!-- end wrapper-->

            {% endblock %}
