{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% set title = "" %}
{% set auxCommon = [] %}
{% set auxAuthor = "" %}

{#se tiver vernaculares criar title com vernaculares #} 
{% if species.vernaculars is not empty %}
    {% for vernacular in species.vernaculars %}
        {% if (vernacular.locale == app.request.locale) %}

            {#adicionar ao array nomes comuns na lingua do utilizador #}
            {% set auxCommon = auxCommon|merge([vernacular.vernacular.name]) %}

            {#apresentar 3 nomes comuns ao titulo#}
        {% set title %}{% trans with {'%species%': species.name, '%common_names%': auxCommon|slice(0, 3)|join(', ') } %} page.species.meta_tag.title {% endtrans %}{% endset %}
    {% endif %}
{% endfor %}

{#se não tiver vernaculares, criar title com autor #}
{% else %}
    {% for author in species.ScientificNames %}
        {% set auxAuthor = auxAuthor~', '~author.author %}
    {% endfor %}
{% set title %}{% trans with {'%species%': species.name, '%author_name%': auxAuthor } %} page.species.meta_tag.title_author {% endtrans %}{% endset %}
{% endif %}

{% block page_title %}{{title}}{% endblock %}


{% if species.translate(app.request.locale).description is not empty %}

    {% set auxTaxon = species.genus.family.order.class.phylum.kingdom.name ~', '~ species.genus.family.order.class.phylum.name ~', '~ species.genus.family.order.class.name ~', '~ species.genus.family.order.name ~', '~ species.genus.family.name ~', '~ species.genus.name %}

{% set description %}{% trans with {'%species%': species.name, '%description%': species.translate(app.request.locale).description |truncate(155), '%taxonomic_groups%': auxTaxon } %} page.species.meta_tag.description {% endtrans %}{% endset %}

{% if (auxCommon is not empty)  %}
{% set description %}{% trans with {'%species%': species.name, '%description%': species.translate(app.request.locale).description, '%common_names%': auxCommon|slice(0, 3)|join(', '), '%taxonomic_groups%': auxTaxon } %} page.species.meta_tag.description_complete {% endtrans %}{% endset %}
{% endif %}

{% endif %}

{% block page_description %}{{description}}{% endblock %}


{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('species', {'slug':slugify(species.name), 'locale': 'pt'}) }} " />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('species', {'slug':slugify(species.name), 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = species.name %}
{% if species.vernaculars is not empty %}
    {% set i=0 %}
    {% for vernacular in species.vernaculars %}
        {% if (vernacular.locale == app.request.locale) and (i<4) %}
            {% set keywords = keywords~', '~vernacular.vernacular.name %}
            {% set i=i+1 %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set keywords = keywords~', '~("meta_tag.keyword.fish"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animal"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sea"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.ocean"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.marine"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.description"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.criteria"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.identification"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.distribution"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.taxonomy"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.common_names"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if map %}
        {{ google_map_css(map) }}
    {% endif %}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">

    <style type="text/css">
        .grid-item {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if map %}
        {{ google_map_js(map) }}
    {% endif %}

    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>

    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>

    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>

    <script type="text/javascript">

        $(function () {
            var limit_photographers = 3;
            var offset_photographers = -3;

            /* funçao de load para mais fotografos */
            var loadPhotographers = function () {
                $('#box_photographers').fadeIn("slow");
                offset_photographers = offset_photographers + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_photographers_show_more")}}",
                        data: 'species_id=' + {{ species.id }} +'&limit=' + limit_photographers + '&offset=' + offset_photographers,
                        dataType: "text",
                        success: function (response) {
                            $('#box_photographers .slider_thumbs').slick('unslick');
                            $("#box_photographers").append(response);
                            sliders('#box_photographers .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadPhotographers);
            $('#show_more_photographers').click(loadPhotographers);

        });

        /* função para load dos criterios */
        var loadCriterias = function () {
            $('#criterias').fadeIn("slow");
            $("#criterias").html("<div class='sk-spinner sk-spinner-three-bounce'><div class='sk-bounce1'></div><div class='sk-bounce2'></div><div class='sk-bounce3'></div></div>");

            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_criterias")}}",
                    data: 'slug=' + "{{ species.name }}",
                    dataType: "text",
                    success: function (response) {
                        $("#criterias").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadCriterias);

        /* funçao de load de todos os fotografos */
        var speciesId = 'species_id= {{ species.id }}';
        var loadPhotographersAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_photographers_see_all")}}",
                    data: speciesId,
                    dataType: "text",
                    success: function (response) {
                        $("#photographersInput").html(response);
                    }
                });
            }, 100);
        };
        $(this).ready(loadPhotographersAll);
        $('#photographersModal').on('shown.bs.modal', loadPhotographersAll);

        /* outras funçoes */
        $(function () {

            $('.footable-spots').footable();

            $("#loading").html("<div class='sk-spinner sk-spinner-three-bounce'><div class='sk-bounce1'></div><div class='sk-bounce2'></div><div class='sk-bounce3'></div></div>");
            $("#space").html("<br/>");
            var $grid = $('.grid').imagesLoaded(function () {
                $('.grid-item').show();
                $("#space").hide();
                $("#loading").hide();
                // init Isotope after all images have loaded
                $grid.isotope({
                    // options
                    itemSelector: '.grid-item',
                    layoutMode: 'masonry'
                });
            });

        });

    </script>

    {% if map %}
        <script type="text/javascript">
            $(function () {
                // Fix bug on Gmap inside tabs
                $('.nav-tabs').on('shown.bs.tab', function () {
                    google.maps.event.trigger(window, 'resize', {});
                    setTimeout(function () {
            {{ map.javascriptVariable }}.setCenter({{ map.center.javascriptVariable }});
                        }, 100);
                    });
                });
        </script>
    {% endif %}

{% endblock %}

{% block heading_title %}
    {{title}}
    {#{{ "page.species.h1.heading_title"|trans }}: {{ species.name }}#}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus.family.order.taxonNodeName|trans, species.genus.family.order) }}</li>
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus.family.taxonNodeName|trans, species.genus.family) }}</li>
        <li itemprop="itemListElement">{{ link_to_taxon(species.genus.taxonNodeName|trans, species.genus) }}</li>
        <li itemprop="itemListElement" class="active"><strong>{{ species.name }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="animated fadeInRight">
            <div class="container">

                {#<div class="species_photos_wrapper">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        {% for photo in photos %}
                            {% if loop.index == 1 %}
                                <img class="grid-item grid-item--width2" alt="{{photo.species}}" src="{{ photo.getWebPath | imagine_filter('sk_crop_476') }}" />
                            {% else %}
                                <img class="grid-item" alt="{{photo.species}}" src="{{ photo.getWebPath | imagine_filter('sk_crop_238') }}" />
                            {% endif %}
                        {% endfor %}
                        {% if photo is not empty %}
                            <div class="grid-sizer"></div>
                            <img class="grid-item grid-item--width2" alt="{{photo.species}}" src="{{ photo.getWebPath | imagine_filter('sk_resize_476') }}" />
                            {% for p in photo %}
                                <img class="grid-item" alt="{{p.species}}" src="{{ p.getWebPath | imagine_filter('sk_resize_238') }}" />
                            {% endfor %}
                            <img class="grid-item" src="placeholder.jpg" />
                        {% else %}
                            <div class="row" >
                                <div class="col col-lg-12" >
                                    <div class="ibox" style="margin: 1.2% 0% 0% 0%" >
                                        <h4 align="center">{{ "page.species.h4.no_photos"|trans }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="see_all">
                        <a href="{{ path('photos', { 'species': species.id }) }}">See all photos</a>
                    </div>
                </div>#}

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 itemprop="name">{{title}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-6">
                                <!--  ir bucar photo com is primary = 1  -->
                                {% if species.primaryPhoto %}
                                    <a href="{{ path('photo_no_slug',  { 'id': species.primaryPhoto.id }) }}" title="{{ species.primaryPhoto.title }}">
                                        <img  alt="{{species.primaryPhoto.species}}" style="max-height: 560px; max-width: 560px;" src="{{ species.primaryPhoto.getWebPath | imagine_filter('sk_downscale_max_600_600') }}" />
                                    </a>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <p>is primary photo</p>
                                    {% endif %}
                                    <!--  se não tiver ir buscar a mais recente  -->
                                {% else %}
                                    {% set photo = species.photos|last %}
                                    <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                        <img  alt="{{photo.species}}" style="max-height: 560px; max-width: 560px;" src="{{ photo.getWebPath | imagine_filter('sk_downscale_max_600_600') }}" />
                                    </a>
                                {% endif %}
                                {#{% for photo in photos %}
                                    {% if loop.index == 1 %}
                                        <div>
                                            <a href="{{ path('photo_no_slug',  { 'id': photo.id }) }}" title="{{ photo.title }}">
                                                <img  alt="{{photo.species}}" style="max-height: 560px; max-width: 560px;" src="{{ photo.getWebPath | imagine_filter('sk_downscale_max_600_600') }}" />
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}#}

                                <h3>{% trans with {'%species%': species.name } %} page.species.h3.description {% endtrans %}</h3>
                                {% if species.translate(app.request.locale).description is not empty %}
                                    <p itemprop="description">
                                        {{ species.translate(app.request.locale).description }}
                                    </p>
                                {% else %}
                                    {{ "page.species.p.no_description"|trans }}
                                {% endif %}

                                {% if species.vernaculars|length > 0 %}
                                    <h3>{% trans with {'%species%': species.name } %} page.species.h3.common_names {% endtrans %}</h3>
                                    <ul class="list-unstyled">
                                        {% for vernacular in species.vernaculars %}
                                            {% if (vernacular.locale == app.request.locale) %}
                                                <li>
                                                    {{ vernacular.vernacular.name|title }}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <h3>{% trans with {'%species%': species.name } %} page.species.h3.taxonomic_structure {% endtrans %}</h3>
                                <p>{% trans with {'%species%': species.name } %} page.species.p.taxonomic_structure {% endtrans %}</p>

                                <ul class="list-unstyled" itemscope itemtype="http://schema.org/ListItem">
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum.kingdom.taxonNodeName|trans, species.genus.family.order.class.phylum.kingdom) }}</li>
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(species.genus.family.order.class.phylum.taxonNodeName|trans, species.genus.family.order.class.phylum) }}</li>
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(species.genus.family.order.class.taxonNodeName|trans, species.genus.family.order.class) }}</li>
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(species.genus.family.order.taxonNodeName|trans, species.genus.family.order) }}</li>
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_family"|trans }}: {{ link_to_taxon(species.genus.family.taxonNodeName|trans, species.genus.family) }}</li>
                                    <li class="tox" itemprop="item">{{ "page.species.label.species_genus"|trans }}: {{ link_to_taxon(species.genus.taxonNodeName|trans, species.genus) }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 species-images">
                                {% if species.photos is not empty %}
                                    {#<h3>{% trans with {'%species%': species.name } %} page.species.h3.photos {% endtrans %}</h3>#}
                                    {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'species': species.id },'limit':20  } )) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                <!-- outras especies similares start -->
                {#<div class="ibox" >
                    <div class="ibox-title" >
                        <h2>{{ "page.species.h2.similar_species"|trans }}</h2>	
                    </div>
                    <div class="ibox-content" >

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <h2>{{ "page.species.h2.similar_species"|trans }}</h2>

                                <div class="slider_similar">
                                    {% for similarPhoto in similarSpecies %}
                                        <a class="thumbnail" href="{{ path('species',  { 'slug': similarPhoto.species.name }) }}">
                                            <img alt="{{ similarPhoto.species }}" style="height: 100px" class="img-responsive back" src="{{ similarPhoto.getWebPath| imagine_filter('sk_widen_400') }}">
                                            <div class="text-center"> {{ similarPhoto.species }} </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>#}
                <!-- outras especies similares end -->

                <!-- outras especies similares start -->
                <h2 style="margin-left: 15px">{% trans with {'%species%': species.name } %} page.species.h2.similar_species {% endtrans %}</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_similar" align="center">
                            {% for similarPhoto in similarSpecies %}
                                <a class="thumbnail" href="{{ path('species',  { 'slug': similarPhoto.species.name }) }}">
                                    <img alt="{{ similarPhoto.species }}" style="height: 100px" class="img-responsive back" src="{{ similarPhoto.getWebPath| imagine_filter('sk_widen_400') }}">
                                    <div class="text-center"> {{ similarPhoto.species }} </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- outras especies similares end -->

                <!-- Tabs -->
                <div class="ibox" >
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">

                            <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">{{ "page.species.tab.criterias"|trans }}</a></li>
                            <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">{{ "page.species.tab.geo_distribution"|trans }}</a></li>
                            <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-3">{{ "page.species.tab.contributors"|trans }}</a></li>
                        </ul>
                        <div class="tab-content">


                            <!-- Criterias start -->
                            <div id="tab-1" class="tab-pane active">

                                <div class="panel-body">
                                    <h3>{% trans with {'%species%': species.name } %} page.species.h3.species_criteria {% endtrans %}</h3>
                                    <p>{% trans with {'%species%': species.name } %} page.species.p.species_criteria {% endtrans %}</p>

                                    <div class="ibox-content">
                                        <div id="loadCriterias"></div>
                                        <div id="criterias"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Criterias end -->

                            <!-- Map start -->
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <h3>{% trans with {'%species%': species.name } %} page.species.h3.geo_distribution {% endtrans %}</h3>
                                    <p>{% trans with {'%species%': species.name } %} page.species.p.geo_distribution {% endtrans %}</p>
                                    <span itemscope itemtype="http://schema.org/Map">
                                        <meta itemprop="name" content="World Map" />
                                        {% if map %}
                                            {{ google_map_container(map) }}
                                        {% endif %}
                                    </span>
                                    <div class="ibox-content">
                                        {% if spots is not empty %}
                                            <input type="text" class="form-control input-sm m-b-xs" id="filter-spots" placeholder="Search in table">
                                            <table class="footable table table-stripped tablet breakpoint footable-spots" data-page-size="10" data-filter=#filter-spots>
                                                <thead>
                                                    <tr>
                                                        <th style="width: 33%">{{ "page.species.table.country"|trans }}</th>
                                                        <th style="width: 33%">{{ "page.species.table.location"|trans }}</th>
                                                        <th style="width: 33%">{{ "page.species.table.spot"|trans }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% set arrayAux = [] %}
                                                    {% for spot in spots %}
                                                        {% if spot not in arrayAux %}
                                                            <tr>
                                                                <td style="width: 33%">
                                                                    {{ link_to_country(spot.location.region.country) }}
                                                                </td>
                                                                <td style="width: 33%">
                                                                    {{ link_to_location(spot.location) }}
                                                                </td>
                                                                <td style="width: 33%">
                                                                    {{ link_to_spot(spot) }}
                                                                </td>
                                                            </tr>
                                                            {% set arrayAux = arrayAux|merge([spot]) %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3">
                                                            <ul class="pagination pull-right"></ul>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        {% else %}
                                            {{ "page.species.p.no_geo_distribution"|trans }}
                                        {% endif %}
                                    </div>  
                                </div>
                            </div>
                            <!-- Map end -->

                            <!-- Photographers start -->
                            <div id="tab-3" class="tab-pane">

                                <div class="panel-body">
                                    <h3>{% trans with {'%species%': species.name } %} page.species.h3.contributors {% endtrans %}</h3>
                                    <p>{% trans with {'%species%': species.name } %} page.species.p.contributors {% endtrans %}</p>
                                    <div class="row" >
                                        <div class="col col-lg-12" >
                                            <div class="ibox" >

                                                <div class="ibox-content">
                                                    <div id="box_photographers"></div>
                                                </div>

                                                <!-- Photographers Modal start -->
                                                <div class="modal fade" id="photographersModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h3 class="modal-title" id="myModalLabel">{% trans with {'%species%': species.name } %} page.species.h3.contributors_modal {% endtrans %}</h3>
                                                            </div>
                                                            <div class="modal-body">

                                                                <div id="photographersInput"></div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Photographers Modal end -->

                                                <div class="ibox-content" >
                                                    <div class="row" >
                                                        <div class="col-sm-6 col-sx-12">
                                                            <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_photographers" >{{ "page.location.button.show_more_photographers"|trans }}</button>
                                                        </div>
                                                        <div class="col-sm-6 col-sx-12">
                                                            <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#photographersModal">{{ "page.location.button.see_all_photographers"|trans }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Photographers end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
