{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{spot.description [0:160]}}{% endblock %}

{% set keywords = spot.name %}
{% set keywords = keywords~', '~spot.location.name %}
{% set keywords = keywords~', '~spot.location.region.country %}
{% set keywords = keywords~', '~("meta_tag.keyword.map"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.scuba"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.diving"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.dive"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sites"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.locations"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animals"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.depth"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.coordinate"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.footable-species').footable();
            $('.footable-photographers').footable();
        });
    </script>
{% endblock %}

{% block heading_title %}
    {% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h1.heading_title{% endtrans %}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement"><a href="{{ path('locations_home') }}">{{ "breadcrumb.locations"|trans }}</a></li>
        <li itemprop="itemListElement">{{ link_to_country(spot.location.region.country) }}</li>
        <li itemprop="itemListElement">{{ link_to_location(spot.location) }}</li>
        <li itemprop="itemListElement" class="active"><strong>{{ spot.name }}</strong></li>
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}



{% block body %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <!-- left column -->
            {#<div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.spot.h5.spot_detail"|trans }}</h5>
                    </div>
                    <div>
                        <div class="ibox-content">
                            {{ google_map(map) }}
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{spot.name}}</strong></h4>

                        </div>
                    </div>
                </div>
            </div>#}

            <!-- spot activity -->              
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ "page.spot.h5.spot_activity"|trans }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            {{ render(controller('SkaphandrusAppBundle:Common:skActivity', { 'parameters': { 'spot_id': spot.id },'limit':24 } )) }}
                            {#<button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>#}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end activity -->
            <!-- end left column -->

            <!-- right column -->
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{ "page.spot.h5.spot_related_contents"|trans }}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content" itemscope itemtype="http://schema.org/TouristAttraction">
                        <meta itemprop="isicV4" content="96590">
                        <h1 itemprop="name">{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h1.title{% endtrans %}</h1>
                        <div class="panel">
                            <div class="panel-heading">
                                <!--<div class="panel-title m-b-md"><h4>Blank Panel with text tabs</h4></div>-->
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1">{{ "page.spot.tab.info"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-2">{{ "page.spot.tab.species"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-3">{{ "page.spot.tab.photos"|trans }}</a></li>
                                        <li><a data-toggle="tab" href="#tab-4">{{ "page.spot.tab.contributors"|trans }}</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <h3>{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h3.info{% endtrans %}</h3>
                                        <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                            {% set coordinate = spot.coordinate|split(',') %}
                                            <meta itemprop="latitude" content="{{coordinate[0]}}">
                                            <meta itemprop="longitude" content="{{coordinate[1]}}">
                                        </span>
                                        {% if spot.description is not empty %}
                                            <h5>{{ "page.spot.h5.description"|trans }}</h5>
                                            <p itemprop="description">{{ spot.description }}</p>
                                        {% endif %}
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <h3>{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h3.species{% endtrans %}</h3>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-species" placeholder="Search in table">
                                        <table class="footable footable-species table" data-page-size="50" data-filter=#filter-species>
                                            <thead>
                                            <th>{{ "page.location.table.name"|trans }}</th>
                                            <th>{{ "page.location.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                                {% for sp in species %}
                                                <span itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
                                                    <meta itemprop="name" content="sea animal">
                                                    <meta itemprop="value" content="{{ sp }}">
                                                </span>
                                                <tr>
                                                    <td>{{ link_to_species(sp) }}</td>
                                                    <td>
                                                        <a href="{{ path('photos', {'species': sp.id, 'spot': spot.id}) }}">
                                                            {{ sp.photosInSpecies }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div id="tab-3" class="tab-pane" >
                                        <h3>{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h3.photos{% endtrans %}</h3>
                                        {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'spot': spot.id },'limit':24 } )) }}
                                    </div>
                                    <div id="tab-4" class="tab-pane">
                                        <h3>{% trans with {'%spot%': spot.name, '%location%': spot.location.name, '%country%': spot.location.region.country} %}page.spot.h3.contributors{% endtrans %}</h3>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter-photographers" placeholder="Search in table">
                                        <table class="footable footable-photographers table" data-page-size="50" data-filter=#filter-photographers>
                                            <thead>
                                            <th>{{ "page.location.table.name"|trans }}</th>
                                            <th>{{ "page.location.table.num_photos"|trans }}</th>
                                            </thead>
                                            <tbody>
                                                {% for p in photographers %}
                                                <span itemscope itemtype="http://schema.org/Person">
                                                    <meta itemprop="name" content="{{ p.fosUser }}">
                                                </span>
                                                <tr>
                                                    <td>{{ link_to_user(p.fosUser) }}</td>
                                                    <td>
                                                        <a href="{{ path('photos', {'fosUser': p.fosUser.id, 'spot': spot.id}) }}">
                                                            {{ p.photosInUser }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor%}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul class="pagination pull-right"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end right column -->
        </div><!-- end row-->
    </div><!-- end wrapper-->

{% endblock %}



