{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ "page.taxonomy.h1.title"|trans }}{% endblock %}
{% block page_description %}description{% endblock %}
{% block heading_title %}{{ "page.taxonomy.h1.title"|trans }}{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "page.taxonomy.breadcrumb.title"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/js/jstree/dist/themes/default/style.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jstree/dist/jstree.min.js') }}"></script>
    <script>
      $(function () {
        $("#jstree")
        .jstree({
          "core": {
            "data": {
              "url": "/{{ app.request.locale }}/species/source",
              "data": function (n) {
                return { id: n.id === '#' ? "li.kingdom.0" : n.id };
              }
            }
          }
        })
        .bind("select_node.jstree", function (e, data) {
          var href = data.node.a_attr.href;
          document.location.href = href;
        });
      });
    </script>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <!-- left column -->
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ "page.taxonomy.h5.title"|trans }}</h5>
        </div>
        <div>
          <div class="ibox-content">ruben
            <div style="text-align: left;" id="jstree"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
