{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% if taxon.vernaculars is not empty %}
    {% set title = "" %}
    {% set auxCommon = "" %}
    {% set i=0 %}
    {% for vernacular in taxon.vernaculars %}
        {% if vernacular.locale == app.request.locale and i<4 %}
            {% set auxCommon = auxCommon~', '~vernacular.name %}
        {% set title %}{% trans with {'%type%': taxon.taxonNodeName|trans|capitalize, '%value%': taxon.name, '%common%': auxCommon } %} page.taxon.meta_tag.title {% endtrans %}{% endset %}
        {% set i=i+1 %}
    {% else %}
    {% set title %}{% trans with {'%type%': taxon.taxonNodeName|trans|capitalize, '%value%': taxon.name, '%common%': auxCommon } %} page.taxon.meta_tag.title {% endtrans %}{% endset %}
{% endif %}
{% endfor %}
{% else %}
{% set title %}{% trans with {'%type%': taxon.taxonNodeName|trans|capitalize, '%value%': taxon.name, '%common%': "" } %} page.taxon.meta_tag.title {% endtrans %}{% endset %}
{% endif %}

{% block page_title %}{{title}}{% endblock %}

{% block page_description %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('taxon', {'node':taxon.taxonNodeName | trans({}, "messages", "pt"), 'slug':slugify(taxon.name), 'locale': 'pt'}) }} " />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('taxon', {'node':taxon.taxonNodeName | trans({}, "messages", "en"), 'slug':slugify(taxon.name), 'locale': 'en'}) }}" />
{% endblock %}


{% set keywords = taxon.taxonNodeName|trans|capitalize %}
{% set keywords = keywords~', '~taxon.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.information"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.common_names"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animals"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.species"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.taxonomic_structure"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/js/jstree/dist/themes/default/style.min.css') }}" />
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">

    <style>
        .grid-item {
            display: none;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/jstree/dist/jstree.min.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>

    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>

    <!-- Slick JQuery -->
    <script type="text/javascript">

        $(function () {

            $("#loading").html("<div class='sk-spinner sk-spinner-three-bounce'><div class='sk-bounce1'></div><div class='sk-bounce2'></div><div class='sk-bounce3'></div></div>");
            $("#space").html("<br/>");
            var $grid = $('.grid').imagesLoaded(function () {
                $('.grid-item').show();
                $("#space").hide();
                $("#loading").hide();
                // init Isotope after all images have loaded
                $grid.isotope({
                    // options
                    itemSelector: '.grid-item',
                    layoutMode: 'masonry'
                });
            });

            $("#jstree").jstree({
                "core": {
                    "data": {
                        "url": "/{{ app.request.locale }}/species/source",
                        "data": function (n) {
                            return {id: n.id === '#' ? "li.{{ next_taxon }}.{{ taxon.id }}" : n.id};
                        }
                    }
                }
            }).bind("select_node.jstree", function (e, data) {
                var href = data.node.a_attr.href;
                document.location.href = href;
            });

            var limit_photographers = 3;
            var offset_photographers = -3;

            /* funçao de load para mais fotografos */
            var loadPhotographers = function () {
                $('#box_photographers').fadeIn("slow");
                offset_photographers = offset_photographers + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_photographers_show_more")}}",
                        data: 'taxon_id=' + {{ taxon.id }} +'&limit=' + limit_photographers + '&offset=' + offset_photographers,
                        dataType: "text",
                        success: function (response) {
                            $('#box_photographers .slider_thumbs').slick('unslick');
                            $("#box_photographers").append(response);
                            sliders('#box_photographers .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadPhotographers);
            $('#show_more_photographers').click(loadPhotographers);


        });


        /* funçao de load de todos os fotografos */
        {#        var taxonId = 'species_id= {{ taxon.id }}';#}
            var loadPhotographersAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_photographers_see_all")}}",
                        data: 'taxon_name=' + "{{ taxon.taxonNodeName }}" + '&taxon_id=' + {{ taxon.id }},
                        dataType: "text",
                        success: function (response) {
                            $("#photographersInput").html(response);
                        }
                    });
                }, 100);
            };
            $(this).ready(loadPhotographersAll);
            $('#photographersModal').on('shown.bs.modal', loadPhotographersAll);



    </script>
{% endblock %}

{% block heading_title %}
    {{ taxon.taxonNodeName|trans|capitalize }}: {{ taxon.name }}
{% endblock %}


{% block heading_breadcrumbs %}

    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
            {% if taxon.taxonNodeName == 'genus' %}

            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {%elseif taxon.taxonNodeName == 'family' %}

            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {%elseif taxon.taxonNodeName == 'order' %}

            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {%elseif taxon.taxonNodeName == 'class' %}
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {%elseif taxon.taxonNodeName == 'phylum' %}
            <li itemprop="itemListElement">{{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {%elseif taxon.taxonNodeName == 'kingdom' %}
            <li itemprop="itemListElement" class="active"><strong>{{taxon.name}}</strong></li>
                {% endif %}
    </ol>
{% endblock %}


{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}


{% block body %}

    <div class="wrapper wrapper-content">
        <div class="animated fadeInRight">
            <div class="container">

                <div class="row">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h2>{{("page.taxon.h1.title."~taxon.taxonNodeName)|trans|capitalize }}: {{ taxon.name }}</h2>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-6">

                                    {#<h3>{% trans with {'%node%': taxon.taxonNodeName|trans|capitalize, '%taxon_name%': taxon.name } %} page.taxon.h3.information {% endtrans %}</h3>#}
                                    {% if taxon.vernaculars is not empty %}
                                        <h3>{{ "page.taxon.h5.common_names"|trans }}</h3>
                                        <ul class="list-unstyled">
                                            {% for vernacular in taxon.vernaculars %}
                                                <li>{{ vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}</li>
                                                    {% if vernacular.locale == app.request.locale %}
                                                    <meta itemprop="alternateName" content="{{ vernacular.name ~ " - " ~ intl_locale_name(vernacular.locale) }}" />
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <h3>{{ "page.taxon.h5.taxonomic_structure"|trans }}</h3>
                                    <ul class="list-unstyled" itemscope itemtype="http://schema.org/ListItem">
                                        {% if taxon.taxonNodeName == 'genus' %}
                                            <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_family"|trans }}: {{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_genus"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}</li>
                                            {%elseif taxon.taxonNodeName == 'family' %}
                                            <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_family"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}</li>
                                            {%elseif taxon.taxonNodeName == 'order' %}
                                            <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_order"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}</li>
                                            {%elseif taxon.taxonNodeName == 'class' %}
                                            <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.parentNode.parentNode.taxonNodeName|trans, taxon.parentNode.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_class"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}</li>
                                            {%elseif taxon.taxonNodeName == 'phylum' %}
                                            <li itemprop="item">{{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.parentNode.taxonNodeName|trans, taxon.parentNode) }}</li>
                                            <li itemprop="item">{{ "page.species.label.species_phylum"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}</li>
                                            {%elseif taxon.taxonNodeName == 'kingdom' %}
                                            <li itemprop="item">
                                                {{ "page.species.label.species_kingdom"|trans }}: {{ link_to_taxon(taxon.taxonNodeName|trans, taxon) }}
                                            </li>
                                        {% endif %}
                                    </ul>

                                    <div id="jstree" style="text-align: left;"></div>

                                </div>
                                <div class="col-md-6 species-images">
                                    {% if taxon is not empty %}
                                        {#<h3>{% trans with {'%node%': taxon.taxonNodeName|trans|capitalize, '%taxon_name%': taxon.name } %} page.taxon.h3.photos {% endtrans %}</h3>#}
                                        {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { (taxon.taxonNodeName) : taxon.id }, 'limit': 24 } )) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="ibox" >
                        <div class="ibox-title">
                            <h3>{% trans with {'%node%': taxon.taxonNodeName|trans|capitalize, '%taxon_name%': taxon.name } %} page.taxon.h3.contributors {% endtrans %}</h3>
                        </div>

                        <div class="ibox-content">
                            <div id="box_photographers"></div>
                        </div>

                        <!-- Photographers Modal start -->
                        <div class="modal fade" id="photographersModal" style="margin-top: 30px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h3 class="modal-title" id="myModalLabel">{% trans with {'%node%': taxon.taxonNodeName|trans|capitalize, '%taxon_name%': taxon.name } %} page.taxon.h3.contributors {% endtrans %}</h3>
                                    </div>
                                    <div class="modal-body">

                                        <div id="photographersInput"></div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Photographers Modal end -->

                        <div class="ibox-content" >
                            <div class="row" >
                                <div class="col-sm-6 col-sx-12">
                                    <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_photographers" >{{ "page.location.button.show_more_photographers"|trans }}</button>
                                </div>
                                <div class="col-sm-6 col-sx-12">
                                    <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#photographersModal">{{ "page.location.button.see_all_photographers"|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                                
<!-- fim imagens dos taxons filhos -->                                
                <div class="row">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h2>Next Taxon Group Photos</h2>
                        </div>
                        <div class="ibox-content">
                            <ul>

                                {% for child in taxon.getChildNodes %}
                                    
                                    
                                    {{child.name}}
                                    
                                      {% for photo in child.photos %}
                                    
                                    
                                    {{photo}}
                                    
                                    
                                    
                                    
                                    {% endfor %}
                                    
                                    
                                    {% endfor %}
                                    
                                
                                
                                
                                
                                
                                
                                {#{% for group in nextTaxonGroup %}

                                    {% if taxon.taxonNodeName == 'genus' %}
                                        {% if group.photos|length > 0 %}
                                            <li>
                                                {{group.name}}
                                                {% set i=0 %}
                                                <div class="row">
                                                    {% for p in group.photos %}
                                                        {% if p|length > 0 and i<4 %}
                                                            <div class="col-lg-2">
                                                                <a href="{{ path('photo_no_slug',  { 'id': p.id }) }}" title="{{ p.title }}">
                                                                    <img class="img-thumbnail" alt="{{ p.title }}" src="{{ p.getWebPath | imagine_filter('sk_widen_400') }}" />
                                                                </a>
                                                            </div>
                                                            {% set i=i+1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {%elseif taxon.taxonNodeName == 'family' %}
                                        <li>
                                            {{group.name}}
                                        </li>
                                    {%elseif taxon.taxonNodeName == 'order' %}
                                        <li>
                                            {{group.name}}
                                        </li>
                                    {%elseif taxon.taxonNodeName == 'class' %}
                                        <li>
                                            {{group.name}}
                                        </li>
                                    {%elseif taxon.taxonNodeName == 'phylum' %}
                                        <li>
                                            {{group.name}}
                                        </li>
                                    {%elseif taxon.taxonNodeName == 'kingdom' %}
                                        <li>
                                            {{group.name}}
                                        </li>
                                    {% endif %}

                                {% endfor %}#}
                            </ul>
                        </div>
                    </div>
                </div><!-- fim imagens dos taxons filhos -->
                            
                            
                            
                            
                            

            </div><!-- end container-->
        </div><!-- end row-->
    </div><!-- end wrapper-->
{% endblock %}
