{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ "page.terms.h1.title"|trans }}{% endblock %}
{% block page_description %}{{ "page.terms.text.description"|trans }}{% endblock %}
{% block page_keywords %}{{ "page.terms.h1.title"|trans }}{% endblock %}


{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('terms_and_conditions', {'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('terms_and_conditions', {'locale': 'en'}) }}" />
{% endblock %}


{% block heading_title %}
    {{ "page.terms.h1.title"|trans }}
{% endblock %}

{#{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "page.terms.h1.title"|trans }}</strong></li>
    </ol>
{% endblock %}#}

{% block heading_breadcrumbs %}{% endblock %}


{% block body %}
    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            {{ terms.text|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}