{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%name%': user.personal.name|title|capitalize } %}page.user.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{ user.settings.observations [0:160]}}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('user', {'id':user.id, 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('user', {'id':user.id, 'locale': 'en'}) }}" />
{% endblock %}


{% set keywords = user.personal.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.profile"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.dive_sites"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/peity/jquery.peity.min.js') }}"></script>
    <!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>





    <script type="text/javascript">

        $('.row .btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });

        $(function () {
            var limit_spots = 3;
            var offset_spots = -3;
            var limit_species = 3;
            var offset_species = -3;

            var loadSpots = function () {
                $('#box_spots').fadeIn("slow");
                offset_spots = offset_spots + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_spot_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_spots + '&offset=' + offset_spots,
                        dataType: "text",
                        success: function (response) {
                            $('#box_spots .slider_thumbs').slick('unslick');
                            $("#box_spots").append(response);
                            sliders('#box_spots .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpots);
            $('#show_more_spots').click(loadSpots);

            var loadSpecies = function () {
                $('#box_species').fadeIn("slow");
                offset_species = offset_species + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_species_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_species + '&offset=' + offset_species,
                        dataType: "text",
                        success: function (response) {
                            $('#box_species .slider_thumbs').slick('unslick');
                            $("#box_species").append(response);
                            sliders('#box_species .slider_thumbs');
                        }
                    });
                }, 100);
            };
                $(this).ready(loadSpecies);
                $('#show_more_species').click(loadSpecies);


            });

            var userId = 'user_id= {{ user.id }}';

            /*  funçoes para os footables  */
            var loadSpotAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_spot_see_all")}}",
                        data: userId,
                        dataType: "text",
                        success: function (response) {
                            $("#spotInput").html(response);
                        }
                    });
                }, 100);
            };
        {#$(this).ready(loadSpotAll);#}
            $('#spotModal').on('shown.bs.modal', loadSpotAll);

            var loadSpeciesAll = function () {
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_species_see_all")}}",
                        data: userId,
                        dataType: "text",
                        success: function (response) {
                            $("#speciesInput").html(response);
                        }
                    });
                }, 100);
            };
        {#$(this).ready(loadSpeciesAll);#}
            $('#speciesModal').on('shown.bs.modal', loadSpeciesAll);



        {#        $(document).ready(function () {
                    $('.footable-spots').footable();
                    $('.footable-species').footable();
                    $('.footable-photographers').footable();
                });#}

    </script>




















    <script>
        $(function () {
            $("span.pie").peity("pie", {fill: ['#1ab394', '#d7d7d7', '#ffffff']});
            $(".line").peity("line", {fill: '#1ab394', stroke: '#169c81'});
            $(".bar").peity("bar", {fill: ["#1ab394", "#d7d7d7"]});

            $('.footable-species').footable();
            $('.footable-spots').footable();
            $('.footable-validations').footable();
            $('.footable-sugestions').footable();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">
    <!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ user.personal.name }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ user.personal.name }}</strong></li>
    </ol>
{% endblock %}

{% block body %}

    <!--<div class="wrapper wrapper-content" itemscope itemtype="http://schema.org/ProfilePage">-->









    <!-- page-heading end -->
    <div class="wrapper wrapper-content animated">
        <div class="row m-b-lg m-t-lg">
            <div class="col-md-6">
                <div class="profile-image"> 
                    <img itemprop="image" alt="{{ user.personal.name }}" class="img-circle circle-border m-b-md" src="{{ user.settings.getWebPath | imagine_filter('sk_widen_590') }}" />
                </div>
                <div class="profile-info">
                    <div class="">
                        <div>
                            <h2 class="no-margins">{{ user.personal.name }}</h2>
                            <h4>{{ user.personal.honorific }}</h4>
                            <button class="btn btn-sm btn-primary">Add Friend</button>
                            <button class="btn btn-sm btn-primary">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td><strong>142</strong> Photos </td>
                            <td><strong>22</strong> Spots </td>
                            <td><strong>22</strong> Points </td>
                        </tr>
                        <tr>
                            <td><strong>61</strong> Tags </td>
                            <td><strong>54</strong> Friends </td>
                            <td><strong>22</strong> Identifications </td>
                        </tr>
                        <tr>
                            <td><strong>154</strong> Species </td>
                            <td><strong>32</strong> Courses </td>
                            <td><strong>22</strong> definir </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- full content area -->
        <div class="row">
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>{{ "page.user.h5.about_me"|trans }}</h3>
                        <p class="small"> {{user.settings.observations|raw}} </p>
                        <div>
                            <button class="btn btn-sm btn-primary pull-right">View More</button>
                        </div>
                        {#                        <div class="ibox">
                                                    <h4>Portugal / Ponta Delgada</h4>
                                                    <dl>
                                                        <dt>Email:</dt>
                                                        <dd>joão.joão@skaphandrus.com </dd>
                                                        <dt>Telf:</dt>
                                                        <dd> 919 919 919</dd>
                                                        <dt>URL:</dt>
                                                        <dd><a href="#" class="text-navy"> página web</a> </dd>
                                                    </dl>
                                                </div>#}
                    </div>
                </div>            
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Friends</h3>
                        <div class="user-friends"> 


                            {% for person in friends %}

                                {% if person.skaphandrusId != false %}
                                    <a class="btn btn-white btn-sm" href="{{ path('user', { 'id': person.skaphandrusId.id }) }}">
                                        <img itemprop="image" alt="{{ person.skaphandrusId.personal.name }}" class="img-circle" src="{{ person.skaphandrusId.settings.getWebPath | imagine_filter('sk_widen_590') }}" />
                                    </a>



                                {% endif %}  

                                <a href="#">
                                    <img itemprop="image" alt="" class="img-circle" src="" />
                                </a> 
                            {% endfor %}


                            {# <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> 
                             <a href="#"><img alt="image" class="img-circle" src="placeholder-100x100.jpg"></a> #}
                        </div>
                    </div>
                </div>            <div class="ibox">
                    <div class="ibox-content">
                        <h3>Private message</h3>
                        <p class="small"> Send a private message to João </p>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="email" class="form-control" placeholder="Message subject">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">Send</button>
                    </div>
                </div>        </div>
            <div class="col-md-8">
                <!-- begin - row dos spots -->
                <div class="row" >
                    <div class="col col-lg-12">
                        <div class="ibox" >
                            <div class="ibox-title">
                                <h3>Locals</h3>
                            </div>
                            <div class="ibox-content">
                                <div class="m-b-md">
                                    {#<div id="map-canvas"></div>#}
                                </div>

                                <div id="box_spots"></div>

                                <div class="row">
                                    <div class="col-md-3 hidden-sm">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        {# <button type="button" class="btn btn-outline btn-primary btn-block" id="#">Show More</button>#}
                                        <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_spots">{{ "page.location.button.show_more_spots"|trans }}</button>
                                    </div>
                                    <div class="col-md-3 hidden-sm">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>   
                <!-- end - row dos spots -->

                <div class="row" >
                    <div class="col col-lg-12">

                        <div class="tabs-container" id="tabs_marine_animals">
                            <ul class="nav nav-tabs">
                                <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">Photographed</a></li>
                                <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">Identified</a></li> 
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="ibox">
                                            <h4>Marine Animals</h4>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    
                                                 
                                                    
                                                    
                                                    <div id="box_species"></div>
                                                    
                                                    
                                                    <div class="row">
                                                        <div class="col-md-3 hidden-sm">
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            {#<button type="button" class="btn btn-outline btn-primary btn-block" id="#">Show More</button>#}
                                                            <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_species">{{ "page.location.button.show_more_species"|trans }}</button>
                                                        </div>
                                                        <div class="col-md-3 hidden-sm">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="ibox">
                                            <h4>Marine Animals</h4>
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-sx-12">
                                                            <div class="contact-box center-version small_version">
                                                                <a href="#">
                                                                    <div class="box_spacer_right">
                                                                        <h3 class="m-b-xs"><strong>Title or species name or other</strong></h3>
                                                                        <div class="font-bold">
                                                                            <span class="label label-primary">See all photos:
                                                                                295</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sx-12">
                                                            <div class="row">
                                                                <div class="col-lg-11">
                                                                    <div class="ibox">
                                                                        <div class="slider_thumbs" >
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>    </div>
                                                    </div>        <div class="row">
                                                        <div class="col-sm-4 col-sx-12">
                                                            <div class="contact-box center-version small_version">
                                                                <a href="#">
                                                                    <div class="box_spacer_right">
                                                                        <h3 class="m-b-xs"><strong>Title or species name or other</strong></h3>
                                                                        <div class="font-bold">
                                                                            <span class="label label-primary">See all photos:
                                                                                295</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sx-12">
                                                            <div class="row">
                                                                <div class="col-lg-11">
                                                                    <div class="ibox">
                                                                        <div class="slider_thumbs" >
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>    </div>
                                                    </div>        <div class="row">
                                                        <div class="col-sm-4 col-sx-12">
                                                            <div class="contact-box center-version small_version">
                                                                <a href="#">
                                                                    <div class="box_spacer_right">
                                                                        <h3 class="m-b-xs"><strong>Title or species name or other</strong></h3>
                                                                        <div class="font-bold">
                                                                            <span class="label label-primary">See all photos:
                                                                                295</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sx-12">
                                                            <div class="row">
                                                                <div class="col-lg-11">
                                                                    <div class="ibox">
                                                                        <div class="slider_thumbs" >
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>    </div>
                                                    </div>        <div class="row">
                                                        <div class="col-sm-4 col-sx-12">
                                                            <div class="contact-box center-version small_version">
                                                                <a href="#">
                                                                    <div class="box_spacer_right">
                                                                        <h3 class="m-b-xs"><strong>Title or species name or other</strong></h3>
                                                                        <div class="font-bold">
                                                                            <span class="label label-primary">See all photos:
                                                                                295</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sx-12">
                                                            <div class="row">
                                                                <div class="col-lg-11">
                                                                    <div class="ibox">
                                                                        <div class="slider_thumbs" >
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>
                                                                            <div>
                                                                                <a href="#">
                                                                                    <img src="placeholder-100x100.jpg" class="img-thumbnail" />
                                                                                </a>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>    </div>
                                                    </div>        <div id="spots_list"></div>
                                                    <div class="row">
                                                        <div class="col-md-3 hidden-sm">
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <button type="button" class="btn btn-outline btn-primary btn-block" id="#">Show More</button>
                                                        </div>
                                                        <div class="col-md-3 hidden-sm">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>                </div>
                            </div>
                        </div>

                    </div>
                </div>            <div class="row" >
                    <div class="col col-lg-12">
                        <h2>User Modeles</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>                    
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>
                            <div class="col-md-4">
                                <div class="ibox">
                                    <div class="ibox-content product-box">
                                        <img src="placeholder.jpg" class="img-responsive" />
                                        <div class="product-desc">
                                            <small class="text-muted">Order</small>
                                            <a href="#" class="product-name"> Species</a>
                                            <div class="m-t text-righ">
                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Start using <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    </div>                    
                        </div>
                    </div>

                </div>        </div>
        </div> 
    </div>









    <!--  </div> -->

    {#<h2>{{ "page.user.h2.username"|trans }}: {{ user.username }}</h2>
  
    {% if user.spots|length %}
      <h3>{{ "page.user.h3.spots"|trans }}</h3>
      {% for spot in user.spots %}
          <p>{{ spot.coordinate }}</p>
      {% endfor %}
    {% endif %}
  
    <h3>{{ "page.user.h3.photos"|trans }}</h3>
    {{ render(controller('SkaphandrusAppBundle:Default:skGrid', { 'parameters': { 'fosUser': user.id } } )) }}#}

{% endblock %}
