{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%name%': user.personal.name|title|capitalize } %}page.user.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{{ user.settings.observations [0:160]}}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('user', {'id':user.id, 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('user', {'id':user.id, 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = user.personal.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.profile"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.dive_sites"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>    
    <script src="https://raw.githubusercontent.com/jedfoster/Readmore.js/master/readmore.min.js"></script>

    {#<!-- FooTable -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/footable/footable.all.min.js') }}"></script>#}

    <script type="text/javascript">

        $(function () {
            var limit_spots = 3;
            var offset_spots = -3;
            var limit_species = 3;
            var offset_species = -3;
            var limit_validations = 3;
            var offset_validations = -3;
            var limit_suggestions = 3;
            var offset_suggestions = -3;

            var loadSpots = function () {
                $('#box_spots').fadeIn("slow");
                offset_spots = offset_spots + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_spot_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_spots + '&offset=' + offset_spots,
                        dataType: "text",
                        success: function (response) {
                            $('#box_spots .slider_thumbs').slick('unslick');
                            $("#box_spots").append(response);
                            sliders('#box_spots .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpots);
            $('#show_more_spots').click(loadSpots);

            var loadSpecies = function () {
                $('#box_species').fadeIn("slow");
                offset_species = offset_species + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_species_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_species + '&offset=' + offset_species,
                        dataType: "text",
                        success: function (response) {
                            $('#box_species .slider_thumbs').slick('unslick');
                            $("#box_species").append(response);
                            sliders('#box_species .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSpecies);
            $('#show_more_species').click(loadSpecies);

            var loadValidations = function () {
                $('#box_validations').fadeIn("slow");
                offset_validations = offset_validations + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_validations_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_validations + '&offset=' + offset_validations,
                        dataType: "text",
                        success: function (response) {
                            $('#box_validations .slider_thumbs').slick('unslick');
                            $("#box_validations").append(response);
                            sliders('#box_validations .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadValidations);
            $('#show_more_validations').click(loadValidations);

            var loadSuggestions = function () {
                $('#box_suggestions').fadeIn("slow");
                offset_suggestions = offset_suggestions + 3;
                setTimeout(function () {
                    $.ajax({
                        type: "get",
                        url: "{{path("ajax_suggestions_show_more")}}",
                        data: 'user_id=' + {{ user.id }} +'&limit=' + limit_suggestions + '&offset=' + offset_suggestions,
                        dataType: "text",
                        success: function (response) {
                            $('#box_suggestions .slider_thumbs').slick('unslick');
                            $("#box_suggestions").append(response);
                            sliders('#box_suggestions .slider_thumbs');
                        }
                    });
                }, 100);
            };
            $(this).ready(loadSuggestions);
            $('#show_more_suggestions').click(loadSuggestions);
        });

        var userId = 'user_id= {{ user.id }}';

        /*  funçoes para os footables  */
        var loadSpotAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_spot_see_all")}}",
                    data: userId,
                    dataType: "text",
                    success: function (response) {
                        $("#spotInput").html(response);
                    }
                });
            }, 100);
        };
        $('#spotModal').on('shown.bs.modal', loadSpotAll);

        var loadSpeciesAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_species_see_all")}}",
                    data: userId,
                    dataType: "text",
                    success: function (response) {
                        $("#speciesInput").html(response);
                    }
                });
            }, 100);
        };
        $('#speciesModal').on('shown.bs.modal', loadSpeciesAll);

        var loadValidationsAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_validations_see_all")}}",
                    data: userId,
                    dataType: "text",
                    success: function (response) {
                        $("#validationsInput").html(response);
                    }
                });
            }, 100);
        };
        $('#validationsModal').on('shown.bs.modal', loadValidationsAll);

        var loadSuggestionsAll = function () {
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "{{path("ajax_suggestions_see_all")}}",
                    data: userId,
                    dataType: "text",
                    success: function (response) {
                        $("#suggestionsInput").html(response);
                    }
                });
            }, 100);
        };
        $('#suggestionsModal').on('shown.bs.modal', loadSuggestionsAll);

        var $grid = $('.gridx').imagesLoaded(function () {
            // init Isotope after all images have loaded
            $grid.isotope({
                // options
                itemSelector: '.grid-itemx',
                layoutMode: 'masonry'
            });
        });

        $('#readMore').readmore({
            speed: 75,
            heightMargin: 25,
            collapsedHeight: 250,
            moreLink: '<a class="btn btn-sm btn-primary pull-right" href="#">{{"common.show_more"|trans}}</a>',
            lessLink: '<a class="btn btn-sm btn-primary pull-right" href="#">{{"common.hide"|trans}}</a>'
        });

        $(function () {
            $("span.pie").peity("pie", {fill: ['#1ab394', '#d7d7d7', '#ffffff']});
            $(".line").peity("line", {fill: '#1ab394', stroke: '#169c81'});
            $(".bar").peity("bar", {fill: ["#1ab394", "#d7d7d7"]});
        });

        {#$('.gridx').masonry({
            // options
            itemSelector: '.grid-itemx'
        });#}
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/skaphandrusapp/css/plugins/blueimp/css/blueimp-gallery.min.css') }}">

    {#<!-- FooTable -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/footable/footable.core.css') }}" rel="stylesheet">#}

{% endblock %}

{% block heading_title %}
    {{ user.personal.name }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ user.personal.name }}</strong></li>
    </ol>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content" itemscope itemtype="http://schema.org/ProfilePage">

        <div class="animated fadeInLeft">
            <!-- BEGIN - row das statistics -->
            <div class="row m-b-lg m-t-lg">
                <div class="col-md-6">
                    <div class="profile-image"> 
                        <img itemprop="image" alt="{{ user.personal.name }}" class="img-circle circle-border m-b-md" src="{{ user.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                    </div>
                    <div class="profile-info">
                        <div>
                            <h2 class="no-margins" itemprop="name">{{ user.personal.name }}</h2>
                            <h4>{{ user.personal.honorific }}</h4>
                            <a href="{{ path('person_admin_new') }}" class="btn btn-sm btn-primary"><i class="fa fa-group"></i>  {{"page.user.label.add_contact"|trans}}</a>
                            <a href="{{ url('fos_message_thread_new' )}}" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i> {{"page.user.label.send_message"|trans}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table small m-b-xs">
                        <tbody>
                            <tr>
                                <td><strong>{{photosCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.photos"|trans }} </td>
                                <td><strong>{{suggestionsCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.suggestions"|trans }} </td>
                                <td><strong>{{friendsCount}}</strong> {{ "page.user.label.friends"|trans }} </td>
                            </tr>
                            <tr>
                                <td><strong>{{spotsCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.spots"|trans }} </td>
                                <td><strong>{{validationsCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.validations"|trans }} </td>
                                <td><strong>{{modulesCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.modules"|trans }} </td>
                            </tr>
                            <tr>
                                <td><strong>{{speciesCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.species"|trans }} </td>
                                <td><strong>{{pointsCount|number_format(0, '.', ',')}}</strong> {{ "page.user.label.points"|trans }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END - row statistics -->

            <!-- BEGIN - row full content area -->
            <div class="row">
                <!-- BEGIN - left area -->
                <div class="col-md-4">
                    <!-- BEGIN - row about -->
                    {% if user.settings.observations|length > 0 %}
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{{ "page.user.h5.about_me"|trans }}</h3>
                            </div>
                            <div class="ibox-content">
                                <div class="ibox">
                                    <div id="readMore">                                
                                        <p class="small" itemprop="description"> {{user.settings.observations|raw}} </p>
                                    </div>
                                </div>
                                {#<h4>Portugal / Ponta Delgada</h4>
                                <dl>
                                    <dt>Email:</dt>
                                    <dd>joão.joão@skaphandrus.com </dd>
                                    <dt>Telf:</dt>
                                    <dd> 919 919 919</dd>
                                    <dt>URL:</dt>
                                    <dd><a href="#" class="text-navy"> página web</a> </dd>
                                </dl>#}
                            </div>
                        </div>
                    {% endif %}
                    <!-- END - row about -->

                    <!-- Begin Friends -->
                    {% if friends|length > 0 %}
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{{ "page.user.h5.friends"|trans }}</h3>
                            </div>
                            <div class="ibox-content">
                                <div class="user-friends"> 
                                    {% for person in friends %}
                                        {% if person.skaphandrusId != false %}
                                            <a href="{{ path('user', { 'id': person.skaphandrusId.id }) }}">
                                                <img title="{{ person.skaphandrusId.personal.name }}" alt="{{ person.skaphandrusId.personal.name }}" class="img-circle" src="{{ person.skaphandrusId.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_100') }}" />
                                            </a>
                                        {% endif %}  
                                    {% endfor %}
                                </div>
                            </div>
                        </div> 
                    {% endif %}

                    <!-- BEGIN send message -->
                    {#<div class="ibox">
                        <div class="ibox-content">
                            <h3>Private message</h3>
                            <p class="small"> Send a private message to João </p>
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="email" class="form-control" placeholder="Message subject">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>  #}      
                </div>
                <!-- END left area-->

                <!-- BEGIN right area-->
                <div class="col-md-8">

                    <!-- BEGIN - row dos spots -->
                    <div class="row" >
                        <div class="col col-lg-12">
                            <div class="ibox" >
                                <div class="ibox-title">
                                    <h3>{% trans with {'%name%': user.personal.name|title} %}page.user.h3.spots{% endtrans %}</h3>
                                </div>
                                <div class="ibox-content">
                                    {% if map %}
                                        <div class="m-b-md">
                                            {{google_map(map)}}
                                        </div>
                                    {% endif %}

                                    <div id="box_spots"></div>

                                    <div class="ibox-content" >
                                        <div class="row" >
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_spots">{{ "page.profile.button.show_more_spots"|trans }}</button>
                                            </div>
                                            <div class="col-sm-6 col-sx-12">
                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#spotModal">{{ "page.profile.button.see_all_spots"|trans }}</button>
                                            </div>
                                        </div>

                                        <!-- Spots Modal start -->
                                        <div class="modal fade" id="spotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{% trans with {'%name%': user.personal.name|title} %}page.user.h3.spots{% endtrans %}</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div id="spotInput"></div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Spots Modal end -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <!-- END - row dos spots -->

                    <!-- BEGIN - row das especies, fotografadas, validadas e sugeridas -->
                    <div class="row" >
                        <div class="col col-lg-12">

                            <div class="tabs-container" id="tabs_marine_animals">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab-1">{{ "page.user.tab.photographed"|trans }}</a></li>
                                    <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-2">{{ "page.user.tab.validated"|trans }}</a></li>
                                    <li class=""><a aria-expanded="false" data-toggle="tab" href="#tab-3">{{ "page.user.tab.suggested"|trans }}</a></li>
                                </ul>
                                <div class="tab-content">

                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <div class="ibox">
                                                <h4>{% trans with {'%name%': user.personal.name|title} %}page.user.h3.species{% endtrans %}</h4>
                                                <div class="ibox-content">

                                                    <div id="box_species"></div>

                                                    <div class="ibox-content" >
                                                        <div class="row" >
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_species">{{ "page.profile.button.show_more_species"|trans }}</button>
                                                            </div>
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#speciesModal">{{ "page.profile.button.see_all_species"|trans }}</button>
                                                            </div>
                                                        </div>

                                                        <!-- Species Modal start -->
                                                        <div class="modal fade" id="speciesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">{% trans with {'%name%': user.personal.name|title} %}page.user.h3.species{% endtrans %}</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <div id="speciesInput"></div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Species Modal end -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>                
                                    </div>

                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="ibox">
                                                <h4>{% trans with {'%name%': user.personal.name|title} %}page.user.h3.photos_validated{% endtrans %}</h4>
                                                <div class="ibox-content">

                                                    <div id="box_validations"></div>

                                                    <div class="ibox-content" >
                                                        <div class="row" >
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_validations">{{ "page.profile.button.show_more_validations"|trans }}</button>
                                                            </div>
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#validationsModal">{{ "page.profile.button.see_all_validations"|trans }}</button>
                                                            </div>
                                                        </div>

                                                        <!-- Validations Modal start -->
                                                        <div class="modal fade" id="validationsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">{% trans with {'%name%': user.personal.name|title} %}page.user.h3.photos_validated{% endtrans %}</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <div id="validationsInput"></div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Validations Modal end -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>                
                                    </div>

                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="ibox">
                                                <h4>{% trans with {'%name%': user.personal.name|title} %}page.user.h3.photos_suggested{% endtrans %}</h4>
                                                <div class="ibox-content">

                                                    <div id="box_suggestions"></div>

                                                    <div class="ibox-content" >
                                                        <div class="row" >
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-primary btn-block" id="show_more_suggestions">{{ "page.profile.button.show_more_suggestions"|trans }}</button>
                                                            </div>
                                                            <div class="col-sm-6 col-sx-12">
                                                                <button type="button" class="btn btn-outline btn-default btn-block" data-toggle="modal" data-target="#suggestionsModal">{{ "page.profile.button.see_all_suggestions"|trans }}</button>
                                                            </div>
                                                        </div>

                                                        <!-- Suggestions Modal start -->
                                                        <div class="modal fade" id="suggestionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">{% trans with {'%name%': user.personal.name|title} %}page.user.h3.photos_suggested{% endtrans %}</h4>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <div id="suggestionsInput"></div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Suggestions Modal end -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <!-- END das especies fotografas, validadas e sugeridas -->

                    <!-- BEGIN - row modules -->
                    {% if acquisitions|length > 0 %}
                        {#{% if false %}#}

                        <div class="row" >
                            <div class="col col-lg-12">
                                <h2>{% trans with {'%name%': user.personal.name|title} %}page.user.h2.modules{% endtrans %}</h2>
                                <div class="row">
                                    <div class="gridx">
                                        {% for module in acquisitions %}
                                            <div class="grid-itemx col col-md-4">
                                                <div class="ibox">
                                                    <div class="ibox-content product-box">
                                                        <div class="product-imitation" style="padding: 0px 0px!important;">
                                                            <img alt="{{module.name}}" class="img-responsive" src="{{ module.getWebPath | imagine_filter('sk_widen_590') }}" />
                                                        </div>
                                                        <div class="product-desc">
                                                            <span class="product-price">
                                                                {% if module.isFree %}
                                                                    {{'page.modules.label.is_free'|trans}}
                                                                {% elseif module.createdAt|date("U") > "-30 days"|date("U") %}
                                                                    {% set difference = date(module.createdAt).diff(date("-30 days")) %}
                                                                    {% set leftDays = difference.days %}
                                                                    {{ leftDays ~" "~ "page.modules.label.left_days_free"|trans}}
                                                                {% else %}
                                                                    {{module.points}} <i class="fa fa-star"></i>
                                                                {% endif %}
                                                            </span>
                                                            <small class="text-muted">{{module.master}}</small>
                                                            <a href="{{url_to_module(module)}}" class="product-name"> {{module.name}}</a>

                                                            <div class="small m-t-xs">
                                                                <ul>
                                                                    {% for group in module.groups %}
                                                                        {% if group.isParentModule == TRUE %}
                                                                            <li>
                                                                                {{group.name}}
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                            <div class="m-t text-right">
                                                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                                                    {% if module.isFree %}
                                                                        <a href="{{url_to_module(module)}}" class="btn btn-xs btn-outline btn-primary">
                                                                            {{'page.modules.label.explore'|trans}} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% elseif module.createdAt|date("U") > "-30 days"|date("U") %}
                                                                        {% set difference = date(module.createdAt).diff(date("-30 days")) %}
                                                                        {% set leftDays = difference.days %}
                                                                        <a href="{{url_to_module(module)}}" class="btn btn-xs btn-outline btn-primary">
                                                                            {{'page.modules.label.explore'|trans}} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% elseif module in app.user.modules %}
                                                                        <a href="{{url_to_module(module)}}" class="btn btn-xs btn-outline btn-primary">
                                                                            {{'page.modules.label.explore'|trans}} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% else %}
                                                                        <a href="{{path('module_admin_edit')}}" class="btn btn-xs btn-outline btn-success">
                                                                            {{'page.modules.label.apply_points'|trans}} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if module.isFree %}
                                                                        <a href="{{url_to_module(module)}}" class="btn btn-xs btn-outline btn-primary">
                                                                            {{'page.modules.label.explore'|trans}} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% elseif module.createdAt|date("U") > "-30 days"|date("U") %}
                                                                        {% set difference = date(module.createdAt).diff(date("-30 days")) %}
                                                                        {% set leftDays = difference.days %}
                                                                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-xs btn-outline btn-default">
                                                                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% else %}
                                                                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-xs btn-outline btn-default">
                                                                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }} <i class="fa fa-long-arrow-right"></i> 
                                                                        </a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                    

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- END - row dos modules -->
                    {% endif %}  

                </div>
                <!-- END - right area-->
            </div> 
            <!-- END - row full content area -->
        </div>

    </div> 
{% endblock %}

