{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:vertical_choices_rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script>
        
        //http://symfony.com/doc/current/cookbook/form/form_collections.html
        /////////////////////  DivePrice code start  \\\\\\\\\\\\\\\\\\\\\\\
        var $container = $('ul.divePrice');
        // button to add a new SportParam
        var $addPriceLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi = $('<li></li>').append($addPriceLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container.find('li').each(function () {
                addPriceDeleteLink($(this));
            });

            //add button
            $container.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container.data('index', $container.find(':input').length);

            // adding a new form when cliking Add button
            $addPriceLink.on('click', function (e) {
                e.preventDefault();

                addPriceForm($container, $newLinkLi);

            });

            // adding a new form SportParam
            function addPriceForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addPriceDeleteLink($newFormLi);
            }


            function addPriceDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });
        /////////////////////  DivePrice code end  \\\\\\\\\\\\\\\\\\\\\\\
        
        //http://symfony.com/doc/current/cookbook/form/form_collections.html
        /////////////////////  RentEquipment code start  \\\\\\\\\\\\\\\\\\\\\\\
        var $container1 = $('ul.rentEquipment');
        // button to add a new SportParam
        var $addEquipLink = $('<br/><a href="#" class="btn btn-primary btn-xs">{{ "form.common.btn.create"|trans }}</a>');
        var $newLinkLi1 = $('<li></li>').append($addEquipLink);

        $(document).ready(function () {
            //delete button on each existing SportParam
            $container1.find('li').each(function () {
                addEquipDeleteLink($(this));
            });

            //add button
            $container1.append($newLinkLi1);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $container1.data('index', $container1.find(':input').length);

            // adding a new form when cliking Add button
            $addEquipLink.on('click', function (e) {
                e.preventDefault();

                addEquipForm($container1, $newLinkLi1);

            });

            // adding a new form SportParam
            function addEquipForm($container, $newLinkLi) {

                var $prototype = $container.attr('data-prototype');

                var newForm = $prototype.replace(/__name__/g, $container.children().length - 1);

                var $newFormLi = $("<li margin-bottom:1px';></li>").append(newForm);
                $newLinkLi.before($newFormLi);

                addEquipDeleteLink($newFormLi);
            }


            function addEquipDeleteLink($paramFormLi) {

                var $removeFormA = $('<a href="#" class="btn btn-danger  btn-xs">{{ "form.common.btn.delete"|trans }}</a>');

                $paramFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {

                    e.preventDefault();

                    $paramFormLi.remove();
                });
            }

        });
        /////////////////////  RentEquipment code end  \\\\\\\\\\\\\\\\\\\\\\\

    </script>


{% endblock %}


{% block heading_title %}
    {{ "form.business_dive.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('business_admin')}}">{{ "breadcrumb.business"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_.business_dive"|trans }}</strong></li>
    </ol>
{% endblock %}


{#{% block heading_action %}
    <a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business_dive.btn.add"|trans }}</a>
{% endblock %}#}


{% block form_title_description %}
    {{ "form.business_dive.text.description"|trans }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    <style>
        ul {
            list-style-type: none;
        }
    </style>

    {#    <label class="col-sm-3 control-label">{{ form_label(edit_form.spot) }}</label>
        <div class="col-sm-9">
            <ul class=diveSpot data-prototype="{{ form_widget(edit_form.spot.vars.prototype)|e }}">
                {% for diveSpot in edit_form.spot %}
                    <li>
                        {{ form_widget(diveSpot) }}
                    </li>
                {% endfor %}
            </ul>
            <div class="hr-line-dashed"></div>
        </div>#}

    {{ form_row(edit_form.spotAutocomplete) }}
    {{ form_row(edit_form.spotChoices) }}


    {#    {{ form_row(edit_form.divePrice) }}#}

    <label class="col-sm-3 control-label">{{ form_label(edit_form.divePrice) }}</label>
    <div class="col-sm-9">
        <ul class=divePrice data-prototype="{{ form_widget(edit_form.divePrice.vars.prototype)|e }}">
            {% for price in edit_form.divePrice %}
                <li>
                    {{ form_widget(price) }}
                </li>
            {% endfor %}
        </ul>
        <div class="hr-line-dashed"></div>
    </div>

    {#    {{ form_row(edit_form.rentEquipment) }}#}

    <label class="col-sm-3 control-label">{{ form_label(edit_form.rentEquipment) }}</label>
    <div class="col-sm-9">
        <ul class=rentEquipment data-prototype="{{ form_widget(edit_form.rentEquipment.vars.prototype)|e }}">
            {% for equip in edit_form.rentEquipment %}
                <li>
                    {{ form_widget(equip) }}
                </li>
            {% endfor %}
        </ul>
        <div class="hr-line-dashed"></div>
    </div>

    {{ form_row(edit_form.diveAccess) }}
    {{ form_row(edit_form.gas) }}
    {{ form_row(edit_form.safety) }}

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'business_admin', 'new_form':false} %}

    {% do edit_form.spotChoices.setRendered %}
    {% do edit_form.divePrice.setRendered %}
    {% do edit_form.rentEquipment.setRendered %}
    {{ form_end(edit_form) }}

{% endblock %}

