{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>
    <script>
        var collectionHolderId = '#skaphandrus_appbundle_skbusiness_divePrice';
        var $collectionHolder = $(collectionHolderId);

        var collectionHolderId1 = '#skaphandrus_appbundle_skbusiness_rentEquipment';
        var $collectionHolder1 = $(collectionHolderId1);

        // setup an "add a tag" link
        var $addDivePriceLink = $('<a href="#" class="add_price_link">{{ "form.business.label.add_dive_price"|trans }}</a>');
        var $addRentEquipmentLink = $('<a href="#" class="add_rent_link">{{ "form.business.label.add_rent_equipment"|trans }}</a>');
        //$(collectionHolderId).after($addCharacterLink);
        $addDivePriceLink.insertAfter(collectionHolderId);
        $addRentEquipmentLink.insertAfter(collectionHolderId1);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $(collectionHolderId);
            $collectionHolder1 = $(collectionHolderId1);

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.parent().append($addDivePriceLink);
            $collectionHolder1.parent().append($addRentEquipmentLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            // $collectionHolder.data('index', $collectionHolder.find('.form-group').length);
            $collectionHolder.data('index', $(collectionHolderId + ' > .form-group').length);
            $collectionHolder1.data('index', $(collectionHolderId1 + ' > .form-group').length);

            $addDivePriceLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addDivePriceForm($collectionHolder);
            });
            $addRentEquipmentLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addRentEquipmentForm($collectionHolder1);
            });
        });

        function addDivePriceForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__label__/g, index);
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            $collectionHolder.append(newForm);
            //$('#skaphandrus_appbundle_skidentificationcriteria_characters_'+ index +'_criteria').val({{ entity.id }});
        }
        function addRentEquipmentForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__label__/g, index);
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            $collectionHolder.append(newForm);
            //$('#skaphandrus_appbundle_skidentificationcriteria_characters_'+ index +'_criteria').val({{ entity.id }});
        }
        
    </script>


{% endblock %}


{% block heading_title %}
    {{ "form.business.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('business_admin')}}">{{ "breadcrumb.business"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_business"|trans }}</strong></li>
    </ol>
{% endblock %}


{#{% block heading_action %}
    <a href="{{ path('business_admin_new') }}" class="btn btn-primary">{{ "form.business.btn.add"|trans }}</a>
{% endblock %}#}


{% block form_title_description %}
    {{ "form.business.text.description"|trans }}
{% endblock %}

{% block body %}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    {{ form_widget(edit_form) }}

    {% include 'SkaphandrusAppBundle:Common:form-group-actions.html.twig' with {'admin_route':'business_admin', 'new_form':false} %}
    {{ form_end(edit_form) }}


    {#{{ form(delete_form) }}#}

{% endblock %}
