{% extends 'SkaphandrusAppBundle::content_layout.html.twig' %}

{% block page_title %}{{ "page.contest_programs.meta_tag.title"|trans }}{% endblock %}
{% block page_description %}{{ "page.contest_programs.meta_tag.description"|trans }}{% endblock %}
{% block page_keywords %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('index', {'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('index', {'locale': 'en'}) }}" />
{% endblock %}

{#{% block heading_title %}
    {{ "page.contest_programs.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "page.contest_programs.h1.title"|trans }}</strong></li>
    </ol>
{% endblock %}#}

{% block heading_breadcrumbs %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">

        .faixa1{
            width:100%;
            height:25px;
            background-color:rgb(202,230,224);
            display:table;
            margin-top: 2%;
            margin-bottom: 1%;
        }
        .faixa2{
            width:100%;
            height:15px;
            background-color:rgb(202,230,224);
            display:table;
            margin-bottom: 3%;
        }

        /* segunda div */

        .image { 
            position: relative;
            width: 100%;
        }
        h1 { 
            position: absolute;
            bottom: 15%;
            right: 20%;
            width: 100%;
        }
        h1 span { 
            color: white;
            font-weight:bold;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
        }
        h1 span.spacer {
            padding: 0 2px;
            background: none;
        }

        h2 { 
            position: absolute;
            bottom: 8%;
            right: 25%;
            width: 100%;
        }
        h2 span { 
            color: white;
            font-weight:bold;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
        }
        h2 span.spacer {
            padding: 0 2px;
            background: none;
        }


        .cls_002{
            font-size:35px;
            font-weight:bold;
            color:rgb(254,255,255);
        }
        .cls_003{
            font-size:25px;
            color:rgb(254,255,255);
        }
        .cls_004{
            font-size:25px;
            color:rgb(41,173,144);        
        }
        /* segunda div */


        /* acima das tabelas */
        .cls_006{
            font-size:25px; 
            font-weight:bold;
            color:rgb(96,96,95);
        }
        /* acima das tabelas */


        /* usado nas tabelas */
        .cls_007{
            font-size:16px;
            font-weight:bold;
            color:rgb(96,96,95);
            text-align: center;
        }

        .cls_008{
            font-size:18px;
            font-weight:bold;
            color:rgb(254,255,255);
            text-align: center;
        }

        .cls_009{
            font-size:18px; 
            color:rgb(41,173,144);
            text-align: center;
        }    
        /* usado nas tabelas */


        /* usado na barra verde da terceira div */
        .cls_010{
            font-size:25px;
            font-weight:bold;
            color:rgb(254,255,255);
        }
        /* usado nas tabelas */

        /* quarta div */
        .cls_013 {
            font-size:20px;
            font-weight:bold;
            color:#1ab394;
        }

        .cls_014 {
            font-size:15px;
            color:#1ab394;
        }
        /* quarta div */

        /* quinta div */
        .cls_011 {
            margin:18% 10% 0;
            padding-left:8%;
            font-size:30px;
            font-weight:bold;
        }

        .cls_011 button {
            background-color: #1c84c6;
            border-color: #1c84c6;
            color: #FFFFFF;   
        }

        .cls_011 button.btn-primary.dim {
            box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 10px 5px #999999;
        }

        .cls_012 {
            margin-top:15%;
            margin-right:3%;
            font-size:32px;
            color:rgb(254,255,255);
        }

        .cls_012 a{
            text-decoration:none;
            color:rgb(254,255,255);
        }
        /* quinta div */

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="container">

            {#<!-- START PRIMEIRA DIV -->
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <img style="width:100%;" src="{{ asset('bundles/skaphandrusapp/img/programs/background1.jpg') }}"/>
                    </div>
                </div>
            </div>
            <!-- END PRIMEIRA DIV -->#}

            <!-- START SEGUNDA DIV -->

            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">

                        <!-- start banner -->
                        <div class="image" align="center">

                            <img style="width:100%" src="{{ photo.getWebPath | imagine_filter('sk_downscale_max_600_600') }}"/>

                            <h1><span>{{ "page.contest_programs.h1.text_over"|trans|raw }}</span></h1>
                            <h2><span>{{ "page.contest_programs.h2.text_over"|trans|raw }}</span></h2>

                        </div>
                        <!-- end banner -->

                    </div>
                </div>
            </div>


            {#<div class="row">
                <div class="col-md-12">
                    <div class="ibox" style="background-color: #1ab394">

                        <!-- start imagem logotipo da skaphandrus -->
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <img src="{{ asset('bundles/skaphandrusapp/img/programs/logo-skaphandrus.png') }}"/>
                            </div>
                        </div>
                        <!-- end imagem logotipo da skaphandrus -->

                        <!-- start blocos de texto -->
                        <div class="row">
                            <div class="col-md-12 cls_002" align="center">
                                <p>{{ "page.contest_programs.p.welcome_message_program"|trans }}</p>
                                <p>{{ "page.contest_programs.p.service_program"|trans }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 cls_003" align="center">
                                <p>{{ "page.contest_programs.p.get_your_diving"|trans }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 cls_004" style="background-color:white; border-radius:10px;" align="center">
                                <p style="margin-top:2%;">{{ "page.contest_programs.p.discover_our_new_tool"|trans }}</p>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <!-- end blocos de texto -->

                        <!-- start faixas cinza -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="faixa1"></div>
                                <div class="faixa2"></div>
                            </div>
                        </div>
                        <!-- end faixas cinza -->

                    </div>
                </div>
            </div>#}
            <!-- END SEGUNDA DIV -->

            <!-- START TERCEIRA DIV -->
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content">

                            <!-- start row das tabelas -->
                            <div class="row">
                                <div class="col-md-12" align="center">

                                    <p class="cls_006">{{ "page.contest_programs.p.flexible_affordable"|trans }}</p>

                                    <!-- start tabela 1 -->
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="background-color: #F5F5F6;height:39.85px">
                                                <th class="cls_007" style="width: 50%">{#{{ "page.contest_programs.th.key_features"|trans|raw }}#}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.light"|trans|raw }}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.full"|trans|raw }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.contest_duration"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.30_days"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.60_days"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.contest_naming"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.public_voting"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.number_of_categories"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.number_3"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.number_10"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.number_of_photos"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.unlimited"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.unlimited"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.sponsors_and_awards"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.client_responsability"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.client_responsability_with_skaphandrus"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.influential_juries"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.client_responsability"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.client_responsability_with_skaphandrus"|trans|raw }}</td>
                                            </tr>

                                            <!-- start tabela 2 -->
                                            <tr style="background-color: #F5F5F6;height:39.85px">
                                                <td class="cls_007"></td>
                                                <td class="cls_007"></td>
                                                <td class="cls_007"></td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.visual_identity_production"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.creation_and_content_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <!-- end tabela 2 -->

                                            <!-- start tabela 3 -->
                                            <tr style="background-color: #F5F5F6;height:39.85px">
                                                <td class="cls_007"></td>
                                                <td class="cls_007"></td>
                                                <td class="cls_007"></td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.creation_and_content_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.featured_in_skaphandrus"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.highlight_social_networks"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.promotional_newsletter"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.creation_event_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.investment_digital_tools"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.digital_campaign_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.outdoors_billboards_production"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                            <!-- end tabela 3 -->

                                        </tbody>
                                    </table>
                                    <!-- end tabela 1 -->

                                    <!-- start tabela 2 -->
                                    {#<table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="cls_007" style="width: 50%">{{ "page.contest_programs.th.development"|trans|raw }}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.light"|trans|raw }}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.full"|trans|raw }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.visual_identity_production"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.creation_and_content_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                        </tbody>
                                    </table>#}
                                    <!-- end tabela 2 -->

                                    <!-- start tabela 3 -->
                                    {#<table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="cls_007" style="width: 50%">{{ "page.contest_programs.th.promotion"|trans|raw }}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.light"|trans|raw }}</th>
                                                <th class="cls_007" style="width: 25%">{{ "page.contest_programs.th.full"|trans|raw }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="background-color: #1ab394" class="cls_008">{{ "page.contest_programs.td.featured_in_skaphandrus"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.highlight_social_networks"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.promotional_newsletter"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.creation_event_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.yes"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.investment_digital_tools"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.digital_campaign_management"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: #1ab394"  class="cls_008">{{ "page.contest_programs.td.outdoors_billboards_production"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.no"|trans|raw }}</td>
                                                <td class="cls_009">{{ "page.contest_programs.td.optional"|trans|raw }}</td>
                                            </tr>
                                        </tbody>
                                    </table>#}
                                    <!-- end tabela 3 -->

                                </div>
                            </div>
                            <!-- end row das tabelas -->

                            <!-- start row das imagens -->
                            <div class="row">
                                <div class="col-md-12" align="center">

                                    <!-- start imagem bolinhas -->
                                    <div class="row">
                                        <div class="col-md-12" align="center">
                                            <img style="width:auto;height:400px" src="{{ asset('bundles/skaphandrusapp/img/programs/prices1.jpg') }}"/>
                                        </div>
                                    </div>
                                    <!-- end imagem bolinhas -->

                                    <!-- start texto e div verde -->
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10 cls_010" style="background-color:#1ab394; border-radius:5px;" align="center">
                                            <p style="margin-top: 1%">{{ "page.contest_programs.p.become_affiliate"|trans }}</p>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <!-- end texto e div verde -->

                                    <!-- start imagem bolinhas -->
                                    <div class="row">
                                        <div class="col-md-12" align="center">
                                            <img style="width:auto;height:325px" src="{{ asset('bundles/skaphandrusapp/img/programs/prices2.jpg') }}"/>
                                        </div>
                                    </div>
                                    <!-- end imagem bolinhas -->

                                </div>
                            </div>
                            <!-- end row das imagens -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- END TERCEIRA DIV -->

            <!-- START QUARTA DIV -->
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">

                        <!-- start advantages -->
                        <img style="width:100%" src="{{ asset('bundles/skaphandrusapp/img/programs/contests_programs_advantages.jpg') }}"/>
                        <!-- end advantages -->

                    </div>
                </div>
            </div>

            {#<div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content" align="center">

                            <!-- start row primeiras advantages -->
                            <div class="row">
                                <div class="col-md-4" align="center">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages1"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages1_1"|trans|raw}}</p>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages1_2"|trans|raw}}</p>
                                        <img style="width:auto;height:200px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages1.jpg') }}"/>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages2"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages2_1"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages2.jpg') }}"/>
                                    </div>
                                </div>
                                <div class="col-md-4" align="center">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages3"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages3_1"|trans|raw}}</p>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages3_2"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages3.jpg') }}"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end row primeiras advantages -->

                            <!-- start row segundas advantages -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages4"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages4_1"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages4.jpg') }}"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.underwater_photo_contest"|trans|raw}}</p>
                                        <img style="" src="{{ asset('bundles/skaphandrusapp/img/landing/webpage-03.jpg') }}"/>
                                        <p class="cls_013">{{"page.contest_programs.p.skaphandrus"|trans|raw}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages5"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages5_1"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages5.jpg') }}"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end row segundas advantages -->

                            <!-- start row terceiras advantages -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages6"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages6_1"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages6.jpg') }}"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages7"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages7_1"|trans|raw}}</p>
                                        <img style="width:auto;height:200px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages7.jpg') }}"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <p class="cls_013">{{"page.contest_programs.p.advantages8"|trans|raw}}</p>
                                        <p class="cls_014">{{"page.contest_programs.p.advantages8_1"|trans|raw}}</p>
                                        <img style="width:auto;height:150px;" src="{{ asset('bundles/skaphandrusapp/img/programs/advantages8.jpg') }}"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end row terceiras advantages -->

                        </div>
                    </div>
                </div>
            </div>#}
            <!-- END QUARTA DIV -->

            <!-- START QUINTA DIV -->
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox" style="background-color: #1ab394">

                        <div class="row">
                            <div class="col-md-3" align="center" >
                                <img src="{{ asset('bundles/skaphandrusapp/img/programs/logo-half.png') }}"/>
                            </div>

                            <div class="col-md-9">

                                <div class="cls_011" align="center">

                                    <p style="color:white">{{ "page.contests.p.fill_form"|trans }}</p>

                                    {% for flashMessage in app.session.flashbag.get('notice') %}
                                        <div class="alert alert-success alert-dismissable" style="font-size:15px">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            {{ flashMessage|trans }}
                                        </div>
                                    {% endfor %}

                                    {{ render(controller('SkaphandrusAppBundle:SkContestRequest:new')) }}


                                    {#<p>{{ "page.contest_programs.p.dive_into_our_program"|trans }}</p>
                                    <p>{{ "page.contest_programs.p.service_program"|trans }}</p>#}
                                </div>

                                <div class="pull-right cls_012" align="right">
                                    <p><a href="mailto:support@skaphandrus.com" target="_blank">support@skaphandrus.com</a></p>
                                    <p><a href="http://www.skaphandrus.com/" target="_blank">skaphandrus.com</a></p>
                                    <p><a href="http://www.facebook.com/skaphandrus/" target="_blank">facebook.com/skaphandrus</a></p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END QUINTA DIV -->

        </div>
    </div>

{% endblock %}

