{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/app.js') }}"></script>
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.tableTools.min.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.course.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.course"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('course_admin_new') }}" class="btn btn-primary">{{ "form.course.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.course.text.description"|trans }}
{% endblock %}

{% block body -%}

    <table id="datatable-list" class="table display table-striped table-bordered table-hover " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{{ "form.course.label.name"|trans }}</th>
                <th>{{ "form.course.label.affiliation"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.affiliation }}</td>
                    <td>
                        <a class="btn btn-white btn-sm" href="{{ path('course_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "forms.common.btn.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('course_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.course.btn.add"|trans }}
    </a>

{% endblock %}
