{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/hack/autocompleter-jqueryui.js') }}"></script>

{% endblock %}


{% block heading_title %}
    {{ "form.judge_votation.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li><a href="{{ path('judge_votation_admin', { 'contest_id': contest.id }) }}">{{ "breadcrumb.judge_votation"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.edit_judge_votation"|trans }}</strong></li>
    </ol>
{% endblock %}


{#{% block heading_action %}
    <a href="{{ path('judge_votation_admin_new') }}" class="btn btn-primary">{{ "form.judge_votation.btn.add"|trans }}</a>
{% endblock %}#}


{% block form_title_description %}
    {{ "form.judge_votation.text.description"|trans }} 
{% endblock %}

{% block body -%}

    {#    <div align="right">
            <a class="btn btn-white" href="{{ path('judge_votation_admin', {'contest_id':contest.id}) }}">{{ "form.common.btn.back_to_list"|trans }}</a>
        </div>#}

    {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.judge_votation.label.image"|trans }}</th>
                <th>{{ "form.judge_votation.label.pontuation"|trans }}</th>
            </tr>
        </thead>

        {% for photo_points in edit_form.judgeVote %}
            {% set photo = photo_points.vars.data.photo %}
            <tr>
                <td> 
                    <a href="{{path('photo_no_slug', { 'id': photo.id })}}" > 
                        <img src="{{ photo.getWebPath | imagine_filter('sk_widen_100') }}" class="feed-photo" alt="{{ photo }}">
                    </a>
                </td>
                <td>
                    {{ form_widget(photo_points.points) }}
                </td>
            </tr>
        {% endfor %}
    </table>



    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <a class="btn btn-white" href="{{ path('judge_votation_admin', {'contest_id':contest.id}) }}">{{ "form.common.btn.back_to_list"|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ "form.common.btn.update"|trans }}</button>

        </div>
    </div>

    {{ form_end(edit_form) }}

    {#    {{ form(delete_form) }}#}


{% endblock %}
