{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/skaphandrus.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body -%}
    <h1>SkPhotoContestCategoryJudgeVotation edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('votation') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
