{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block page_title %}{{ "page.judge_votation.meta_tag.title"|trans }}{% endblock %}

{% block page_description %}{{ "page.judge_votation.meta_tag.description"|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.judge_votation.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.judge_votation"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block form_title_description %}
    {{ "form.judge_votation.text.description"|trans }}
{% endblock %}

{% block body -%}

    <h2>{{ contest.name }}</h2>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ "form.judge_votation.label.photo_contest"|trans }}</th>
                <th>{{ "form.judge_votation.label.photo_contest_category"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.category.contest }}</td>
                    <td>{{ entity.category }}</td>
                    <td>
                        {#<ul>
                            <li>#}
                                <a class="btn btn-white btn-sm" href="{{ path('judge_votation_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "form.judge_votation.label.voting"|trans }}</a>
                            {#</li>
                            <li>#}
                                <a class="btn btn-white btn-sm" href="{{ path('judge_result_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-eye-slash"></i> {{ "form.judge_votation.label.results"|trans }}</a>
                            {#</li>
                        </ul>#}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
