{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/skaphandrus.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading_title %}
    {{ "form.photo_contest.h1.title"|trans }}
{% endblock %}


{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ url_to_dashboard() }}">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.photo_contest"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_contest_admin_new') }}" class="btn btn-primary">{{ "form.photo_contest.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.photo_contest.text.description"|trans }}
{% endblock %}

{% block body -%}
    <h1>SkPhotoContestCategoryJudgeVotation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>
                        <ul>
                            {#<li>
                                <a href="{{ path('votation_show', { 'id': entity.id }) }}">show</a>
                            </li>#}
                            <li>
                                <a href="{{ path('votation_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('votation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}