{# extends '::base.html.twig' %}

{% block body -%}
    <h1>SkPhotoSpeciesSugestion edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('photo_species_sugestion_admin') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock #}
{% form_theme edit_form 'SkaphandrusAppBundle:Form:rows.html.twig' %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <i class="fa fa-globe modal-icon"></i>
    <h4 class="modal-title">{{ "modal.photo.title.sugestion_title"|trans }}</h4>
    <small class="font-bold">{{ "modal.photo.sub-title.sugestion_subtitle"|trans }}</small>
</div>
{{ form_start(edit_form) }}
<div class="modal-body">
    <p>{{ "modal.photo.description.sugestion_description"|trans }}</p>
            {{ form_row(edit_form.species) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
    {{ form_widget(edit_form.submit) }}
</div>
{{ form_end(edit_form) }}
