{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ contest.name }}{% endblock %}
{% block page_description %}{{ contest.translate.description }}{% endblock %}

{# Needed for sidebar navigation #}
{% block body_data_attributes %}data-spy="scroll" data-target="#navbar-sidebar"{% endblock %}

{% block heading_title %}
   {{contest.name}}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
          <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li class="active"><strong>{{ contest.name }}</strong></li>
    </ol>
{% endblock %}

{% block body %}

{# Calculate the project completeness #}
{% if "now"|date("U") < contest.beginAt|date("U") %}
    {% set percentage = 0 %}
    {% set contest_status = 'not-started' %}
{% elseif "now"|date("U") < contest.endAt|date("U") %}
    {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
    {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
    {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
    {% set contest_status = 'active' %}
{% else %}
    {% set percentage = 100 %}
    {% set contest_status = 'completed' %}
{% endif %}

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                {# <a href="#" class="btn btn-white btn-xs pull-right">Edit project</a> #}
                                <h2>{{ contest.name }}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>{{ "page.contest.dt.status"|trans }}:</dt> <dd><span class="label label-primary">{{ "page.contest.label.status_" ~ contest_status|trans }}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>{{ "page.contest.dt.created_by"|trans }}:</dt> <dd>Alex Smith</dd>
                                <dt>{{ "page.contest.dt.client"|trans }}:</dt> <dd><a href="#" class="text-navy"> Skaphandrus</a> </dd>
                                <dt>{{ "page.contest.dt.created"|trans }}:</dt> <dd>  {{ contest.createdAt|date }} </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal" >

                                <dt>{{ "page.contest.dt.starts_at"|trans }}:</dt> <dd>{{ contest.beginAt|date }}</dd>
                                <dt>{{ "page.contest.dt.ends_at"|trans }}:</dt> <dd>{{ contest.endAt|date }}</dd>
                                <dt>{{ "page.contest.dt.participants"|trans }}:</dt>
                                <dd class="project-people">
                                    {% for photographer in photographers[:5] %}
                                        <a href="{{ url_to_user(photographer) }}"><img alt="image" class="img-circle" src="/uploads/11138585_1606358319621583_5687423293522990896_n.jpg"></a>
                                    {% endfor %}
                                    <a href="{{ path("contests_photographers", {'contest_slug': slugify(contest.name) }) }}">{{ "page.contest.link.more_photographers"|trans }}</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: {{ percentage }}%;" class="progress-bar"></div>
                                    </div>
                                    <small>Contest completed in <strong>{{ percentage }}%</strong>.</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab-1" data-toggle="tab">
                                                    {{ "page.contest.tab.get_started"|trans }}
                                                </a>
                                            </li>
                                            <li class="dropdown" role="presentation">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                                  {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    {% for cat in contest.categories %}
                                                        <li><a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="{{ url_to_contest_photographers(contest) }}">
                                                    {{ "page.contest.tab.photographers"|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ url_to_contest_sponsors(contest) }}">
                                                    {{ "page.contest.tab.sponsors"|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">

                                            <section id="categories">
                                                <h2>{{ "page.contest.h2.categories"|trans }}</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ "page.contest.table.sponsors"|trans }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for category in contest.categories %}
                                                            <tr>
                                                                <td>
                                                                    {% if category.photo is not empty %}
                                                                        {# <img src="/{{ category.photo.0.webPath }}" alt="{{ category.photo.0.title }}" title="{{ category.photo.0.title }}"> #}
                                                                        <img src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ category.photo.0.title }}" title="{{ category.photo.0.title }}">
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <h4>{{ link_to_contest_photos(category) }}</h4>
                                                                    <p>{{ category.translate.description }}</p>
                                                                </td>
                                                                <td>
                                                                    {% for award in category.awards %}
                                                                        {% for sponsor in award.sponsor %}
                                                                            {# <img class="img-rounded" src="{{ sponsor.image|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}"> #}
                                                                            <img class="img-rounded" src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}">
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>

                                            <section id="awards">
                                                <h2>{{ "page.contest.h2.awards"|trans }}</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ "page.contest.table.sponsors"|trans }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for award in contest.awards %}
                                                            <tr>
                                                                <td>
                                                                    {% if award.image %}
                                                                        {# <img src="/{{ award.image }}" alt="{{ award.translate.name }}" title="{{ award.translate.name }}"> #}
                                                                        <img src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ award.translate.name }}" title="{{ award.translate.name }}">
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <h4>{{ award.translate.name }}</h4>
                                                                    <p>{{ award.translate.description }}</p>
                                                                </td>
                                                                <td>
                                                                    {# <img src="/{{ award.sponsor.0.image }}" alt="{{ award.sponsor.0.name }}" title="{{ award.sponsor.0.name }}"> #}
                                                                    <img src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ award.sponsor.0.name }}" title="{{ award.sponsor.0.name }}">
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>

                                            <section id="rules">
                                                <h2>{{ "page.contest.h2.rules"|trans }}</h2>
                                                {{ contest.translate.rules|raw }}
                                            </section>

                                            <section id="judges">
                                                <h2>{{ "page.contest.h2.judges"|trans }}</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for judge in contest.judges %}
                                                            <tr>
                                                                <td>
                                                                    {# @TODO: Add judge real photo #}
                                                                    <img class="img-rounded" src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ judge.fosUser.username }}" title="{{ judge.fosUser.username }}">
                                                                </td>
                                                                <td>
                                                                    <h4>{{ judge.fosUser.username }}</h4>
                                                                    <p>{{ "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."|truncate(250, true) }} <a href="{{ url_to_user(judge.fosUser) }}">{{ "page.contest.table.read_more"|trans }}</a></p>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>

                                            <section id="sponsors">
                                                <h2>{{ "page.contest.h2.sponsors"|trans }}</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for sponsor in contest.sponsors %}
                                                            <tr>
                                                                <td>
                                                                    {# <img class="img-rounded" src="{{ sponsor.image|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}"> #}
                                                                    <img class="img-rounded" src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter('sk_thumbnail_outbound_100') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}">
                                                                </td>
                                                                <td>
                                                                    <h4>{{ sponsor.name }}</h4>
                                                                    <p>{{ sponsor.translate.description }}</p>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content project-manager hidden-sm hidden-xs hidden-md" data-spy="affix" data-offset-top="155" style="top: 0; max-width: 250px;">
            <h2>{{ contest.name }}</h2>
            <!--<img src="{{ contest.logo }}" class="img-responsive">-->
            <img src="/uploads/11138585_1606358319621583_5687423293522990896_n.jpg" class="img-responsive">
            <p class="small">
                {{ contest.translate.description|raw }}
            </p>
            <div class="row">
                <nav role="navigation" id="navbar-sidebar">
                    <ul class="nav nav-pills">
                        <li><a href="#categories">{{ "page.contest.menu.categories"|trans }}</a></li>
                        <li><a href="#awards">{{ "page.contest.menu.awards"|trans }}</a></li>
                        <li><a href="#rules">{{ "page.contest.menu.rules"|trans }}</a></li>
                        <li><a href="#judges">{{ "page.contest.menu.judges"|trans }}</a></li>
                        <li><a href="#sponsors">{{ "page.contest.menu.sponsors"|trans }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}
