{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ "page.contests.title.underwater_contests"|trans }}{% endblock %}
{% block page_description %}description{% endblock %}

{% block heading_title %}
   {{ "page.contests.title.underwater_contests"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "page.contest.breadcrumb.contests"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block body %}
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "page.contests.h5.all_contests" }}</h5>
        </div>
        <div class="ibox-content">
            <div class="project-list">
                <table class="table table-hover">
                    <tbody>
                        {% for contest in contests %}
                        {# Calculate the project completeness #}
                        {% if "now"|date("U") < contest.beginAt|date("U") %}
                            {% set percentage = 0 %}
                            {% set contest_status = 'not-started' %}
                            {% set button_class = 'default' %}
                        {% elseif "now"|date("U") < contest.endAt|date("U") %}
                            {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
                            {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
                            {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
                            {% set contest_status = 'active' %}
                            {% set button_class = 'warning' %}
                        {% else %}
                            {% set percentage = 100 %}
                            {% set contest_status = 'completed' %}
                            {% set button_class = 'primary' %}
                        {% endif %}
                        <tr>
                            <td class="project-logo">
                                <a href="{{ url_to_contest(contest) }}"><img alt="image" class="img-rounded" src="{{ "uploads/11138585_1606358319621583_5687423293522990896_n.jpg"|imagine_filter("sk_thumbnail_outbound_50") }}"></a>
                            </td>
                            <td class="project-title">
                                <a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a>
                                <br/>
                                <small>{{ "page.contests.label.created"|trans }} {{ contest.createdAt|date('d-m-Y') }}</small>
                            </td>
                            <td class="project-status">
                                <span class="label label-{{ button_class }}">{{ ("page.contests.label.status_" ~ contest_status)|trans }}</span><br />
                                <span>{{ "page.contests.label.starts_at"|trans }}: {{ contest.beginAt|date('Y-m-d') }}</span><br />
                                <span>{{ "page.contests.label.ends_at"|trans }}: {{ contest.endAt|date('Y-m-d') }}</span><br />
                            </td>
                            <td class="project-photos">
                                {% set num_photos = 0 %}
                                {% for cat in contest.categories %}
                                    {% set num_photos = num_photos + cat.photo|length %}
                                {% endfor %}
                                <span>{{ "page.contests.label.photos"|trans }}:&nbsp;
                                    {% if num_photos != 0 %}
                                        <a href="{{ url_to_contest_photos(contest.categories|first) }}">
                                            {{ num_photos }}
                                        </a>
                                    {% else %}
                                        {{ num_photos }}
                                    {% endif %}
                                </span>
                            </td>
                            <td class="project-people">
                                {% if photographers[contest.id]|length %}
                                    {% for photographer in photographers[contest.id][:5] %}
                                        <a href="{{ url_to_user(photographer) }}"><img alt="image" class="img-circle" src="/uploads/11138585_1606358319621583_5687423293522990896_n.jpg"></a>
                                    {% endfor %}
                                    <a href="{{ path("contests_photographers", {'contest_slug': slugify(contest.name) }) }}">{{ "page.contests.link.see_more"|trans }}</a>
                                {% endif %}
                            </td>
                            <td class="project-actions">
                                <a href="{{ url_to_contest(contest) }}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> {{ "page.contests.link.view"|trans }} </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
