{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{{ "page.contests.meta_tag.title"|trans }}{% endblock %}

{% block page_description %}{{ "page.contests.meta_tag.description"|trans }}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_landing_page', {'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_landing_page', {'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = ("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}

{% endblock %}#}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}


{% block heading_title %}
    {{ "page.contests.title.underwater_contests"|trans }}
{% endblock %}

{#{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "page.contest.breadcrumb.contests"|trans }}</strong></li>
    </ol>
{% endblock %}#}

{% block heading_breadcrumbs %}{% endblock %}


{% block body %}


    
    <div class="wrapper wrapper-content">
        <div class="container">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ "page.contests.meta_tag.title"|trans }}</h1>
                            <p class="text-muted">{{ "page.contests.p.title"|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">

                    <!-- Open Contest start -->
                    {% if contestsInProgress %}
                        <div class="row" >
                            <div class="col col-lg-12" >
                                <div class="ibox">
                                    <div class="ibox-title" >
                                        <h2>{{ "page.contests.h2.open_contests"|trans }}</h2>
                                        <p class="text-muted">{{ "page.contests.p.open_contests"|trans }}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col col-lg-12">
                                            <div class="ibox-content" >
                                                {% for contest in contestsInProgress %}
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <a href="{{ url_to_contest(contest) }}">
                                                                {% if contest.image %}
                                                                    <img alt="{{ contest.name }}" class="img-responsive" src="{{ contest.getWebPathLogo | imagine_filter('sk_widen_160') }} " />
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <h3><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></h3>
                                                            <div style="margin-bottom: 5px">
                                                                {% if contest.image %}
                                                                    {{ contest.translate(app.request.locale).description|raw }}
                                                                {% else %}
                                                                    {{ "page.contests.no_description"|trans  }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <h4 class="text-navy">{{ "page.contests.h4.totalPrice"|trans }}:</h4>{{ contest.totalPrize }}
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <h4 class="text-navy">{{ "page.contests.h4.endAt"|trans }}:</h4>{{ contest.endAt|date('Y-M-d') }}
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <a class="btn btn-default dim btn-block" href="{{ url_to_contest(contest) }}">{{ "page.contests.link.view"|trans }} </a>

                                                                    {% if contest.isInProgress %}
                                                                        <a class="btn btn-primary dim btn-block" href="{{ path('contest_participate', { 'contest_id': contest.id }) }}">{{ "form.contest.participate"|trans }}</a>
                                                                    {% endif %}

                                                                    {% if (contest.isJudge) or (is_granted("ROLE_ADMIN")) %}
                                                                        {% if contest.isInJudgeVotation %}
                                                                            <a class="btn btn-primary dim btn-block" href="{{ path('judge_votation_admin', { 'contest_id': contest.id }) }}">{{"form.contest.votation"|trans}}</a>
                                                                        {% endif %}
                                                                        {% if contest.type == 1 %}
                                                                            <a class="btn btn-primary dim btn-block" href="{{ path('taxonomic_result_admin', { 'contest_id': contest.id }) }}">{{"form.contest.taxonomic_result"|trans}}</a>
                                                                        {% else %}
                                                                            <a class="btn btn-primary dim btn-block" href="{{ path('judge_result_admin', { 'contest_id': contest.id }) }}">{{"form.contest.judge_result"|trans}}</a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Open Contest end -->

                    <!-- Previus Contest start -->
                    <div class="row" >
                        <div class="col col-lg-12" >
                            <div class="ibox">
                                <div class="ibox-title" >
                                    <h2>{{ "page.contests.h2.previous_contests"|trans }}</h2>
                                    <p class="text-muted">{{ "page.contests.p.previous_contests"|trans }}</p>
                                </div>
                                <div class="row">
                                    <div class="col col-lg-12">
                                        {% for contest in contestsEnded %}
                                            <div class="ibox-content" >
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <a href="{{ url_to_contest(contest) }}">
                                                            {% if contest.image %}
                                                                <img alt="{{ contest.name }}" class="img-responsive" src="{{ contest.getWebPathLogo | imagine_filter('sk_widen_160') }} " />
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h3><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></h3>
                                                        <div style="margin-bottom: 5px">
                                                            {% if contest.image %}
                                                                {{ contest.translate(app.request.locale).description|raw }}
                                                            {% else %}
                                                                {{ "page.contests.no_description"|trans  }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <a class="btn btn-primary dim btn-block" href="{{ url_to_contest(contest) }}">{{ "page.contests.link.view"|trans }} </a>
                                                            </div>
                                                            <div class="col-md-4">
                                                                {% if (contest.isJudge) or (is_granted("ROLE_ADMIN")) %}
                                                                    {% if contest.type == 1 %}
                                                                        <a class="btn btn-primary dim btn-block" href="{{ path('taxonomic_result_admin', { 'contest_id': contest.id }) }}">{{"form.contest.taxonomic_result"|trans}}</a>
                                                                    {% else %}
                                                                        <a class="btn btn-primary dim btn-block" href="{{ path('judge_result_admin', { 'contest_id': contest.id }) }}">{{"form.contest.judge_result"|trans}}</a>
                                                                    {% endif %}
                                                                {% endif %}

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>

                                                <!-- BEGIN - winner photos -->
                                                <div class="row">
                                                    <div class="col-lg-10 col-lg-offset-1">
                                                        <h3>{% trans with {'%contest%': contest.name} %}page.landing.h3.winner_photo_contest{% endtrans %}</h3>
                                                        <p class="text-muted">{% trans with {'%contest%': contest.name} %}page.landing.p.winner_photo_contest{% endtrans %}</p>
                                                        <div class="ibox">
                                                            <div class="lista_slides_concurso">
                                                                {% for category in contest.categories %}
                                                                    <div class="dont_hide_border">
                                                                        {% for award in category.awards %}
                                                                            <a href="{{ path('photo_no_slug',  { 'id': award.winnerPhoto.id }) }}">
                                                                                <div class="img-thumbnail">
                                                                                    <img alt="{{ award.winnerPhoto }}" class="img-responsive" src="{{ award.winnerPhoto.getWebPath | imagine_filter('sk_thumbnail_outbound_200') }} " />
                                                                                    <div class="legenda_foto">
                                                                                        <div>
                                                                                            <i class="fa fa-trophy fa-5x text-navy pull-right"></i>
                                                                                            <div>{{ category }}</div>
                                                                                        </div>
                                                                                        {{ award.winnerPhoto.fosUser }}
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        {% endfor %}
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END - winner photos -->

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Previus Contest end -->
                </div>

                <!-- Create Contest start -->
                <div class="col-md-4">
                    <div class="ibox float-e-margins form_sidebar" data-spy="affix" data-offset-top="60">
                        <div class="ibox-title">
                            <h5>{{ "page.contests.h5.create_contest"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <p>{{ "page.contests.p.fill_form"|trans }}{#Fill the form or <a href="#">READ MORE</a>#}</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ flashMessage|trans }}
                                </div>
                            {% endfor %}

                            {{ render(controller('SkaphandrusAppBundle:SkContestRequest:new')) }}

                        </div>
                    </div>
                </div>
                <!-- Create Contest end -->

            </div>
        </div>
    </div>

{% endblock %}
