{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%contest%': contest.name} %}page.contest_photographers.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{% trans with {'%contest%': contest.name} %}page.contest_photographers.meta_tag.description{% endtrans %}{% endblock %}

{% set keywords = contest.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.photographers"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block heading_title %}
    {{ contest.name }} - {{ "page.photographers.title.photographers"|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></li>
        <li class="active"><strong>{{ "page.photographers.title.photographers"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="{{ url_to_contest(contest) }}">
                                        {{ "page.contest.tab.get_started"|trans }}
                                    </a>
                                </li>
                                <li class="dropdown" role="presentation">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for cat in contest.categories %}
                                            <li><a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a></li>
                                            {% endfor %}
                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="#tab-1" data-toggle="tab">
                                        {{ "page.contest.tab.photographers"|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_to_contest_sponsors(contest) }}">
                                        {{ "page.contest.tab.sponsors"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="row">

                                {#<h2>{{ "page.contests_photographers.h3.photographers"|trans }}: {{ contest.name }}</h2>#}

                                {% for p in contest.photographers %}
                                    <div class="col-md-6">
                                        <div class="contact-box">
                                            <a href="{{ url_to_user(p) }}">
                                                <div class="col-sm-4">
                                                    <div class="text-center">
                                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="{{ p.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                        <div class="m-t-xs font-bold">{{ p.personal.honorific }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3><strong>{{ p.name }}</strong></h3>
                                                    <p><i class="fa fa-photo"></i> {{ p.photosInContest|length }} {{ "page.contest_photographers.label.number_photos"|trans }}</p>
                                                    {#<address>
                                                        <strong>Twitter, Inc.</strong><br>
                                                        795 Folsom Ave, Suite 600<br>
                                                        San Francisco, CA 94107<br>
                                                        (123) 456-7890
                                                    </address>#}
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager hidden-sm hidden-xs hidden-md" data-spy="affix" data-offset-top="156" style="top: 0; max-width: 250px;">
                <h2>{{ contest.name }}</h2>
                <!--<img src="{{ contest.logo }}" class="img-responsive">-->
                <img src="{{ contest.getWebPath | imagine_filter('sk_widen_400') }}" class="img-responsive">
                <p class="small">
                    {{ contest.translate.description|raw }}
                </p>
                {# Calculate the project completeness #}
                {% if "now"|date("U") < contest.beginAt|date("U") %}
                    {% set percentage = 0 %}
                    {% set contest_status = 'not-started' %}
                {% elseif "now"|date("U") < contest.endAt|date("U") %}
                    {% set time_length = contest.endAt|date("U") - contest.beginAt|date("U") %}
                    {% set current_time_length = "now"|date("U") - contest.beginAt|date("U") %}
                    {% set percentage = ( (current_time_length * 100) / time_length )|number_format %}
                    {% set contest_status = 'active' %}
                {% else %}
                    {% set percentage = 100 %}
                    {% set contest_status = 'completed' %}
                {% endif %}
                <p><strong>{{ "page.contest.dt.status"|trans }}:</strong> <span class="label label-primary">{{ ("page.contest.label.status_" ~ contest_status)|trans }}</span></p>
                    {#<p><strong>{{ "page.contest.label.created_by"|trans }}:</strong> Alex Smith</p>#}
                <p><strong>{{ "page.contest.label.client"|trans }}:</strong> <a href="#" class="text-navy"> Skaphandrus</a></p>
                <p><strong>{{ "page.contest.label.created"|trans }}:</strong> {{ contest.createdAt|date }}</p>
                <p><strong>{{ "page.contest.label.starts_at"|trans }}:</strong> {{ contest.beginAt|date }}</p>
                <p><strong>{{ "page.contest.label.ends_at"|trans }}:</strong> {{ contest.endAt|date }}</p>
            </div>
        </div>
    </div>


{% endblock %}
