{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}

    <h3>{{ "page.contests_photos.h3.categories"|trans }}</h3>
    <ul>
        {% for cat in category.contest.categories %}
        <li>
            {% if cat.id == category.id %}
                {{ cat.translate(app.request.locale).name }}
            {% else %}
                {{ link_to_contest_photos(cat) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h3>{{ "page.contests_photos.h3.photos"|trans }}: {{ category.translate(app.request.locale).name }}, {{ category.contest.name }}</h3>
    
    {% for photo in category.photo %}
        <p>{{ photo.title }} -> {{ photo.image }} ({{ "page.contests_photos.label.user"|trans }}: {{ photo.fosUser.username }})</p>
    {% endfor %}

{% endblock %}
