{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%contest%': contest.name} %}page.contest_photographers.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{% trans with {'%contest%': contest.name} %}page.contest_photographers.meta_tag.description{% endtrans %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_photographers', {'contest_slug': slugify(contest.name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_photographers', {'contest_slug': slugify(contest.name), 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = contest.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.photographers"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block heading_title %}
    {{ contest.name }} - {{ "page.photographers.title.photographers"|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></li>
        <li class="active"><strong>{{ "page.photographers.title.photographers"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">

                <!-- Coluna da direita -->
                <div class="col-md-8">
                    <div class="row" >
                        <div class="col col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="{{ url_to_contest(contest) }}">
                                            {{ "page.contest.tab.get_started"|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown" role="presentation">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                            {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for cat in contest.categories %}
                                                <li><a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a></li>
                                                {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a href="#tab-1" data-toggle="tab">
                                            {{ "page.contest.tab.photographers"|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_to_contest_sponsors(contest) }}">
                                            {{ "page.contest.tab.sponsors"|trans }}
                                        </a>
                                    </li>
                                    {% if contest.isWinnersReady %}
                                        <li>
                                            <a href="{{ url_to_contest_winners(contest) }}">
                                                {{ "page.contest.tab.winners"|trans }}
                                            </a>
                                        </li>
                                    {%endif%}

                                </ul>

                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="m-b-md">
                                                        <h2>{% trans with {'%contest%': contest.name} %}page.contest_photographers.h1.title{% endtrans %}</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row grid-contest">

                                                {#<h2>{{ "page.contests_photographers.h3.photographers"|trans }}: {{ contest.name }}</h2>#}

                                                {% for p in photographers %}
                                                    <div class="col-md-6">
                                                        <div class="contact-box center-version small_version">
                                                            <a href="{{ url_to_user(p) }}">
                                                                <div class="box_content">
                                                                    <img alt="{{ p.name }}" class="img-circle" src="{{ p.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                    <h4 class="m-b-xs"><strong>{{ p }}</strong></h4>
                                                                    <div class="font-bold">
                                                                        <p><i class="fa fa-photo"></i> {{ p.photosInContest }} {{ "page.contest_photographers.label.number_photos"|trans }}</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Coluna da direita end -->   

                <!-- Coluna da esquerda start -->              
                <div class="col-md-4">
                    <div class="ibox float-e-margins form_sidebar" data-spy="affix" data-offset-top="60">
                        <div class="ibox-title">
                            <h5>{{ "page.contests.h5.create_contest"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <p>{{ "page.contests.p.fill_form"|trans }}{#Fill the form or <a href="#">READ MORE</a>#}</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ flashMessage|trans }}
                                </div>
                            {% endfor %}

                            {{ render(controller('SkaphandrusAppBundle:SkContestRequest:new')) }}

                        </div>
                    </div>
                </div>
                <!-- Coluna da esquerda end -->   

            </div>
        </div>              
    </div>

{% endblock %}
