{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{#{% block page_title %}{% trans with {'%contest%': category.contest.name, '%category%': category.translate.name} %}page.contest_photos.meta_tag.title{% endtrans %}{% endblock %}#}

{% block page_title %}{% trans with {'%contest%': category.contest.name} %}page.contest.meta_tag.title{% endtrans %}{% endblock %}

{#{% block page_description %}{% trans with {'%category%': category.translate.name, '%contest%': category.contest.name} %}page.contest_photos.meta_tag.description{% endtrans %}{% endblock %}#}

{% block page_description %}{% trans with {'%contest%': category.contest.name, '%description%': category.contest.translate(app.request.locale).description|raw} %}page.contest.meta_tag.description{% endtrans %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_photos', {'contest_slug': slugify(category.contest.name), 'category_slug': slugify(category.translate('pt').name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_photos', {'contest_slug': slugify(category.contest.name), 'category_slug': slugify(category.translate('en').name), 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = category.contest.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.categories"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block heading_title %}
    {#    {% trans with {'%contest%': category.contest.name, '%category%': category.translate.name} %}page.contest_photos.h2.heading_title{% endtrans %}#}
    {% trans with {'%contest%': category.contest.name} %}page.contest.meta_tag.title{% endtrans %}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li><a href="{{ url_to_contest(category.contest) }}">{{ category.contest.name }}</a></li>
        <li class="active"><strong>{{ category.translate.name }}</strong></li>
    </ol>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">
        $(function () {
            var $grid = $('.grid-contest').imagesLoaded(function () {
                // init Isotope after all images have loaded
                $grid.isotope({
                    // options
                    itemSelector: '.grid-item-contest',
                    layoutMode: 'masonry'
                });
            });

            $('.vote-button').click(function () {
                photo_id = $(this).attr('id');

                if ($(this).hasClass('btn-primary')) {
                    $.ajax({
                        url: "/{{ app.request.locale }}/category/{{ category.id }}/vote-photo/" + $(this).attr('id'),
                        success: function (data) {
                            $('.vote-button.btn-success').removeClass('btn-success').addClass('btn-primary').html('<i class="fa fa-check"></i> {{ "page.contest.btn.vote"|trans }}');
                            $('.vote-button#' + photo_id).removeClass('btn-primary').addClass('btn-success').html('<i class="fa fa-check"></i> {{ "page.contest.btn.voted"|trans }}');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .grid-item-contest{width: 33%}
    </style>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">

                <!-- Coluna da direita -->
                <div class="col-md-8">

                    <div class="row" >
                        <div class="col col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <img alt="{{ category.contest.name }}" src="{{ category.contest.getWebPathImage | imagine_filter('sk_widen_900') }}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="{{ url_to_contest(category.contest) }}">
                                            {{ "page.contest.tab.get_started"|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown active" role="presentation">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                            {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for cat in category.contest.categories %}
                                                <li {% if cat.id == category.id %}class="active"{% endif %}><a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a></li>
                                                {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ url_to_contest_photographers(category.contest) }}">
                                            {{ "page.contest.tab.photographers"|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_to_contest_sponsors(category.contest) }}">
                                            {{ "page.contest.tab.sponsors"|trans }}
                                        </a>
                                    </li>
                                    {% if category.contest.isWinnersReady %} 
                                        <li>
                                            <a href="{{ url_to_contest_winners(category.contest) }}">
                                                {{ "page.contest.tab.winners"|trans }}
                                            </a>
                                        </li>
                                    {%endif%}
                                </ul>

                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="m-b-md">
                                                        <h2>{% trans with {'%contest%': category.contest.name, '%category%': category.translate.name} %}page.contest_photos.h2.title{% endtrans %}</h2>
                                                        <p>{% trans with {'%contest%': category.contest.name, '%category%': category.translate.name} %}page.contest_photos.p.title{% endtrans %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row grid-contest">

                                                {#<h2>{{ "page.contests_photos.h3.category"|trans }}: {{ category.translate.name }}, {{ category.contest.name }}</h2>#}

                                                {% for photo in category.photo %}
                                                    <div class="col-lg-4 grid-item-contest">
                                                        <div class="ibox float-e-margins">
                                                            <!--<div class="ibox-title"><h5>{{photo.title}}</h5></div>-->
                                                            <div class="thumbnail">
                                                                <div class="ibox-content ibox-content no-padding border-left-right">
                                                                    <a href="{{ url_to_photo(photo) }}" title="{{ photo.title }}">
                                                                        <img alt="{{ photo.title }}" class="img-responsive" src="{{ photo.getWebPath | imagine_filter('sk_widen_265') }}" />
                                                                    </a>
                                                                </div>
                                                                {% if category.contest.isInPublicVotation %}
                                                                    <div class="ibox-content profile-content">
                                                                        {# <h4><strong>{{ photo.title }}</strong></h4>#}
                                                                        <div>
                                                                            {% set class = 'btn-primary' %}
                                                                            {% set text = "page.contest.btn.vote"|trans %}

                                                                            {% if votedPhoto is not empty and photo.id == votedPhoto.photo.id %}
                                                                                {% set class = 'btn-success' %}
                                                                                {% set text = "page.contest.btn.voted"|trans %}
                                                                            {% endif %}

                                                                            {# {% if category.contest.isInPublicVotation %}#}
                                                                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                                                                <button type="button" class="vote-button btn-block btn {{ class }}" id="{{ photo.id }}"><i class="fa fa-check"></i> {{ text }}</button>
                                                                            {% else %}
                                                                                <a class="btn btn-success btn-outline btn-block" href="{{ path('fos_user_security_login') }}">
                                                                                    Login to vote <i class="fa fa-long-arrow-right"></i>
                                                                                </a>
                                                                            {% endif %}
                                                                            {# {% endif %}#}
                                                                            {# {% include 'SkaphandrusAppBundle:Common:addThisUnique.html.twig' with {'photography': photo} %}#}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Coluna da direita end -->   

                <!-- Coluna da esquerda start -->              
                <div class="col-md-4">
                    <div class="ibox float-e-margins form_sidebar" data-spy="affix" data-offset-top="60">
                        <div class="ibox-title">
                            <h5>{{ "page.contests.h5.create_contest"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <p>{{ "page.contests.p.fill_form"|trans }}{#Fill the form or <a href="#">READ MORE</a>#}</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ flashMessage|trans }}
                                </div>
                            {% endfor %}

                            {{ render(controller('SkaphandrusAppBundle:SkContestRequest:new')) }}

                        </div>
                    </div>
                </div>
                <!-- Coluna da esquerda end -->   

            </div>
        </div>
    </div>

{% endblock %}
