{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%contest%': contest.name} %}page.contest_sponsors.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{% trans with {'%contest%': contest.name} %}page.contest_sponsors.meta_tag.description{% endtrans %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_sponsors', {'contest_slug': slugify(contest.name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_sponsors', {'contest_slug': slugify(contest.name), 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = contest.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.sponsors"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block heading_title %}
    {{ contest.name }} - {{ "page.sponsors.title.sponsors"|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></li>
        <li class="active"><strong>{{ "page.photographers.title.sponsors"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="{{ url_to_contest(contest) }}">
                                        {{ "page.contest.tab.get_started"|trans }}
                                    </a>
                                </li>
                                <li class="dropdown" role="presentation">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        {% for cat in contest.categories %}
                                            <li><a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a></li>
                                            {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="{{ url_to_contest_photographers(contest) }}">
                                        {{ "page.contest.tab.photographers"|trans }}
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#tab-1" data-toggle="tab">
                                        {{ "page.contest.tab.sponsors"|trans }}
                                    </a>
                                </li>

                                {% if not contest.isInProgress %} 
                                    <li>
                                        <a href="{{ url_to_contest_winners(contest) }}">
                                            {{ "page.contest.tab.winners"|trans }}
                                        </a>
                                    </li>
                                {%endif%}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <h1>{% trans with {'%contest%': contest.name} %}page.contest_sponsors.h1.title{% endtrans %}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab-1">
                                <section id="sponsors">

                                    {#<h2>{{ "page.contests_sponsors.h3.sponsors"|trans }}: {{ contest.name }}</h2>#}

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sponsor in sponsors %}
                                                <tr>
                                                    <td>
                                                        {% if sponsor.image %}
                                                            <img class="img-rounded" src="{{ sponsor.getWebPath | imagine_filter('sk_widen_160') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}">
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <h4>{{ sponsor.name }}</h4>
                                                        <p>{{ sponsor.translate.description }}</p>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% include 'SkaphandrusAppBundle:Contest:right-sidebar-contest.html.twig' with {'contest': contest} %}
        </div>
    </div>

{% endblock %}
