{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block page_title %}{% trans with {'%contest%': contest.name} %}page.contest_winners.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{% trans with {'%contest%': contest.name} %}page.contest_winners.meta_tag.description{% endtrans %}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_winners', {'contest_slug': slugify(contest.name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('contests_winners', {'contest_slug': slugify(contest.name), 'locale': 'en'}) }}" />
{% endblock %}

{% set keywords = contest.name %}
{% set keywords = keywords~', '~("meta_tag.keyword.winners"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.festival"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.competition"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.challenge"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.contest"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.event"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photography"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.underwater"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block heading_title %}
    {{ contest.name }} - {{ "page.winners.title.winners"|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/imagesloaded.pkgd.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            var $grid = $('.grid-winners').imagesLoaded(function () {
                // init Isotope after all images have loaded
                $grid.isotope({
                    // options
                    itemSelector: '.grid-item-winners',
                    layoutMode: 'masonry'
                });
            });
        });
    </script>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .grid-item-winners{
            margin: 0 4px 10px;
            width: 32%
        }
    </style>
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li><a href="{{ path("contests_landing_page") }}">{{ "page.contest.breadcrumb.contests"|trans }}</a></li>
        <li><a href="{{ url_to_contest(contest) }}">{{ contest.name }}</a></li>
        <li class="active"><strong>{{ "page.photographers.title.winners"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">

                <!-- Coluna da direita -->
                <div class="col-md-8">
                    <div class="row" >
                        <div class="col col-lg-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="{{ url_to_contest(contest) }}">
                                            {{ "page.contest.tab.get_started"|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown" role="presentation">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                            {{ "page.contest.tab.photos"|trans }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for cat in contest.categories %}
                                                <li>
                                                    <a href="{{ url_to_contest_photos(cat) }}">{{ cat.translate(app.request.locale).name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ url_to_contest_photographers(contest) }}">
                                            {{ "page.contest.tab.photographers"|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_to_contest_sponsors(contest) }}">
                                            {{ "page.contest.tab.sponsors"|trans }}
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{ url_to_contest_winners(contest) }}">
                                            {{ "page.contest.tab.winners"|trans }}
                                        </a>
                                    </li>
                                </ul>

                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="m-b-md">
                                                        <h2>{% trans with {'%contest%': contest.name} %}page.contest_winners.h1.title{% endtrans %}</h2>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if contest.type == 1 %}

                                                {% if firstPhoto %}
                                                    <h2>{{ "page.taxomonic_result.h3.first_photo"|trans }}</h2>
                                                    <table class="table display table-bordered text-center">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                                                                <th>{{ "form.taxomonic_result.label.num_first_photo"|trans }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for f in firstPhoto %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="contact-box center-version small_version" style="border:none;margin-bottom:0;">
                                                                            <div class="box_content" style="text-align:left;">
                                                                                <img alt="{{f}}" class="img-circle" src="{{ f.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                                {{ link_to_user(f) }}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: middle;">
                                                                        {{ f.firstPhoto }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                                {% if validSpeciesPhotos %}
                                                    <h2>{{ "page.taxomonic_result.h3.valid_species_photo"|trans }}</h2>
                                                    <table class="table display table-bordered text-center">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                                                                <th>{{ "form.taxomonic_result.label.num_valid_species_photos"|trans }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for vsp in validSpeciesPhotos %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="contact-box center-version small_version" style="border:none;margin-bottom:0;">
                                                                            <div class="box_content" style="text-align:left;">
                                                                                <img alt="{{vsp}}" class="img-circle" src="{{ vsp.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                                {{ link_to_user(vsp) }}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: middle;">
                                                                        {{ vsp.validSpeciesPhoto }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                                {% if validSpecies %}
                                                    <h2>{{ "page.taxomonic_result.h3.valid_species"|trans }}</h2>
                                                    <table class="table display table-bordered text-center">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                                                                <th>{{ "form.taxomonic_result.label.num_valid_species"|trans }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for vs in validSpecies %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="contact-box center-version small_version" style="border:none;margin-bottom:0;">
                                                                            <div class="box_content" style="text-align:left;">
                                                                                <img alt="{{vs}}" class="img-circle" src="{{ vs.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                                {{ link_to_user(vs) }}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: middle;">
                                                                        {{ vs.validSpecies }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                            {% endif %}

                                            <section id="points">
                                                {% for category in contest.categories %}
                                                    <div class="row">
                                                        <h2 style="margin-left: 13px">{{category.name}}</h2>
                                                        <div class="grid-winners">
                                                            {% for photo in category.winnerPhotos%}
                                                                <div class="col-lg-4 grid-item-winners thumbnail" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                                                    <div class="ibox-content no-padding border-left-right">
                                                                        <a href="{{ url_to_photo(photo) }}" title="{{ photo.title }}">
                                                                            <img alt="{{ photo.title }}" class="img-responsive" src="{{ photo.getWebPath | imagine_filter('sk_widen_265') }}" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="ibox-content profile-content">
                                                                        <h4><strong>{{ photo.points}} {{ "page.winners.label.points"|trans }}</strong></h4>
                                                                        <ul class="list-unstyled">
                                                                            <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                                                <meta itemprop="name" content="{{ photo.fosUser.name }}">
                                                                                {{ "page.photos.label.username"|trans }}: <a href="{{ url_to_user(photo.fosUser) }}">{{ photo.fosUser.name }}</a>
                                                                            </li>
                                                                            {% if photo.spot is not null %}
                                                                                <li itemprop="contentLocation" itemscope itemtype="http://schema.org/TouristAttraction">
                                                                                    <meta itemprop="name" content="{{ photo.spot.name }}">
                                                                                    {{ "page.photos.label.spot"|trans }}: <a href="{{ url_to_spot(photo.spot) }}">{{ photo.spot.name }}</a>
                                                                                </li>
                                                                            {% endif %}
                                                                            {% if photo.species is not null %}
                                                                                <li>
                                                                                    {{ "page.photos.label.species"|trans }}: <a href="{{ url_to_species(photo.species) }}">{{ photo.species.name }}</a>
                                                                                </li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </section>

                                            <section id="awards">
                                                <h2>{{ "page.contest.h2.awards"|trans }}</h2>
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:25%">{{ "page.winners.th.user"|trans }}</th>
                                                            <th style="width:50%">{{ "page.winners.th.award"|trans }}</th>
                                                            <th style="width:25%">{{ "page.winners.th.photo"|trans }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for award in contest.awards %}
                                                            <tr>
                                                                <td style="width:25%">
                                                                    {% if award.winnerFosUser %}
                                                                        <div class="contact-box center-version small_version" style="border:none;margin-bottom:0;">
                                                                            <div class="box_content" style="text-align:left;background-color:#000\9;">
                                                                                <a href="{{ url_to_user(award.winnerFosUser) }}">
                                                                                    <img alt="{{award.winnerFosUser.name}}" class="img-circle" src="{{ award.winnerFosUser.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                                    {{award.winnerFosUser.name}}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        {#<a href="{{ url_to_user(award.winnerFosUser) }}">
                                                                            <img alt="{{award.winnerFosUser.name}}" class="img-circle" src="{{ award.winnerFosUser.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                        </a>

                                                                        <a href="{{ url_to_user(award.winnerFosUser) }}">
                                                                            {{award.winnerFosUser.name}}
                                                                        </a>#}
                                                                    {%elseif award.winnerPhoto %}
                                                                        <div class="contact-box center-version small_version" style="border:none;margin-bottom:0;">
                                                                            <div class="box_content" style="text-align:left;background-color:#000\9;">
                                                                                <a href="{{ url_to_user(award.winnerPhoto.fosUser) }}">
                                                                                    <img alt="{{award.winnerPhoto.fosUser.name}}" class="img-circle" src="{{ award.winnerPhoto.fosUser.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                                    {{award.winnerPhoto.fosUser.name}}
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        {#<a href="{{ url_to_user(award.winnerPhoto.fosUser) }}">
                                                                            <img alt="{{award.winnerPhoto.fosUser.name}}" class="img-circle" src="{{ award.winnerPhoto.fosUser.settings.getWebPath | imagine_filter('sk_thumbnail_outbound_130') }}">
                                                                        </a>

                                                                        <a href="{{ url_to_user(award.winnerPhoto.fosUser) }}">
                                                                            {{award.winnerPhoto.fosUser.name}}
                                                                        </a>#}
                                                                    {% endif %}
                                                                </td>
                                                                <td style="width:50%">
                                                                    <h4>{{ award.translate.name }}</h4>
                                                                    <p>{{ award.translate.description }}</p>
                                                                </td>
                                                                <td style="width:25%">
                                                                    {% if award.winnerPhoto %}
                                                                        <img alt="{{ award.winnerPhoto }}" class="img-responsive" src="{{ award.winnerPhoto.getWebPath | imagine_filter('sk_widen_265') }}" />
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Coluna da direita end -->   

                <!-- Coluna da esquerda start -->              
                <div class="col-md-4">
                    <div class="ibox float-e-margins form_sidebar" data-spy="affix" data-offset-top="60">
                        <div class="ibox-title">
                            <h5>{{ "page.contests.h5.create_contest"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <p>{{ "page.contests.p.fill_form"|trans }}{#Fill the form or <a href="#">READ MORE</a>#}</p>

                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ flashMessage|trans }}
                                </div>
                            {% endfor %}

                            {{ render(controller('SkaphandrusAppBundle:SkContestRequest:new')) }}

                        </div>
                    </div>
                </div>
                <!-- Coluna da esquerda end -->   

            </div>
        </div>
    </div>

{% endblock %}
