{% extends '@SkaphandrusAppBundle/Resources/views/content_layout.html.twig' %}

{% block body %}
    <h2>{{ country_name }}</h2>

    <h3>{{ "overview"|trans }}</h3>
    <p>{{ country.translation.overview }}</p>
    <h3>{{ "geography_and_climate"|trans }}</h3>
    <p>{{ country.translation.geographyAndClimate }}</p>
    <h3>{{ "entry_requirements"|trans }}</h3>
    <p>{{ country.translation.entryRequirements }}</p>
    <h3>{{ "health_and_safety"|trans }}</h3>
    <p>{{ country.translation.healthAndSafety }}</p>
    <h3>{{ "time_zone"|trans }}</h3>
    <p>{{ country.translation.timeZone }}</p>
    <h3>{{ "communications"|trans }}</h3>
    <p>{{ country.translation.communications }}</p>
    <h3>{{ "power_and_electricity"|trans }}</h3>
    <p>{{ country.translation.powerAndElectricity }}</p>
    <h3>{{ "other_informations"|trans }}</h3>
    <p>{{ country.translation.otherInformations }}</p>

    <h3>{{ "locations"|trans }}</h3>
    {% for l in locations %}
        <p>{{ l.location.translation.name }}: {{ l.spots_number }} {{ "spots"|trans }}</p>
    {% endfor %}

{% endblock %}
