{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block page_title %}{{ "page.taxomonic_result.meta_tag.title"|trans }}{% endblock %}

{% block page_description %}{{ "page.taxomonic_result.meta_tag.description"|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block heading_title %}
    {{ "form.taxomonic_result.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">{{ "breadcrumb.home"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.taxomonic_result"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block form_title_description %}
    {{ "form.taxomonic_result.text.description"|trans }}
{% endblock %}

{% block body -%}

    <h2>{{ contest.name }}</h2>

    {% if firstPhoto %}
        <h3>{{ "page.taxomonic_result.h3.first_photo"|trans }}</h3>
        <table class="table display table-bordered text-center">
            <thead>
                <tr>
                    <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                    <th>{{ "form.taxomonic_result.label.num_first_photo"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for f in firstPhoto %}
                    <tr>
                        <td>
                            {{ link_to_user(f) }}
                        </td>
                        <td style="vertical-align: middle;">
                            {{ f.firstPhoto }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if validSpeciesPhotos %}
        <h3>{{ "page.taxomonic_result.h3.valid_species_photo"|trans }}</h3>
        <table class="table display table-bordered text-center">
            <thead>
                <tr>
                    <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                    <th>{{ "form.taxomonic_result.label.num_valid_species_photos"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for vsp in validSpeciesPhotos %}
                    <tr>
                        <td>
                            {{ link_to_user(vsp) }}
                        </td>
                        <td style="vertical-align: middle;">
                            {{ vsp.validSpeciesPhoto }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if validSpecies %}
        <h3>{{ "page.taxomonic_result.h3.valid_species"|trans }}</h3>
        <table class="table display table-bordered text-center">
            <thead>
                <tr>
                    <th style="width:50%">{{ "form.taxomonic_result.label.user"|trans }}</th>
                    <th>{{ "form.taxomonic_result.label.num_valid_species"|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for vs in validSpecies %}
                    <tr>
                        <td>
                            {{ link_to_user(vs) }}
                        </td>
                        <td style="vertical-align: middle;">
                            {{ vs.validSpecies }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
