
{{ form_start(form) }}

<div class="form-group">
    {{ form_row(form.name) }}
</div>
<div class="form-group">
    {{ form_row(form.email) }}
</div>
<div class="form-group">
    {{ form_row(form.phone) }}
</div>
<div class="form-group">
    {{ form_row(form.description) }}
</div>

<div class="g-recaptcha" data-sitekey="6Ld1EtMSAAAAAMSh3AqjGhVvZBvyl3hN2Psindfp"></div>

<div class="form-group" style="margin-bottom: 0px">
    <button type="submit" class="btn btn-primary dim btn-block">{{ "page.contests.send_message"|trans }}</button>
</div>

{{ form_end(form) }}

