{% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/datatables.min.js') }}"></script>
{% endblock %}

{% block heading_title %}
    {{ "form.identification_group.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.identification_group"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('identification_group_admin_new') }}" class="btn btn-primary">{{ "form.identification_group.btn.add"|trans }}</a>
{% endblock %}

{% block form_title_description %}
    {{ "form.identification_group.text.description"|trans }}
{% endblock %}

{% block body -%}
    <table id="datatable-list" class="table display table-striped table-bordered table-hover " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{{ "form.identification_group.label.module"|trans }}</th>
                <th>{{ "form.identification_group.label.name_group"|trans }}</th>
                <th>{{ "form.identification_group.label.criteria"|trans }}</th>
                <th>{{ "form.common.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {% if entity.module is not empty %}
                            {{ entity.module.translate.name }}
                        {% endif %}
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>
                        {% for criteria in entity.criterias %}
                            {{ criteria.translate.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-white btn-sm" href="{{ path('identification_group_admin_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> {{ "forms.common.btn.edit"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('identification_group_admin_new') }}">
        <i class="fa fa-pencil"></i>  {{ "form.identification_group.btn.add"|trans }}
    </a>

    {% endblock %}
