{% extends 'SkaphandrusAppBundle::angular_layout.html.twig' %}

{% block page_title %}{% trans with {'%module_name%': module.name} %}page.criterias.meta_tag.title{% endtrans %}{% endblock %}

{% block page_description %}{% endblock %}

{% set keywords = module.name %} 
{% set keywords = keywords~', '~("meta_tag.keyword.fish"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.animals"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.sea"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.ocean"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.marine"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.id"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.identification"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.guide"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.facts"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.criterias"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.type"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.pictures"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.images"|trans) %}
{% set keywords = keywords~', '~("meta_tag.keyword.photos"|trans) %}

{% block page_keywords %}{{keywords}}{% endblock %}

{% block hreflang %}
    <link rel="alternate" hreflang="pt" href="{{ app.request.getSchemeAndHttpHost() ~ path('criterias', {'slug': slugify(module.translate('pt').name), 'locale': 'pt'}) }}" />
    <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('criterias', {'slug': slugify(module.translate('en').name), 'locale': 'en'}) }}" />
{% endblock %}


{% block heading_title %}
    {{ module.name }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement"><a href="{{ path('index')}}">{{ "page.common.breadcrumb.homepage"|trans }}</a></li>
        <li itemprop="itemListElement"><a href="{{ path('modules')}}">{{ "page.modules.breadcrumb.modules"|trans }}</a></li>
        <li itemprop="itemListElement" class="active"><strong>{{ module.name }}</strong></li>
    </ol>
{% endblock %}

{% block heading_action %}
    <a href="{{ path('photo_admin_new') }}" class="btn btn-primary">{{ "form.photo.btn.add"|trans }}</a>
{% endblock %}

{% block angular_app %}criteriasApp{%endblock%}

{% block stylesheets %}
    {{ parent() }}
    <style>

        input[type=checkbox] {
            display:none;
        }

        input[type=checkbox] + label
        {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
            background-color: white;
            height: 140px;
            width: 140px;
            display:inline-block;
            padding: 0 0 0 0px;
            margin-bottom: 0px;
            font-weight: normal;
        }

        input[type=checkbox]:checked + label
        {
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
            background-size: 100%;
            height:140px;
            width: 140px;
            display:inline-block;
            padding: 0 0 0 0px;
            box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
            margin-bottom: 0px;
        }


        input[type=checkbox]:hover + label
        {
            cursor: pointer; 
            cursor: hand; 
        }

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        angular.module('criteriasApp', []).controller('MainCtrl', ['$http', function ($http) {

        var self = this;
                //views vars
                self.criterias = [];
                self.species = [];
                self.infoSpecies;
                //visible view
                self.showCriterias = true;
                //selected ids from vars
                self.characters_ids = [];
                self.species_ids = [];
                self.criterias_ids = [];
                self.selected = [];
                ///////////////////////////////////////////////////////////////////
                //get criterias list on server
                ///////////////////////////////////////////////////////////////////    
                var updateCriterias = function () {
                return $http({
                url: '/{{ app.request.locale }}/app/criterias.json',
                        method: "POST",
                        async : true,
                        params: {module_id:{{module.id}}, 'species[]': self.species_ids}
                })
                        .then(function (response) {
                        //show and hide criterias according response
                        //need implementation!!!!!!

                        //update criterias view
                        self.criterias = response.data;
                                //update matched criterias(not implemented)
                                for (key in response.data) {
                        self.criterias_ids.push(self.criterias[key].id);
                        }

                        }, function (errResponse) {
                        console.error('Error while fetching criterias');
                        });
                };
                ///////////////////////////////////////////////////////////////////
                //get species list on server
                ///////////////////////////////////////////////////////////////////   
                var updateSpecies = function(){
                return $http({
                url: '/{{ app.request.locale }}/app/species.json',
                        method: "POST",
                        async : true,
                        params: {module_id:{{module.id}}, 'characters[]': self.characters_ids}
                })
                        .then(function (response) {
                        //update species view
                        self.species = response.data;
                                //update species ids lista (para ser utilizada na chamadas dos criterios)
                                for (key in self.species) {
                        self.species_ids.push(self.species[key].id);
                        }
                        }, function (errResponse) {
                        console.error('Error while fetching species');
                        });
                };
                updateCriterias(); updateSpecies();
                //user click criterias
                self.clickCriterias = function () {
                self.showCriterias = true;
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                };
                //user click species
                self.clickSpecies = function (id) {
                $http({
                url: '/{{ app.request.locale }}/app/speciesinfo.json',
                        method: "GET",
                        async : true,
                        params: {module_id:{{module.id}}, species_id: id}
                })
                        .then(function (response) {
                        self.infoSpecies = response.data;
                                //self.currentTab = tab;
                                self.showCriterias = false;
                        }, function (errResponse) {
                        console.error('Error while fetching infoSpecies');
                        });
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                };
                //user click character
                self.clickCharacter = function (id, selected) {
                //find clicked characters
                if (selected) {
                self.characters_ids.push(id);
                }
                else {
                self.characters_ids.splice(self.characters_ids.indexOf(id), 1);
                }
                updateSpecies();
                        // .then(updateCriterias);
                };
        }])
                .config(['$httpProvider', '$interpolateProvider', function ($httpProvider, $interpolateProvider) {
                // Set the content type to be FORM type for all post requests
                // This does not add it for GET requests.
                $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
                }]);</script>

    <script type="text/javascript">
                $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                        $('.ibox-content-species').slimScroll({
                height: '600px'
                });
                        $('.ibox-content-criterias').slimScroll({
                height: '600px'
                });
                });
    </script>

{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class ="container">
            <div class="row">

                <div class="col-md-3" >
                    <div  data-spy="affix" data-offset-top="156" style="width: 265px;top: 0;">
                        <div class="ibox" >
                            <div class="ibox-title">
                                <h5>{{ "page.criterias.h5.species_list"|trans }}</h5>
                            </div>
                            <div class="ibox-content ibox-content-species">
                                <ul class="list-group clear-list ">
                                    <li ng-repeat="specie in mainCtrl.species" class="list-group-item" style="border-top: medium none !important;">
                                        <a src="#" ng-click="mainCtrl.clickSpecies(specie.id,'tab2')">{[{specie.name}]}</a>
                                        <!-- <a style="max-width: 265px" class="thumbnail" src="#"><img ng-click="mainCtrl.clickSpecies(specie.id,'tab2')" src='{[{specie.image_src}]}'</img></a>-->
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div ng-switch="mainCtrl.currentTab">-->

                <!-- TAB - lista de criterios -->
                <div ng-show="mainCtrl.showCriterias" class="col-md-9" >
                    <div class="ibox" >
                        <div class="ibox-title">
                            <h5>{{ "page.criterias.h5.criterias_list"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <form>
                                <ul class="list-unstyled list-group clear-list">
                                    <li class="list-group-item" ng-repeat="(key,criteria) in mainCtrl.criterias" style="border-top: medium none !important;" >
                                        <label ng-bind="criteria.name"></label>
                                        <ul class="list-inline customChList lstn">
                                            <li ng-repeat="character in criteria.characters"  >
                                                <a href="#" class="thumbnail" >
                                                    <input  type="checkbox" id="{[{character.id}]}" ng-model="selected" ng-click="mainCtrl.clickCharacter(character.id,selected)" >
                                                    <label style="background-image: url('{[{character.image_url}]}');" for="{[{character.id}]}" ng-bind="character.name" ></label>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- TAB - info about one species -->
                <div ng-hide="mainCtrl.showCriterias"  class="col-md-9" >

                    <div class="ibox" id="ibox-species.info" >
                        <div class="ibox-title">
                            <h5>{{ "page.criterias.h5.species_info"|trans }}</h5>
                        </div>
                        <div class="ibox-content">
                            <h4><strong>{[{mainCtrl.infoSpecies.name}]}</strong></h4>



                            <h5>{{ "page.species.h5.taxonomic_structure"|trans }}</h5>
                            <ul class="list-unstyled">
                                <li>{{ "page.species.label.species_class"|trans }}: {[{mainCtrl.infoSpecies.class}]}</li>
                                <li>{{ "page.species.label.species_order"|trans }}: {[{mainCtrl.infoSpecies.order}]}</li>
                                <li>{{ "page.species.label.species_family"|trans }}: {[{mainCtrl.infoSpecies.family}]}</li>
                            </ul>


                            <h5>{{ "page.species.h5.photos"|trans }}</h5>
                            <div class="row" >
                                <div ng-repeat="img in mainCtrl.infoSpecies.images | limitTo:4" class="col-xs-6 col-md-3">
                                    <div align="center" class="thumbnail" ng-switch on="img.is_illustration">
                                        <div ng-switch-when="true">
                                            <!-- code to render a large video block-->
                                            <a href="#" class="thumbnail">
                                                <img ng-src="{[{img.image_src}]}"/>
                                            </a>
                                        </div>
                                        <div ng-switch-default>
                                            <!-- code to render the regular video block -->
                                            <a href="#" class="thumbnail">
                                                <img ng-src="{[{img.image_src}]}"/>
                                            </a>
                                        </div>
                                        <p>{{"page.species.p.photographer"|trans}}: {[{img.photographer}]}</p>
                                        <p>{{"page.species.p.license"|trans}}: {[{img.license}]}</p>
                                    </div>
                                </div>
                            </div>


                            <h5>{{ "page.species.h5.description"|trans }}</h5>
                            <p>{[{mainCtrl.infoSpecies.description}]}</p>


                            <h5>{{ "page.species.h5.common_names"|trans }}</h5>
                            <ul class="list-unstyled col-md-4" ng-repeat="inf in mainCtrl.infoSpecies.common_names" >
                                <li>{[{inf.name}]}, {[{inf.culture}]}</li>
                            </ul>


                            <!--
                            <h5>{{ "page.species.h3.species_criteria"|trans }}</h5>
                            
                            <ul class="list-unstyled">
                            <li ng-repeat="crit in mainCtrl.infoSpecies.criterias"> 
                                        {[{crit.name}]}
                                        <ul class="list-unstyled">
                                            <li ng-repeat="char in crit.characters"	>
                                                <img class="thumbnail" ng-src="http://skaphandrus.com/{[{char.image_url}]}" /> 
                                                {[{char.name}]}
                                            </li>
                                        </ul>   
                                    </ul>
                            
                            -->


                            <button class='btn btn-primary' ng-click="mainCtrl.clickCriterias();"><i class='fa fa-chevron-left'></i>
                                Back to Criterias
                            </button>

                        </div>
                    </div>

                </div>
                <!-- </div> end main tabs -->

            </div>
        </div>
    </div><!-- end wrapper -->

{% endblock %}
