<div class="ibox float-e-margins">
    <div class="ibox-content mailbox-content">
        <div class="file-manager">
            <a class="btn btn-block btn-primary compose-mail" href="{{ url('fos_message_thread_new' )}}">{{ "page.messages.label.compose_mail"|trans }}</a>
            <div class="space-25"></div>
            <h5>{{ "page.messages.h5.folders"|trans }}</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
                <li><a href="{{ url('fos_message_inbox') }}"> <i class="fa fa-inbox "></i> {{ "page.messages.label.inbox"|trans }} {% if fos_message_nb_unread() > 0 %}<span class="label label-warning pull-right">{{ fos_message_nb_unread() }}</span>{% endif %} </a></li>
                <li><a href="{{ url('fos_message_sent') }}"> <i class="fa fa-envelope-o"></i> {{ "page.messages.label.sent_mail"|trans }}</a></li>
                <!-- <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Important</a></li>
                <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li> -->
                <li><a href="{{ url('fos_message_deleted') }}"> <i class="fa fa-trash-o"></i> {{ "page.messages.label.trash"|trans }}</a></li>
            </ul>
            <!-- <h5>Categories</h5>
            <ul class="category-list" style="padding: 0">
                <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
            </ul> -->

            <!-- <h5 class="tag-title">Labels</h5>
            <ul class="tag-list" style="padding: 0">
                <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
            </ul> -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
