{% extends '@SkaphandrusMadeiraBundle/Resources/views/layout.html.twig' %}

{% block contest_menu %}
    <ul class="menuzord-menu border-tb" id="menu-list">
        <li><a href="{{ path('madeira_contest', { 'year': year }) }}">Home</a></li>
        <li class="active"><a href="{{ path('madeira_contest_photos', { 'year': year, 'category_slug' : category_slug }) }}">Photos</a></li>
        <li><a href="{{ path('madeira_contest_photographers', { 'year': year }) }}">Photographers</a></li>
        <li><a href="{{ path('madeira_contest_sponsors', { 'year': year }) }}">Sponsors</a></li>
    </ul>
{% endblock %}


{% block body %}
    welcome to madeira underwater festival 2016!
    
    
      {% for cat in contest.categories %}
                                                <li {% if cat.id == category.id %}class="active"{% endif %}>
                                                    <a href="{{ path('madeira_contest_photos', { 'year': year, 'category_slug' : cat.slugName }) }}">{{ cat.translate(app.request.locale).name }}</a>
                                                </li>
                                                {% endfor %}
    
{% endblock %}
