{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SkSocialNotify</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Messagename</th>
                <td>{{ entity.messageName }}</td>
            </tr>
            <tr>
                <th>Paramfirst</th>
                <td>{{ entity.paramFirst }}</td>
            </tr>
            <tr>
                <th>Paramsecond</th>
                <td>{{ entity.paramSecond }}</td>
            </tr>
            <tr>
                <th>Paramthird</th>
                <td>{{ entity.paramThird }}</td>
            </tr>
            <tr>
                <th>Isread</th>
                <td>{{ entity.isRead }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('notify_admin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notify_admin_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
