
    
    
    
    
    
    
    
    {% extends 'SkaphandrusAppBundle::form_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- Data Tables -->
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/skaphandrusapp/js/plugins/dataTables/dataTables.tableTools.min.js') }}"></script>
<script>
    $(function(){
      // bind change event to select
      $('#group_id').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
    
    
 
    
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Tables -->
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/skaphandrusapp/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
{% endblock %}

{% block heading_title %}
    {{ "form.identification_images.h1.title"|trans }}
{% endblock %}

{% block heading_breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="index.html">{{ "breadcrumb.dashboard"|trans }}</a></li>
        <li class="active"><strong>{{ "breadcrumb.identification_images"|trans }}</strong></li>
    </ol>
{% endblock %}

{% block form_title_description %}
    {{ "form.identification_images.text.description"|trans }}
{% endblock %}

{% block heading_action %}
    <select name="group_id" id="group_id" >
        {% for group in groups %}
            <option value="{{ group.id }}" {% if group.id == group_id %} selected="selected"{% endif %}>{{ group.name }}</option>
        {% endfor %}
    </select> 




    {#{{ form(modules_form) }}#}
{% endblock %}

{% block body -%}
    
    <ul>
{% for criteria in criterias %}
    
        <li>{{criteria}}</li>
        <ul class="list-inline">
        {% for character in criteria.characters %}
            <li>{{character}}<br/>
            <img alt="image" class="img-responsive" style="width: 100px" src="{{ character.getWebPath | imagine_filter('sk_widen_240') }}" />
            </li>
        
        
        {% endfor %}
        </ul>
    
     {% endfor %}
     </ul>
    
    
    {% endblock %}
